/* 	0093dd biru tosca
	01428c biru tua
	f8c200 aksen kuning
*/
body {
  margin: 0;
}

.left-tidy {
  padding-left: 20px;
}

.right-tidy {
  padding-right: 20px;
}

.top-tidy {
  padding-top: 20px;
}

.bottom-tidy {
  padding-bottom: 20px;
}

.all-tidy {
  padding: 20px;
}

.bottom-space {
  margin-bottom: 20px;
}

.left-space {
  margin-left: 20px;
}

.right-space {
  margin-right: 20px;
}

.top-space {
  margin-top: 20px;
}

.under-shadow {
  -webkit-box-shadow: -1px 6px 19px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 6px 19px -4px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 6px 19px -4px rgba(0, 0, 0, 0.75);
}

.row-container {
  position: relative;
}

.login-container {
  position: relative;
  height: 100vh;
}
.login-container .login-form-container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.login-container .login-form-container .logo img {
  height: 150px;
  width: 300px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.btn-primary {
  color: #fff;
  background-color: #01428c;
}

.btn-primary:hover {
  color: #fff;
  background-color: #013065;
}

.btn-sam-full {
  width: 100%;
}

.btn-bottom-space {
  margin-bottom: 10px;
}

.header {
  background-color: #01408c;
}

.header-acsen {
  width: 100%;
  background-color: #f8c200;
  border-radius: 0 20% 0 20%;
}

.container-fluid-sam {
  padding-left: 0;
  padding-right: 0;
}

.logo-pull-right {
  padding: 15px;
}
.logo-pull-right img {
  float: right;
  height: 80px;
  width: 200px;
}

.title {
  width: 300px;
  padding: 0;
  float: left;
  text-align: center;
  color: #01428c;
}

.menu-container {
  background-color: #01428c;
}

.nav-side-menu {
  overflow: auto;
  font-family: verdana;
  font-size: 12px;
  font-weight: 200;
  background-color: #01428c;
  position: fixed;
  top: 110px;
  width: 300px;
  height: 100%;
  color: #e1ffff;
  z-index: -1;
}

.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;
}

.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "\f078";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}

.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  background-color: #0093dd;
  border: none;
  line-height: 28px;
  border-bottom: 1px solid #23282e;
  margin-left: 0px;
}

.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
  font-family: FontAwesome;
  content: "\f105";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}

.nav-side-menu li {
  padding-left: 0px;
}

.nav-side-menu li a {
  text-decoration: none;
  color: #fff;
}

.nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}
