body {
	margin: 0px;
	padding: 0;
	color: #ffffff;
	font-size:12px !important;
}

h1, h2, h3 {
	margin-top: 0;
}

h1 {
	font-size: 1.6em;
	font-weight: normal;
}

h2 {
	font-size: 1.6em;
}

h3 {
	font-size: 1em;
	margin-top:20px;
}

ul {
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a img {
	border: none;
}

img.left {
	float: left;
	margin: 0 20px 0 0;
}

img.right {
	float: right;
	margin: 0 0 0 20px;
}

/* Header */
#header {
    padding: 4px 0px;
    height: 75px;
    position: relative;
}

#logo {
    text-align: left;
}

/* Menu */
#menu {
    position: absolute;
    top:25px;
    right:15px;
	padding: 0;
	height: 59px;
    overflow: hidden;
}

#menu ul {
	margin: 0;
	list-style: none;
}

#menu li {
	display: inline;
}

#menu li a {
	display: block;
	float: left;
	height: 42px;
	margin: 0;
	padding: 18px 40px 0 40px;
	text-decoration: none;
	font-size: 20px;
}

#menu li a:hover {
	text-decoration: underline;
}

#globalthemeswitcher {
    position:absolute;
    top:5px;
    right:50px;
}

/* Page */
#page {
	padding: 10px 0px;
	background: #FFFFFF;
}


/* Content */
#content {
	width: 70%;
    float:left;
}

.post {
	padding-bottom: 15px;
}

.post h1 {
	font-weight: normal;
}

.title {
	height: 30px;
	margin-left: 10px;
	padding: 8px 0 0 20px;
}

.title a {
	border-bottom: none;
	color: #FFFFFF;
}

.title a:hover {
	border-bottom: 1px dotted #000000;
}

.submenu-title {
    padding: 4px 10px;
}

.submenu-content {
    text-align:center;
}

.byline {
	margin: -60px 20px 20px 20px;
}

.byline a {
	color: #DC8700;
}

.tag {
	padding: 0 15px;
}

.entry {
	padding: 0 20px;
}

.entry p {
	line-height: 200%;
}

.links {
	padding: 4px 0px;
	text-align: right;
	font-weight: bold;
}

.links a {
	border: none;
}

.links a:hover {
}

#sidebar {
	float: left;
	width: 25%;
	padding: 0 10px;
	margin-left: -1px;
    overflow: hidden;
}

#sidebar a.ui-state-hover, 
#sidebar a.ui-state-highlight {
    border:0 none;
    text-decoration: none;
    font-weight: normal;
}

#sidebar table {
    width: 100%;
}

#sidebar table td {
    vertical-align: top;
}

#sidebar ul {
    padding: 0;
    margin: 0;
}

#sidebar ul li {
    list-style-type: none;
    padding: 1px;
}

/* Footer */
#footer {
	height: 70px;
	margin: 0 auto;
	padding: 0 20px;
    font-size: 14px;
}

#footer p {
	margin: 0;
	padding: 25px 0 0 0;
	text-align: center;
}

#footer a {
}

#footer .link {
	float: right;
}

#footer .copyright {
	float: left;
}

.homeText {
	line-height: 175%;
}

.homeMenu {
	width:200px;
	float:left;
	margin-right:10px
}

.themeMenu {
    overflow: auto;
    height:300px;
    width:200px;
}

.dp-xml {
    width:1000px;
}

.ui-themeswitcher a.ui-selectonemenu-label-container {
    text-decoration: none !important;
}

.ui-widget {
    font-size: 12px !important;
}



.ui-datatable td,.ui-datatable th {
    white-space: normal;
}
.header {
    background: #01428c;
}
div.header div.ui-layout-unit-content {
	background: #f8c200;	
	background-position:top;
	background-size:auto 164px;
	padding:0px !important;
	border-radius: 0 20% 0 20%;
}
.header .ui-widget-content{
	padding: 0em !important;
}
.input2{
	width: 150px;
}

input[type="text"][disabled] {
   color: black;
}
.editButton{
	margin-right: 5px;	
}
.titleMain{
	text-align: right;
	margin-right: 60px;
	margin-top: 1px;
	float: right;
}

.titleMainPersesi{
	text-align: left;
	margin-right: 958px;
	margin-top: 8px;
	float: right;
	color: #FFF;
	font-size: 30px;
}
.panelGridStyle tbody tr td input{
	width: 150px;
}
input[type="text"][disabled] {
   color: black;
}
.toolbar{
	padding:0em !important;
	display: inherit;
	height: 35px !important; 
	color:white !important; 
	margin-top:60.7px !important;
	margin-bottom: 0px !important;
	overflow: hidden !important;
}
.welcome-msg { font-family: "IMFELLEnglishItalic", Georgia, serif; }
.panelGrid-label{
	width: 160px !important;	
}
.panelGrid-label-user{
	width: 250px !important;	
}
.panelGrid-label-rtgs{
	width: 200px !important;	
}
.panelGrid-label-parameter{
	width: 160px !important;	
}	
.panelGrid-value-parameter{
	width: 250px !important;	
}
.panelGrid-label-branch{
	width: 160px !important;	
}	
.panelGrid-value-branch{
	width: 250px !important;	
}
.panelGrid-value{
	width: 440px !important;
}
.panelGrid-value-rtgs{
	width: 200px !important;
}
.panelGrid-value-user{
	width: 325px !important;
}
.panelGrid-value-role{
	width: 300px !important;
}
.panelGrid-value-scheduler{
	width: 600px !important;
}
.panelGrid-value-aggregator{
	width: 150px !important;
}
.panelGrid-value-collectingAgent{
	width: 300px !important;
}
.panelGrid-separator{
	width: 10px !important;
}
.user-role, .user-detail{
	vertical-align: top !important;
}
.menu-item{
	width: 95% !important;
}
.filter-menu .ui-layout-unit-content{
	overflow: hidden !important;
}
.header .ui-layout-unit-content{
	overflow: hidden !important;
}

.ui-datatable-even{
	background: #F9F9F9 !important;
}
.panel-noborder tr,
.panel-noborder tr>td {
    border: none !important;
    padding: 0px !important;
}

.ui-datatable table{
	border-collapse:collapse;
	font-size:12px;
}

.ui-confirm-dialog{
	color:black;
	font-size:12px !important;
	text-align:center;
}

.ui-action-view{
	font-weight:bold ; 
	text-decoration:underline ;
	color:#F85000 !important;
}

.ui-action-edit-delete{
	font-style:italic ; 
	text-decoration:underline ;
	color:#F85000 !important; 
}

.validation-message{
	color:#CD0A0A !important; 
}

