<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions"
	template="/resources/components/layout.xhtml">
	
	<ui:define name="dialog">
	
		<p:dialog header="View Scheduler #{schedulerHandler.task.id}" id="view" widgetVar="viewScheduler" modal="true"
			resizable="true">
			<h:form id="viewForm">
			<h:panelGrid id="insertOrEditGrid" columns="1" style="vertical-align:top;" columnClasses="user-detail,user-role">				
				<p:panelGrid   columns="2" columnClasses="panelGrid-label, panelGrid-value-scheduler">
					<f:facet name="header">Task's Detail</f:facet>
					
					<h:outputText value="Scheduler Id"></h:outputText>
					<h:outputText value="#{schedulerHandler.task.id}"></h:outputText>
					
					<h:outputText value="Job Name"></h:outputText>
					<h:outputText value="#{schedulerHandler.task.jobName}"></h:outputText>
					
					<h:outputText value="Execution Service"></h:outputText>
					<h:outputText value="#{schedulerHandler.task.executionService}"></h:outputText>
					
					<h:outputText value="Schedule Type"></h:outputText>
					<h:outputText value="#{schedulerHandler.task.schedulerType}"></h:outputText>
					
					<h:outputLabel  value="Date" rendered="#{schedulerHandler.runOnce}" />	
					<p:column  rendered="#{schedulerHandler.runOnce}">
						<h:outputText value="#{schedulerHandler.task.date}"></h:outputText> 
					</p:column>
					
					<h:outputLabel value="Time" rendered="#{schedulerHandler.runOnce}"/>
					<p:column rendered="#{schedulerHandler.runOnce}">
						<h:outputText value="#{schedulerHandler.task.time}"></h:outputText> 
					</p:column>
					
					<h:outputLabel value="Start Date" rendered="#{schedulerHandler.repeatingOrComplexRepeating}"/>
					<p:column rendered="#{schedulerHandler.repeatingOrComplexRepeating}">
						<h:outputText value="#{schedulerHandler.task.startDate}"></h:outputText> 
					</p:column>
					
					<h:outputLabel value="Start Time" rendered="#{schedulerHandler.repeatingOrComplexRepeating}"/>
					<p:column rendered="#{schedulerHandler.repeatingOrComplexRepeating}">
						<h:outputText value="#{schedulerHandler.task.startTime}"></h:outputText> 
					</p:column>
					
					<h:outputLabel value="End Date" rendered="#{schedulerHandler.repeatingOrComplexRepeating}"/>
					<p:column rendered="#{schedulerHandler.repeatingOrComplexRepeating}">	
						<h:outputText value="#{schedulerHandler.task.endDate}"></h:outputText> 
					</p:column>	
					
					<h:outputLabel value="End Time" rendered="#{schedulerHandler.repeatingOrComplexRepeating}"/>
					<p:column rendered="#{schedulerHandler.repeatingOrComplexRepeating}">	
						<h:outputText value="#{schedulerHandler.task.endTime}"></h:outputText>
					</p:column>	
					
					
					<h:outputLabel value="Interval" rendered="#{schedulerHandler.repeating}"/>
					<p:column rendered="#{schedulerHandler.repeating}">	
						<h:outputText value="#{schedulerHandler.task.interval}"></h:outputText> seconds
					</p:column>
					<h:outputLabel value="Run Mask" rendered="#{schedulerHandler.complexRepeating}"/>
					<p:column rendered="#{schedulerHandler.complexRepeating}">
						<h:outputText value="Month : #{schedulerHandler.task.maskMonth} , "></h:outputText>
						<h:outputText value="Day : #{schedulerHandler.task.maskDay} , "></h:outputText>
						<h:outputText value="Weekly Day : #{schedulerHandler.task.maskWeeklyDay} , "></h:outputText>
						<h:outputText value="Start Hour : #{schedulerHandler.task.maskHour} , "></h:outputText>
						<h:outputText value="End Hour : #{schedulerHandler.task.maskHourEnd} , "></h:outputText>
						<h:outputText value="Minute : #{schedulerHandler.task.maskMinute}"></h:outputText>
					</p:column>
					
					<h:outputText value="History"></h:outputText>
					<p:commandLink style="text-decoration:underline" value="Hide" icon="ui-icon-search" rendered="#{schedulerHandler.doShowHistory}">
						<p:ajax event="click" listener="#{schedulerHandler.hideHistory}" update=":viewForm ">
						</p:ajax>
					</p:commandLink>
					<p:commandLink style="text-decoration:underline" value="Show" icon="ui-icon-search" rendered="#{!schedulerHandler.doShowHistory}">
						<p:ajax event="click" listener="#{schedulerHandler.showHistory}" update=":viewForm ">
						</p:ajax>
					</p:commandLink>
					
				</p:panelGrid>
				<p:panelGrid columns="2" columnClasses="panelGrid-label, panelGrid-value-scheduler" rendered="#{schedulerHandler.doShowHistory}">
					<f:facet name="header">History</f:facet>
					<h:outputText value="Create Date"></h:outputText>
					<h:outputText value="#{schedulerHandler.task.createDate}"></h:outputText>
					
					<h:outputText value="Create By"></h:outputText>
					<h:outputText value="#{schedulerHandler.task.createWho}"></h:outputText>
					
					<h:outputText value="Change Date"></h:outputText>
					<h:outputText value="#{schedulerHandler.task.changeDate}"></h:outputText>
					
					<h:outputText value="Change By"></h:outputText>
					<h:outputText value="#{schedulerHandler.task.changeWho}"></h:outputText>
					
					<h:outputText value="Approval Date"></h:outputText>
					<h:outputText value="#{schedulerHandler.task.approvalDate}"></h:outputText>
					
					<h:outputText value="Approval By"></h:outputText>
					<h:outputText value="#{schedulerHandler.task.approvalBy}"></h:outputText>
					
					<h:outputText value="Approval Status"></h:outputText>
					<h:outputText value="#{schedulerHandler.task.approvalStatus}"></h:outputText>
				</p:panelGrid>
			</h:panelGrid>
			</h:form>
		</p:dialog>	
		
		<p:dialog header="View Scheduler Edit #{schedulerHandler.task.id}" id="viewEdit" widgetVar="viewSchedulerEdit" modal="true"
			resizable="true">
			<h:form id="viewFormEdit">
			<h:panelGrid id="insertOrEditGridEdit" columns="2" style="vertical-align:top;" columnClasses="user-detail,user-role">				
				<p:panelGrid   columns="2" columnClasses="panelGrid-label, panelGrid-value-scheduler">
					<f:facet name="header">Current Task's Detail</f:facet>
					
					<h:outputText value="Scheduler Id"></h:outputText>
					<h:outputText value="#{schedulerHandler.task.id}"></h:outputText>
					
					<h:outputText value="Job Name"></h:outputText>
					<h:outputText value="#{schedulerHandler.task.jobName}"></h:outputText>
					
					<h:outputText value="Execution Service"></h:outputText>
					<h:outputText value="#{schedulerHandler.task.executionService}"></h:outputText>
					
					<h:outputText value="Schedule Type"></h:outputText>
					<h:outputText value="#{schedulerHandler.task.schedulerType}"></h:outputText>
					
					<h:outputLabel  value="Date" rendered="#{schedulerHandler.runOnce}" />	
					<p:column  rendered="#{schedulerHandler.runOnce}">
						<h:outputText value="#{schedulerHandler.task.date}"></h:outputText> 
					</p:column>
					
					<h:outputLabel value="Time" rendered="#{schedulerHandler.runOnce}"/>
					<p:column rendered="#{schedulerHandler.runOnce}">
						<h:outputText value="#{schedulerHandler.task.time}"></h:outputText> 
					</p:column>
					
					<h:outputLabel value="Start Date" rendered="#{schedulerHandler.repeatingOrComplexRepeating}"/>
					<p:column rendered="#{schedulerHandler.repeatingOrComplexRepeating}">
						<h:outputText value="#{schedulerHandler.task.startDate}"></h:outputText> 
					</p:column>
					
					<h:outputLabel value="Start Time" rendered="#{schedulerHandler.repeatingOrComplexRepeating}"/>
					<p:column rendered="#{schedulerHandler.repeatingOrComplexRepeating}">
						<h:outputText value="#{schedulerHandler.task.startTime}"></h:outputText> 
					</p:column>
					
					<h:outputLabel value="End Date" rendered="#{schedulerHandler.repeatingOrComplexRepeating}"/>
					<p:column rendered="#{schedulerHandler.repeatingOrComplexRepeating}">	
						<h:outputText value="#{schedulerHandler.task.endDate}"></h:outputText> 
					</p:column>	
					
					<h:outputLabel value="End Time" rendered="#{schedulerHandler.repeatingOrComplexRepeating}"/>
					<p:column rendered="#{schedulerHandler.repeatingOrComplexRepeating}">	
						<h:outputText value="#{schedulerHandler.task.endTime}"></h:outputText>
					</p:column>	
					
					
					<h:outputLabel value="Interval" rendered="#{schedulerHandler.repeating}"/>
					<p:column rendered="#{schedulerHandler.repeating}">	
						<h:outputText value="#{schedulerHandler.task.interval}"></h:outputText> seconds
					</p:column>
					<h:outputLabel value="Run Mask" rendered="#{schedulerHandler.complexRepeating}"/>
					<p:column rendered="#{schedulerHandler.complexRepeating}">
						<h:outputText value="Month : #{schedulerHandler.task.maskMonth} , "></h:outputText>
						<h:outputText value="Day : #{schedulerHandler.task.maskDay} , "></h:outputText>
						<h:outputText value="Weekly Day : #{schedulerHandler.task.maskWeeklyDay} , "></h:outputText>
						<h:outputText value="Start Hour : #{schedulerHandler.task.maskHour} , "></h:outputText>
						<h:outputText value="End Hour : #{schedulerHandler.task.maskHourEnd} , "></h:outputText>
						<h:outputText value="Minute : #{schedulerHandler.task.maskMinute}"></h:outputText>
					</p:column>
				</p:panelGrid>
				<p:panelGrid   columns="2" columnClasses="panelGrid-label, panelGrid-value-scheduler">
					<f:facet name="header">Pending Task's Detail</f:facet>
					
					<h:outputText value="Scheduler Id"></h:outputText>
					<h:outputText value="#{schedulerHandler.tempTask.id}"></h:outputText>
					
					<h:outputText value="Job Name"></h:outputText>
					<h:outputText value="#{schedulerHandler.tempTask.jobName}"></h:outputText>
					
					<h:outputText value="Execution Service"></h:outputText>
					<h:outputText value="#{schedulerHandler.tempTask.executionService}"></h:outputText>
					
					<h:outputText value="Schedule Type"></h:outputText>
					<h:outputText value="#{schedulerHandler.tempTask.schedulerType}"></h:outputText>
					
					<h:outputLabel  value="Date" rendered="#{schedulerHandler.runOncePending}" />	
					<p:column  rendered="#{schedulerHandler.runOncePending}">
						<h:outputText value="#{schedulerHandler.tempTask.date}"></h:outputText> 
					</p:column>
					
					<h:outputLabel value="Time" rendered="#{schedulerHandler.runOncePending}"/>
					<p:column rendered="#{schedulerHandler.runOncePending}">
						<h:outputText value="#{schedulerHandler.tempTask.time}"></h:outputText> 
					</p:column>
					
					<h:outputLabel value="Start Date" rendered="#{schedulerHandler.repeatingOrComplexRepeatingPending}"/>
					<p:column rendered="#{schedulerHandler.repeatingOrComplexRepeatingPending}">
						<h:outputText value="#{schedulerHandler.tempTask.startDate}"></h:outputText> 
					</p:column>
					
					<h:outputLabel value="Start Time" rendered="#{schedulerHandler.repeatingOrComplexRepeatingPending}"/>
					<p:column rendered="#{schedulerHandler.repeatingOrComplexRepeatingPending}">
						<h:outputText value="#{schedulerHandler.tempTask.startTime}"></h:outputText> 
					</p:column>
					
					<h:outputLabel value="End Date" rendered="#{schedulerHandler.repeatingOrComplexRepeatingPending}"/>
					<p:column rendered="#{schedulerHandler.repeatingOrComplexRepeatingPending}">	
						<h:outputText value="#{schedulerHandler.tempTask.endDate}"></h:outputText> 
					</p:column>	
					
					<h:outputLabel value="End Time" rendered="#{schedulerHandler.repeatingOrComplexRepeatingPending}"/>
					<p:column rendered="#{schedulerHandler.repeatingOrComplexRepeatingPending}">	
						<h:outputText value="#{schedulerHandler.tempTask.endTime}"></h:outputText>
					</p:column>	
					
					
					<h:outputLabel value="Interval" rendered="#{schedulerHandler.repeatingPending}"/>
					<p:column rendered="#{schedulerHandler.repeatingPending}">	
						<h:outputText value="#{schedulerHandler.tempTask.interval}"></h:outputText> seconds
					</p:column>
					<h:outputLabel value="Run Mask" rendered="#{schedulerHandler.complexRepeatingPending}"/>
					<p:column rendered="#{schedulerHandler.complexRepeatingPending}">
						<h:outputText value="Month : #{schedulerHandler.tempTask.maskMonth} , "></h:outputText>
						<h:outputText value="Day : #{schedulerHandler.tempTask.maskDay} , "></h:outputText>
						<h:outputText value="Weekly Day : #{schedulerHandler.tempTask.maskWeeklyDay} , "></h:outputText>
						<h:outputText value="Start Hour : #{schedulerHandler.tempTask.maskHour} , "></h:outputText>
						<h:outputText value="End Hour : #{schedulerHandler.tempTask.maskHourEnd} , "></h:outputText>
						<h:outputText value="Minute : #{schedulerHandler.tempTask.maskMinute}"></h:outputText>
					</p:column>
					
				</p:panelGrid>
			</h:panelGrid>
			</h:form>
		</p:dialog>	
	
	
		<p:dialog header="Insert or Edit Task" id="edit" widgetVar="insertOrEditTask" modal="true"
			resizable="true">
			<h:form id="insertOrEditForm" prependId="false">
			<h:panelGrid id="insertOrEditGrid" columns="2" style="vertical-align:top;" columnClasses="user-detail,user-role">				
				<p:panelGrid   columns="2" columnClasses="panelGrid-label, panelGrid-value-scheduler">
					<f:facet name="header">Task's Detail</f:facet>
					
					<h:outputText value="Scheduler Id"></h:outputText>
					<p:column>
						<h:outputText id="schedulerId" styleClass="noupdate" value="#{schedulerHandler.task.id}" >
						</h:outputText>
						<h:outputText value=" "/>
						<p:message for="schedulerId" styleClass="validation-message" />
					</p:column>	
					
					<h:outputText value="Job Name"></h:outputText>
					<p:column>
						<p:inputText id="jobName" styleClass="noupdate" value="#{schedulerHandler.task.jobName}" required="#{!empty param['save']}">
						</p:inputText>
						<h:outputText value=" "/>
						<p:message for="jobName" styleClass="validation-message" />
					</p:column>	
					
					<h:outputText style="border-right:none" value="Execution Service"></h:outputText>
					<p:column>
						<p:inputText id="executionService" styleClass="noupdate" value="#{schedulerHandler.task.executionService}" required="#{!empty param['save']}">
						</p:inputText>
						<h:outputText value=" "/>
						<p:message for="executionService" styleClass="validation-message" />
					</p:column>	
					
					
					<h:outputLabel value="Schedule Type" />
					<p:selectOneMenu
						required="true" autocomplete="off"
						label="scheduleType"  value="#{schedulerHandler.task.schedulerType}">
						<p:ajax event="change"
								listener="#{schedulerHandler.checkScheduleType}" update=":insertOrEditForm"
								process="@(#insertOrEditGrid :not(.noupdate))"></p:ajax>
						<f:selectItems value="#{schedulerHandler.scheduleTypes}" />
					</p:selectOneMenu>
					<h:outputLabel value="Date"  rendered="#{schedulerHandler.runOnce}" />	
					<p:column rendered="#{schedulerHandler.runOnce}">
						<p:inputMask id="date" value="#{schedulerHandler.task.date}" mask="9999/99/99" required="#{!empty param['save']}">
							<f:validator validatorId="schedulerDateValidator"  disabled="#{empty param['save']}"/>
							<f:validator validatorId="schedulerDatePastValidator"  disabled="#{empty param['save']}"/>
						</p:inputMask> YYYY/MM/DD
						<h:outputText value=" "/>
						<p:message for="date" styleClass="validation-message" />
					</p:column>
					
					<h:outputLabel value="Time" rendered="#{schedulerHandler.runOnce}"/>
					<p:column rendered="#{schedulerHandler.runOnce}">
						<p:inputMask id="time" value="#{schedulerHandler.task.time}"  mask="99:99:99" required="#{!empty param['save']}">
							<f:validator validatorId="schedulerTimeValidator"  disabled="#{empty param['save']}"/>
						</p:inputMask> HH:MM:SS
						<h:outputText value=" "/>
						<p:message for="time" styleClass="validation-message" />
					</p:column>
					
					<h:outputLabel value="Start Date" rendered="#{schedulerHandler.repeatingOrComplexRepeating}"/>
					<p:column rendered="#{schedulerHandler.repeatingOrComplexRepeating}">
						<p:inputMask id="startDate" value="#{schedulerHandler.task.startDate}" mask="9999/99/99" required="#{!empty param['save']}">
							<f:validator validatorId="schedulerDateValidator"  disabled="#{empty param['save']}"/>
						</p:inputMask> YYYY/MM/DD 
						<h:outputText value=" "/>
						<p:message for="startDate" styleClass="validation-message" />
					</p:column>
					
					<h:outputLabel value="Start Time" rendered="#{schedulerHandler.repeatingOrComplexRepeating}"/>
					<p:column rendered="#{schedulerHandler.repeatingOrComplexRepeating}">
						<p:inputMask id="startTime" value="#{schedulerHandler.task.startTime}"  mask="99:99:99" required="#{!empty param['save']}">
							<f:validator validatorId="schedulerTimeValidator"  disabled="#{empty param['save']}"/>
						</p:inputMask> HH:MM:SS 
						<h:outputText value=" "/>
						<p:message for="startTime" styleClass="validation-message" />
					</p:column>
					
					<h:outputLabel value="End Date" rendered="#{schedulerHandler.repeatingOrComplexRepeating}"/>
					<p:column rendered="#{schedulerHandler.repeatingOrComplexRepeating}">	
						<p:inputMask id="endDate" value="#{schedulerHandler.task.endDate}" mask="9999/99/99" required="#{!empty param['save']}">
							<f:validator validatorId="schedulerDateValidator"  disabled="#{empty param['save']}"/>
						</p:inputMask> YYYY/MM/DD 
						<h:outputText value=" "/>
						<p:message for="endDate" styleClass="validation-message" />
					</p:column>	
					
					<h:outputLabel value="End Time" rendered="#{schedulerHandler.repeatingOrComplexRepeating}"/>
					<p:column rendered="#{schedulerHandler.repeatingOrComplexRepeating}">	
						<p:inputMask id="endTime" value="#{schedulerHandler.task.endTime}"  mask="99:99:99" required="#{!empty param['save']}">
							<f:validator validatorId="schedulerTimeValidator"  disabled="#{empty param['save']}"/>
						</p:inputMask> HH:MM:SS 
						<h:outputText value=" "/>
						<p:message for="endTime" styleClass="validation-message" />
					</p:column>	
					
			        
					<h:outputLabel value="Interval" rendered="#{schedulerHandler.repeating}"/>
					<p:column rendered="#{schedulerHandler.repeating}">	
						<p:inputMask id="interval" value="#{schedulerHandler.task.interval}" required="#{!empty param['save']}">
							<f:validator validatorId="numberValidator" disabled="#{empty param['save']}"/>
						</p:inputMask> seconds
						<h:outputText value=" "/>
						<p:message for="interval" styleClass="validation-message" />
					</p:column>
					
					<h:outputLabel value="Run Mask" rendered="#{schedulerHandler.complexRepeating}"/>
					<p:column rendered="#{schedulerHandler.complexRepeating}">
						<p:selectOneMenu 
							 autocomplete="off" value="#{schedulerHandler.task.maskMonth}"
							label="scheduleType">
							<f:selectItem itemLabel="Months"/>
							<f:selectItem itemLabel="January" itemValue="JAN" />
							<f:selectItem itemLabel="February" itemValue="FEB" />
							<f:selectItem itemLabel="March" itemValue="MAR" />
							<f:selectItem itemLabel="April" itemValue="APR" />
							<f:selectItem itemLabel="May" itemValue="MAY" />
							<f:selectItem itemLabel="June" itemValue="JUN" />
							<f:selectItem itemLabel="July" itemValue="JUL" />
							<f:selectItem itemLabel="August" itemValue="AUG" />
							<f:selectItem itemLabel="September" itemValue="SEP" />
							<f:selectItem itemLabel="October" itemValue="OCT" />
							<f:selectItem itemLabel="November" itemValue="NOV" />
							<f:selectItem itemLabel="December" itemValue="DEC" />
						</p:selectOneMenu>
						<h:outputLabel value=" " />
						<p:selectOneMenu
							  autocomplete="off" value="#{schedulerHandler.task.maskDay}"
							label="scheduleType">
							<f:selectItem itemLabel="Days"/>
							<f:selectItem itemLabel="1" itemValue="1" />
							<f:selectItem itemLabel="2" itemValue="2" />
							<f:selectItem itemLabel="3" itemValue="3" />
							<f:selectItem itemLabel="4" itemValue="4" />
							<f:selectItem itemLabel="5" itemValue="5" />
							<f:selectItem itemLabel="6" itemValue="6" />
							<f:selectItem itemLabel="7" itemValue="7" />
						</p:selectOneMenu>
						<h:outputLabel value=" " />
						<p:selectOneMenu
							  autocomplete="off" value="#{schedulerHandler.task.maskWeeklyDay}"
							label="scheduleType">
							<f:selectItem itemLabel="Weekly Days"/>
							<f:selectItem itemLabel="Sunday" itemValue="SUN" />
							<f:selectItem itemLabel="Monday" itemValue="MON" />
							<f:selectItem itemLabel="Tuesday" itemValue="TUE" />
							<f:selectItem itemLabel="Wednesday" itemValue="WED" />
							<f:selectItem itemLabel="Thursday" itemValue="THU" />
							<f:selectItem itemLabel="Friday" itemValue="FRI" />
							<f:selectItem itemLabel="Saturday" itemValue="SAT" />
						</p:selectOneMenu>
						<h:outputLabel value=" " />
						<p:selectOneMenu
							 autocomplete="off" value="#{schedulerHandler.task.maskHour}"
							label="scheduleType">
							<f:selectItem  itemLabel="Start Hours" />
							<f:selectItems value="#{schedulerHandler.hours}" />
						</p:selectOneMenu>
						<h:outputLabel value=" " />
						<p:selectOneMenu
							 autocomplete="off" value="#{schedulerHandler.task.maskHourEnd}"
							label="scheduleType">
							<f:selectItem  itemLabel="End Hours" />
							<f:selectItems value="#{schedulerHandler.hours}" />
						</p:selectOneMenu>
						<h:outputLabel value=" " />
						<p:selectOneMenu
							 autocomplete="off" value="#{schedulerHandler.task.maskMinute}"
							label="scheduleType">
							<f:selectItem itemLabel="Minutes"/>
							<f:selectItems value="#{schedulerHandler.minutes}" />
						</p:selectOneMenu>
					</p:column>
					
				</p:panelGrid>
			</h:panelGrid>
				
			<div class="ui-widget-header ui-corner-all" style="text-align: center; padding: 5px;">			
				<p:commandButton id="save" value="Save" icon="ui-icon-disk"  onclick="PF('loadingDlg').show()"
					oncomplete="PF('loadingDlg').hide();" actionListener="#{schedulerHandler.doSave}" 
					update=":insertOrEditForm :schedulerForm" />
				<p:commandButton value="Cancel" icon="ui-icon-cancel" onclick="PF('insertOrEditTask').hide()" />
			</div>
				
			</h:form>
		</p:dialog>
		
		<p:dialog header="Insert or Edit Task Pending" id="editPending" widgetVar="insertOrEditTaskPending" modal="true"
			resizable="true">
			<h:form id="insertOrEditFormPending" prependId="false">
			<h:panelGrid  id="insertOrEditGridPending" columns="2" style="vertical-align:top;" columnClasses="user-detail,user-role">		
				<p:panelGrid   columns="2" columnClasses="panelGrid-label, panelGrid-value-scheduler">
					<f:facet name="header">Current Task's Detail</f:facet>
					
					<h:outputText value="Scheduler Id"></h:outputText>
					<h:outputText value="#{schedulerHandler.task.id}"></h:outputText>
					
					<h:outputText value="Job Name"></h:outputText>
					<h:outputText value="#{schedulerHandler.task.jobName}"></h:outputText>
					
					<h:outputText value="Execution Service"></h:outputText>
					<h:outputText value="#{schedulerHandler.task.executionService}"></h:outputText>
					
					<h:outputText value="Schedule Type"></h:outputText>
					<h:outputText value="#{schedulerHandler.task.schedulerType}"></h:outputText>
					
					<h:outputLabel  value="Date" rendered="#{schedulerHandler.runOnce}" />	
					<p:column  rendered="#{schedulerHandler.runOnce}">
						<h:outputText value="#{schedulerHandler.task.date}"></h:outputText> 
					</p:column>
					
					<h:outputLabel  value="Time" rendered="#{schedulerHandler.runOnce}"/>
					<p:column  rendered="#{schedulerHandler.runOnce}">
						<h:outputText value="#{schedulerHandler.task.time}"></h:outputText> 
					</p:column>
					
					<h:outputLabel value="Start Date" rendered="#{schedulerHandler.repeatingOrComplexRepeating}"/>
					<p:column rendered="#{schedulerHandler.repeatingOrComplexRepeating}">
						<h:outputText value="#{schedulerHandler.task.startDate}"></h:outputText> 
					</p:column>
					
					<h:outputLabel value="Start Time" rendered="#{schedulerHandler.repeatingOrComplexRepeating}"/>
					<p:column rendered="#{schedulerHandler.repeatingOrComplexRepeating}">
						<h:outputText value="#{schedulerHandler.task.startTime}"></h:outputText> 
					</p:column>
					
					<h:outputLabel value="End Date" rendered="#{schedulerHandler.repeatingOrComplexRepeating}"/>
					<p:column rendered="#{schedulerHandler.repeatingOrComplexRepeating}">	
						<h:outputText value="#{schedulerHandler.task.endDate}"></h:outputText> 
					</p:column>	
					
					<h:outputLabel value="End Time" rendered="#{schedulerHandler.repeatingOrComplexRepeating}"/>
					<p:column rendered="#{schedulerHandler.repeatingOrComplexRepeating}">	
						<h:outputText value="#{schedulerHandler.task.endTime}"></h:outputText>
					</p:column>	
					
					
					<h:outputLabel value="Interval" rendered="#{schedulerHandler.repeating}"/>
					<p:column rendered="#{schedulerHandler.repeating}">	
						<h:outputText value="#{schedulerHandler.task.interval}"></h:outputText> seconds
					</p:column>
					<h:outputLabel value="Run Mask" rendered="#{schedulerHandler.complexRepeating}"/>
					<p:column rendered="#{schedulerHandler.complexRepeating}">
						<h:outputText value="Month : #{schedulerHandler.task.maskMonth} , "></h:outputText>
						<h:outputText value="Day : #{schedulerHandler.task.maskDay} , "></h:outputText>
						<h:outputText value="Weekly Day : #{schedulerHandler.task.maskWeeklyDay} , "></h:outputText>
						<h:outputText value="Start Hour : #{schedulerHandler.task.maskHour} , "></h:outputText>
						<h:outputText value="End Hour : #{schedulerHandler.task.maskHourEnd} , "></h:outputText>
						<h:outputText value="Minute : #{schedulerHandler.task.maskMinute}"></h:outputText>
					</p:column>
				</p:panelGrid>		
				<p:panelGrid   columns="2" columnClasses="panelGrid-label, panelGrid-value-scheduler">
					<f:facet name="header">Pending Task's Detail</f:facet>
					
					<h:outputText value="Scheduler Id"></h:outputText>
					<p:column>
						<h:outputText id="schedulerIdPending" styleClass="noupdate" value="#{schedulerHandler.tempTask.id}" >
						</h:outputText>
						<h:outputText value=" "/>
						<p:message for="schedulerIdPending" styleClass="validation-message" />
					</p:column>	
					
					<h:outputText value="Job Name"></h:outputText>
					<p:column>
						<p:inputText id="jobNamePending" styleClass="noupdate" value="#{schedulerHandler.tempTask.jobName}" required="#{!empty param['savePending']}">
						</p:inputText>
						<h:outputText value=" "/>
						<p:message for="jobNamePending" styleClass="validation-message" />
					</p:column>	
					
					<h:outputText style="border-right:none" value="Execution Service"></h:outputText>
					<p:column>
						<p:inputText id="executionServicePending" styleClass="noupdate" value="#{schedulerHandler.tempTask.executionService}" required="#{!empty param['savePending']}">
						</p:inputText>
						<h:outputText value=" "/>
						<p:message for="executionServicePending" styleClass="validation-message" />
					</p:column>	
					
					<h:outputLabel value="Schedule Type" />
					<p:selectOneMenu
						widgetVar="scheduleType"  required="true" autocomplete="off"
						label="scheduleType"  value="#{schedulerHandler.tempTask.schedulerType}">
						<p:ajax event="change"
								listener="#{schedulerHandler.checkScheduleTypePending}" update="insertOrEditFormPending"
								process="@(#insertOrEditGridPending :not(.noupdate))"></p:ajax>
						<f:selectItems value="#{schedulerHandler.scheduleTypes}" />
					</p:selectOneMenu>
					<h:outputLabel value="Date"  rendered="#{schedulerHandler.runOncePending}" />	
					<p:column rendered="#{schedulerHandler.runOncePending}">
						<p:inputMask id="datePending" value="#{schedulerHandler.tempTask.date}" mask="9999/99/99" required="#{!empty param['savePending']}">
							<f:validator validatorId="schedulerDateValidator"  disabled="#{empty param['savePending']}"/>
							<f:validator validatorId="schedulerDatePastValidator"  disabled="#{empty param['savePending']}"/>
						</p:inputMask> YYYY/MM/DD
						<h:outputText value=" "/>
						<p:message for="datePending" styleClass="validation-message" />
					</p:column>
					
					<h:outputLabel value="Time" rendered="#{schedulerHandler.runOncePending}"/>
					<p:column rendered="#{schedulerHandler.runOncePending}">
						<p:inputMask id="timePending" value="#{schedulerHandler.tempTask.time}"  mask="99:99:99" required="#{!empty param['savePending']}">
							<f:validator validatorId="schedulerTimeValidator"  disabled="#{empty param['savePending']}"/>
						</p:inputMask> HH:MM:SS
						<h:outputText value=" "/>
						<p:message for="timePending" styleClass="validation-message" />
					</p:column>
					
					<h:outputLabel value="Start Date" rendered="#{schedulerHandler.repeatingOrComplexRepeatingPending}"/>
					<p:column rendered="#{schedulerHandler.repeatingOrComplexRepeatingPending}">
						<p:inputMask id="startDatePending" value="#{schedulerHandler.tempTask.startDate}" mask="9999/99/99" required="#{!empty param['savePending']}">
							<f:validator validatorId="schedulerDateValidator"  disabled="#{empty param['savePending']}"/>
						</p:inputMask> YYYY/MM/DD 
						<h:outputText value=" "/>
						<p:message for="startDatePending" styleClass="validation-message" />
					</p:column>
					
					<h:outputLabel value="Start Time" rendered="#{schedulerHandler.repeatingOrComplexRepeatingPending}"/>
					<p:column rendered="#{schedulerHandler.repeatingOrComplexRepeatingPending}">
						<p:inputMask id="startTimePending" value="#{schedulerHandler.tempTask.startTime}"  mask="99:99:99" required="#{!empty param['savePending']}">
							<f:validator validatorId="schedulerTimeValidator"  disabled="#{empty param['savePending']}"/>
						</p:inputMask> HH:MM:SS 
						<h:outputText value=" "/>
						<p:message for="startTimePending" styleClass="validation-message" />
					</p:column>
					
					<h:outputLabel value="End Date" rendered="#{schedulerHandler.repeatingOrComplexRepeatingPending}"/>
					<p:column rendered="#{schedulerHandler.repeatingOrComplexRepeatingPending}">	
						<p:inputMask id="endDatePending" value="#{schedulerHandler.tempTask.endDate}" mask="9999/99/99" required="#{!empty param['savePending']}">
							<f:validator validatorId="schedulerDateValidator"  disabled="#{empty param['savePending']}"/>
						</p:inputMask> YYYY/MM/DD 
						<h:outputText value=" "/>
						<p:message for="endDatePending" styleClass="validation-message" />
					</p:column>	
					
					<h:outputLabel value="End Time" rendered="#{schedulerHandler.repeatingOrComplexRepeatingPending}"/>
					<p:column rendered="#{schedulerHandler.repeatingOrComplexRepeatingPending}">	
						<p:inputMask id="endTimePending" value="#{schedulerHandler.tempTask.endTime}"  mask="99:99:99" required="#{!empty param['savePending']}">
							<f:validator validatorId="schedulerTimeValidator"  disabled="#{empty param['savePending']}"/>
						</p:inputMask> HH:MM:SS 
						<h:outputText value=" "/>
						<p:message for="endTimePending" styleClass="validation-message" />
					</p:column>	
					
					<h:outputLabel value="Interval" rendered="#{schedulerHandler.repeatingPending}"/>
					<p:column rendered="#{schedulerHandler.repeatingPending}">	
						<p:inputMask id="intervalPending" value="#{schedulerHandler.tempTask.interval}" required="#{!empty param['savePending']}">
							<f:validator validatorId="numberValidator" disabled="#{empty param['save']}"/>
						</p:inputMask> seconds
						<h:outputText value=" "/>
						<p:message for="intervalPending" styleClass="validation-message" />
					</p:column>
					
					<h:outputLabel value="Run Mask" rendered="#{schedulerHandler.complexRepeatingPending}"/>
					<p:column rendered="#{schedulerHandler.complexRepeatingPending}">
						<p:selectOneMenu 
							 autocomplete="off" value="#{schedulerHandler.tempTask.maskMonth}"
							label="scheduleType" required="#{!empty param['save']}">
							<f:selectItem itemLabel="Months"/>
							<f:selectItem itemLabel="January" itemValue="January" />
							<f:selectItem itemLabel="February" itemValue="February" />
							<f:selectItem itemLabel="March" itemValue="March" />
							<f:selectItem itemLabel="April" itemValue="April" />
							<f:selectItem itemLabel="May" itemValue="May" />
							<f:selectItem itemLabel="June" itemValue="June" />
							<f:selectItem itemLabel="July" itemValue="July" />
							<f:selectItem itemLabel="August" itemValue="August" />
							<f:selectItem itemLabel="September" itemValue="September" />
							<f:selectItem itemLabel="October" itemValue="October" />
							<f:selectItem itemLabel="November" itemValue="November" />
							<f:selectItem itemLabel="December" itemValue="December" />
						</p:selectOneMenu>
						<h:outputLabel value=" " />
						<p:selectOneMenu
							  autocomplete="off" value="#{schedulerHandler.tempTask.maskDay}"
							label="scheduleType">
							<f:selectItem itemLabel="Days"/>
							<f:selectItem itemLabel="1" itemValue="1" />
							<f:selectItem itemLabel="2" itemValue="2" />
							<f:selectItem itemLabel="3" itemValue="3" />
							<f:selectItem itemLabel="4" itemValue="4" />
							<f:selectItem itemLabel="5" itemValue="5" />
							<f:selectItem itemLabel="6" itemValue="6" />
							<f:selectItem itemLabel="7" itemValue="7" />
						</p:selectOneMenu>
						<h:outputLabel value=" " />
						<p:selectOneMenu
							  autocomplete="off" value="#{schedulerHandler.tempTask.maskWeeklyDay}"
							label="scheduleType">
							<f:selectItem itemLabel="Weekly Days"/>
							<f:selectItem itemLabel="Sunday" itemValue="Sunday" />
							<f:selectItem itemLabel="Monday" itemValue="Monday" />
							<f:selectItem itemLabel="Tuesday" itemValue="Tuesday" />
							<f:selectItem itemLabel="Wednesday" itemValue="Wednesday" />
							<f:selectItem itemLabel="Thursday" itemValue="Thursday" />
							<f:selectItem itemLabel="Friday" itemValue="Friday" />
							<f:selectItem itemLabel="Saturday" itemValue="Saturday" />
						</p:selectOneMenu>
						<h:outputLabel value=" " />
						<p:selectOneMenu
							 autocomplete="off" value="#{schedulerHandler.tempTask.maskHour}"
							label="scheduleType">
							<f:selectItem  itemLabel="Start Hours"/>
							<f:selectItems value="#{schedulerHandler.hours}" />
						</p:selectOneMenu>
						<h:outputLabel value=" " />
						<p:selectOneMenu
							 autocomplete="off" value="#{schedulerHandler.tempTask.maskHourEnd}"
							label="scheduleType">
							<f:selectItem  itemLabel="End Hours"/>
							<f:selectItems value="#{schedulerHandler.hours}" />
						</p:selectOneMenu>
						<h:outputLabel value=" " />
						<p:selectOneMenu
							 autocomplete="off" value="#{schedulerHandler.tempTask.maskMinute}"
							label="scheduleType">
							<f:selectItem itemLabel="Minutes"/>
							<f:selectItems value="#{schedulerHandler.minutes}" />
						</p:selectOneMenu>
					</p:column>
				</p:panelGrid>
			</h:panelGrid>
				
			<div class="ui-widget-header ui-corner-all" style="text-align: center; padding: 5px;">			
				<p:commandButton id="savePending" value="Save" icon="ui-icon-disk"  onclick="PF('loadingDlg').show()"
					oncomplete="PF('loadingDlg').hide();" actionListener="#{schedulerHandler.doSave}" 
					update=":insertOrEditFormPending :schedulerForm" />
				<p:commandButton value="Cancel" icon="ui-icon-cancel" onclick="PF('insertOrEditTaskPending').hide()" />
			</div>
				
			</h:form>
		</p:dialog>
		
		<p:dialog widgetVar="dlgConfirm" id="confirmDlg" header="Delete Scheduler" modal="true" resizable="false">
			<h:form id="deleteTaskForm">
				<h:panelGrid>
					<h:outputText styleClass="ui-confirm-dialog" value="Do you want to delete scheduler #{schedulerHandler.task.jobName}?" />
					<h:panelGroup>
						<p:commandButton value="Yes" action="#{schedulerHandler.deleteTask}" 
						oncomplete="PF('dlgConfirm').hide()" update=":schedulerForm" />
						<p:commandButton value="No" onclick="PF('dlgConfirm').hide()" />	
					</h:panelGroup>
				</h:panelGrid>
			</h:form>			
		</p:dialog>
		
		<p:dialog widgetVar="dlgConfirmStop" id="confirmDlgStop" header="Stop Scheduler" modal="true" resizable="false">
			<h:form id="stopTaskForm">
				<h:panelGrid>
					<h:outputText styleClass="ui-confirm-dialog" value="Do you want to stop scheduler #{schedulerHandler.task.jobName}?" />
					<h:panelGroup>
						<p:commandButton value="Yes" action="#{schedulerHandler.stopTask}" onclick="PF('loadingDlg').show()"
						oncomplete="PF('loadingDlg').hide();PF('dlgConfirm').hide();dlgConfirmStop.hide()"  update=":schedulerForm" />
						<p:commandButton value="No" onclick="PF('dlgConfirm').hide()" />	
					</h:panelGroup>
				</h:panelGrid>
			</h:form>			
		</p:dialog>
		
		<p:dialog widgetVar="dlgConfirmStart" id="confirmDlgStart" header="Start Scheduler" modal="true" resizable="false">
			<h:form id="startTaskForm">
				<h:panelGrid>
					<h:outputText styleClass="ui-confirm-dialog" value="Do you want to start scheduler #{schedulerHandler.task.jobName}?" />
					<h:panelGroup>
						<p:commandButton value="Yes" action="#{schedulerHandler.startTask}" onclick="PF('loadingDlg').show()"
						oncomplete="PF('loadingDlg').hide();PF('dlgConfirm').hide();dlgConfirmStart.hide()" update=":schedulerForm" />
						<p:commandButton value="No" onclick="PF('dlgConfirm').hide()" />	
					</h:panelGroup>
				</h:panelGrid>
			</h:form>			
		</p:dialog>
		
		<p:dialog widgetVar="dlgConfirmPause" id="confirmDlgPause" header="Pause Scheduler" modal="true" resizable="false">
			<h:form id="pauseTaskForm">
				<h:panelGrid>
					<h:outputText styleClass="ui-confirm-dialog" value="Do you want to pause scheduler #{schedulerHandler.task.jobName}?" />
					<h:panelGroup>
						<p:commandButton value="Yes" action="#{schedulerHandler.pauseTask}" onclick="PF('loadingDlg').show()"
						oncomplete="PF('loadingDlg').hide();PF('dlgConfirm').hide();dlgConfirmPause.hide()"  update=":schedulerForm" />
						<p:commandButton value="No" onclick="PF('dlgConfirm').hide()" />	
					</h:panelGroup>
				</h:panelGrid>
			</h:form>			
		</p:dialog>
		
		<p:dialog widgetVar="dlgConfirmResume" id="confirmDlgResume" header="Resume Scheduler" modal="true" resizable="false">
			<h:form id="resumeTaskForm">
				<h:panelGrid>
					<h:outputText styleClass="ui-confirm-dialog" value="Do you want to resume scheduler #{schedulerHandler.task.jobName}?" />
					<h:panelGroup>
						<p:commandButton value="Yes" action="#{schedulerHandler.resumeTask}" onclick="PF('loadingDlg').show()"
						oncomplete="PF('loadingDlg').hide();PF('dlgConfirm').hide();dlgConfirmResume.hide()" update=":schedulerForm" />
						<p:commandButton value="No" onclick="PF('dlgConfirm').hide()" />	
					</h:panelGroup>
				</h:panelGrid>
			</h:form>			
		</p:dialog>
		
	</ui:define>
	
	<ui:define name="content">
		<h:form id="schedulerForm">
			<p:dataTable var="task" value="#{schedulerHandler.taskList}" 
				lazy="true" style="width: 1335px;"
				paginator="true" rows="10"
				paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
				rowsPerPageTemplate="#{commonConfig.rowsPerPageTemplate}"
				id="schedulerTable" >
				
				<f:facet name="header">
					<table>
						<tr>
							<td style="width:450px; border:none; padding:0px; text-align:left;">
								<p:commandButton action="#{schedulerHandler.refresh}" onclick="PF('loadingDlg').show()"
									oncomplete="PF('loadingDlg').hide()"
									styleClass="btn" value="Refresh" update=":schedulerForm"/>
								<p:commandButton icon="ui-icon-plusthick" action="#{schedulerHandler.newTask}" oncomplete="PF('insertOrEditTask').show()"
									styleClass="btn" value="Create Task" update=":insertOrEditForm"/>
								
							</td>
							<td style="border:none; padding:0px; text-align:left;">
								<p:outputLabel value="Schedule Tasks" />
							</td>
						</tr>
					</table>
				</f:facet>
				
				<p:column headerText="Scheduler Id"  style="width: 220px;">
					<h:outputText value="#{task.id}"></h:outputText>
				</p:column>
				<p:column headerText="Name">
					<h:outputText value="#{task.jobName}"></h:outputText>
				</p:column>
				<p:column headerText="Service">
					<h:outputText value="#{task.executionService}"></h:outputText>
				</p:column>
<!-- 				<p:column headerText="Scheduler Type" > -->
<!-- 					<h:outputText value="#{task.schedulerType}"></h:outputText> -->
<!-- 				</p:column> -->
				<p:column headerText="Scheduler Status">
					<h:outputText value="#{task.schedulerStatus}"></h:outputText>
				</p:column>
				<p:column headerText="Scheduler Action" style="width: 125px;">
					<p:outputLabel style="visibility:hidden" value="mii" />
					<p:commandLink  style="color:black; font-style:italic ; text-decoration:underline" value="Stop" icon="ui-icon-close"
						actionListener="#{schedulerHandler.viewDetailedStop(task)}" 
						update=":stopTaskForm" rendered="false"/>
					<p:outputLabel style="visibility:hidden" value="mi" rendered="false" />
					<p:commandLink  style="color:black; font-style:italic ; text-decoration:underline" value="Start" icon="ui-icon-close"
						actionListener="#{schedulerHandler.viewDetailedStart(task)}" 
						update=":startTaskForm" />
					<p:outputLabel style="visibility:hidden" value="mi" />	
					<p:commandLink  style="color:black; font-style:italic ; text-decoration:underline" value="Pause" icon="ui-icon-close"
						actionListener="#{schedulerHandler.viewDetailedPause(task)}" 
						update=":pauseTaskForm" />
					<p:outputLabel style="visibility:hidden" value="mi" />
					<p:commandLink  style="color:black; font-style:italic ; text-decoration:underline" value="Resume" icon="ui-icon-close"
						actionListener="#{schedulerHandler.viewDetailedResume(task)}" 
						update=":resumeTaskForm" />
					<p:outputLabel style="visibility:hidden" value="mii" />
				</p:column>
				<p:column headerText="Approval Status"  style="width: 120px;">
					<h:outputText value="#{task.approvalStatus}"></h:outputText>
				</p:column>
				<p:column headerText="Action" width="100">
					<p:outputLabel style="visibility:hidden" value="mii" />
					<p:commandLink style="color:black; font-weight:bold ; text-decoration:underline" value="View" icon="ui-icon-person" 
						actionListener="#{schedulerHandler.viewDetailedTask(task)}" 
						update=":viewForm :viewFormEdit"/>
					<p:outputLabel style="visibility:hidden" value="mi" />
					<p:commandLink  style="color:black; font-style:italic ; text-decoration:underline" value="Edit" icon="ui-icon-pencil" 
						actionListener="#{schedulerHandler.viewDetailedTaskEdit(task)}"
						update=":insertOrEditForm :insertOrEditFormPending" />
					<p:outputLabel style="visibility:hidden" value="mi" />
					<p:commandLink style="color:black; font-style:italic ; text-decoration:underline" value="#{task.status==1? 'Disable' : 'Enable'}" icon="ui-icon-trash" action="#{branchWeHandler.viewDetailedChangeStatus(task)}" 
						update=":changeStatusBranchForm " />
					<p:outputLabel style="visibility:hidden" value="mii" />
				</p:column>
			</p:dataTable>
		</h:form>
	</ui:define>
</ui:composition>