<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions"
	template="/resources/components/layout.xhtml">
	
	<ui:define name="dialog">
	<p:dialog widgetVar="dlgConfirm" id="confirmDlg" header="Delete User" modal="true" resizable="false">
			<h:form id="userSessionForm">
				<h:panelGrid>
					<h:outputText styleClass="ui-confirm-dialog" 
					value="Do you want to kill #{userSessionHandler.userkill.userName}?" />
					<h:panelGroup>
						<p:commandButton value="Yes" actionListener="#{userSessionHandler.killSession}" 
						oncomplete="PF('dlgConfirm').hide()" update=":sessionForm"/>
						<p:commandButton value="No" onclick="PF('dlgConfirm').hide()" />	
					</h:panelGroup>
				</h:panelGrid>
			</h:form>			
		</p:dialog>
	</ui:define>
	
	<ui:define name="content">
	<h:form id="sessionForm">
		<p:dataTable value="#{sessionService.getAllSession()}" 
			var="userSession" id="connectedUser">
			
			<p:column headerText="User name">
				<h:outputText value="#{userSession.user.userName}" />
			</p:column>
			
			<p:column headerText="Full Name">
				<h:outputText value="#{userSession.user.fullName}" />
			</p:column>
			
			<p:column headerText="IP Address">
				<h:outputText value="#{userSession.currentTerminal}" />
			</p:column>
			
			<p:column headerText="User Agent">
				<h:outputText value="#{userSession.userAgent}" />
			</p:column>
			
			<p:column headerText="Action">
				<p:commandLink style="color:black; font-weight:bold ; text-decoration:underline" 
				update=":userSessionForm" value="kill" 
					oncomplete="PF('dlgConfirm').show()">
					<f:setPropertyActionListener target="#{userSessionHandler.userkill}" value="#{userSession.user}"></f:setPropertyActionListener>
					</p:commandLink>
			</p:column>
			
		</p:dataTable>
		</h:form>
	</ui:define>
</ui:composition>