<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html" 
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions" 
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions"
	template="/resources/components/layout.xhtml">
	
	<ui:define name="dialog">
		<p:dialog header="View User #{userWebHandler.user.userName}" id="view" widgetVar="viewUser" modal="true"
			resizable="true">
			<h:form id="viewForm">
			<p:panelGrid columns="2" columnClasses="panelGrid-label, panelGrid-value-user">
				<f:facet name="header">User's Detail</f:facet>
				
				<h:outputText value="User Name"></h:outputText>
				<h:outputText value="#{userWebHandler.user.userName}"></h:outputText>
				
				<h:outputText value="Full Name"></h:outputText>
				<h:outputText value="#{userWebHandler.user.fullName}"></h:outputText>
				
				<h:outputText value="Last Login"></h:outputText>
				<h:outputText value="#{userWebHandler.user.lastLogin}"></h:outputText>
				
				<h:outputText value="Email"></h:outputText>
				<h:outputText value="#{userWebHandler.user.email}"></h:outputText>
				
				<h:outputText value="Division"></h:outputText>
				<h:outputText value="#{userWebHandler.user.division}"></h:outputText>
				
				<h:outputText value="Departement"></h:outputText>
				<h:outputText value="#{userWebHandler.user.department}"></h:outputText>
				
				<h:outputText value="Phone"></h:outputText>
				<h:outputText value="#{userWebHandler.user.phone}"></h:outputText>
				
				<h:outputText value="Mobile Number"></h:outputText>
				<h:outputText value="#{userWebHandler.user.mobileNo}"></h:outputText>
				
				<h:outputText value="Contact Number"></h:outputText>
				<h:outputText value="#{userWebHandler.user.contactNo}"></h:outputText>
								 
				<h:outputText value="History"></h:outputText>
				<p:commandLink style="text-decoration:underline" value="Hide" icon="ui-icon-search" rendered="#{userWebHandler.doShowHistory}">
					<p:ajax event="click" listener="#{userWebHandler.hideHistory}" update=":viewForm ">
					</p:ajax>
				</p:commandLink>
				<p:commandLink style="text-decoration:underline" value="Show" icon="ui-icon-search" rendered="#{!userWebHandler.doShowHistory}">
					<p:ajax event="click" listener="#{userWebHandler.showHistory}" update=":viewForm ">
					</p:ajax>
				</p:commandLink>
			</p:panelGrid>
			<p:panelGrid columns="2" columnClasses="panelGrid-label, panelGrid-value-user" rendered="#{userWebHandler.doShowHistory}">
					<f:facet name="header">History</f:facet>
					<h:outputText value="Create Date"></h:outputText>
					<h:outputText value="#{userWebHandler.user.createDate}"></h:outputText>
					
					<h:outputText value="Create By"></h:outputText>
					<h:outputText value="#{userWebHandler.user.createWho}"></h:outputText>
					
					<h:outputText value="Change Date"></h:outputText>
					<h:outputText value="#{userWebHandler.user.changeDate}"></h:outputText>
					
					<h:outputText value="Change By"></h:outputText>
					<h:outputText value="#{userWebHandler.user.changeWho}"></h:outputText>
					
					<h:outputText value="Approval Date"></h:outputText>
					<h:outputText value="#{userWebHandler.user.approvalDate}"></h:outputText>
					
					<h:outputText value="Approval By"></h:outputText>
					<h:outputText value="#{userWebHandler.user.approvalBy}"></h:outputText>
					
					<h:outputText value="Approval Status"></h:outputText>
					<h:outputText value="#{userWebHandler.user.approvalStatus}"></h:outputText>
			</p:panelGrid>
			</h:form>
		</p:dialog>	
		<p:dialog header="View User #{userWebHandler.user.userName}" id="viewEdit" widgetVar="viewUserEdit" modal="true"
			resizable="true">
			<h:form id="viewFormEdit">
			<h:panelGrid columns="2" style="vertical-align:top;" columnClasses="user-detail,user-role">	
				<p:panelGrid columns="2" columnClasses="panelGrid-label, panelGrid-value-user">
					<f:facet name="header">Current User's Detail</f:facet>
					
					<h:outputText value="User Name"></h:outputText>
					<h:outputText value="#{userWebHandler.user.userName}"></h:outputText>
					
					<h:outputText value="Full Name"></h:outputText>
					<h:outputText value="#{userWebHandler.user.fullName}"></h:outputText>
					
					<h:outputText value="Last Login"></h:outputText>
					<h:outputText value="#{userWebHandler.user.lastLogin}"></h:outputText>
					
					<h:outputText value="Email"></h:outputText>
					<h:outputText value="#{userWebHandler.user.email}"></h:outputText>
					
					<h:outputText value="Division"></h:outputText>
					<h:outputText value="#{userWebHandler.user.division}"></h:outputText>
					
					<h:outputText value="Departement"></h:outputText>
					<h:outputText value="#{userWebHandler.user.department}"></h:outputText>
					
					<h:outputText value="Phone"></h:outputText>
					<h:outputText value="#{userWebHandler.user.phone}"></h:outputText>
					
					<h:outputText value="Mobile Number"></h:outputText>
					<h:outputText value="#{userWebHandler.user.mobileNo}"></h:outputText>
					
					<h:outputText value="Contact Number"></h:outputText>
					<h:outputText value="#{userWebHandler.user.contactNo}"></h:outputText>
					
				</p:panelGrid>
				<p:panelGrid columns="2" columnClasses="panelGrid-label, panelGrid-value-user">
					<f:facet name="header">Pending User's Detail</f:facet>
					
					<h:outputText value="User Name"></h:outputText>
					<h:outputText value="#{userWebHandler.tempUser.userName}"></h:outputText>
					
					<h:outputText value="Full Name"></h:outputText>
					<h:outputText value="#{userWebHandler.tempUser.fullName}"></h:outputText>
					
					<h:outputText value="Last Login"></h:outputText>
					<h:outputText value="#{userWebHandler.tempUser.lastLogin}"></h:outputText>
					
					<h:outputText value="Email"></h:outputText>
					<h:outputText value="#{userWebHandler.tempUser.email}"></h:outputText>
					
					<h:outputText value="Division"></h:outputText>
					<h:outputText value="#{userWebHandler.tempUser.division}"></h:outputText>
					
					<h:outputText value="Departement"></h:outputText>
					<h:outputText value="#{userWebHandler.tempUser.department}"></h:outputText>
					
					<h:outputText value="Phone"></h:outputText>
					<h:outputText value="#{userWebHandler.tempUser.phone}"></h:outputText>
					
					<h:outputText value="Mobile Number"></h:outputText>
					<h:outputText value="#{userWebHandler.tempUser.mobileNo}"></h:outputText>
					
					<h:outputText value="Contact Number"></h:outputText>
					<h:outputText value="#{userWebHandler.tempUser.contactNo}"></h:outputText>
					
				</p:panelGrid>
			</h:panelGrid>
			</h:form>
		</p:dialog>
		<p:dialog header="Insert or Edit User" id="edit" widgetVar="insertOrEditUser" modal="true"
			resizable="true">
			<h:form id="insertOrEditForm" prependId="false">
			<h:panelGrid   id="insertOrEditGrid" columns="2" style="vertical-align:top;" columnClasses="user-detail,user-role">				
				<h:panelGrid columns="3" columnClasses="panelGrid-label ">
					<f:facet name="header">User's Detail</f:facet>
					
					<h:outputText value="User Name *"></h:outputText>
						<p:inputText id="userName" value="#{userWebHandler.user.userName}" required="#{!empty param['save']}" maxlength="50">
							<f:validateRegex pattern="[a-zA-Z0-9 ]+"/>
						</p:inputText>
						<p:message for="userName" styleClass="validation-message" />
					
					<h:outputText value="Full Name *"></h:outputText>
						<p:inputText  id="fullName" value="#{userWebHandler.user.fullName}" required="#{!empty param['save']}" maxlength="50">
							<f:validateRegex pattern="[a-zA-Z0-9 ]+"/>
						</p:inputText>
						<p:message for="fullName" styleClass="validation-message" />
					
					<h:outputText value="Email"></h:outputText>
						<p:inputText id="email" value="#{userWebHandler.user.email}" maxlength="100">
								<f:validator validatorId="emailValidator" disabled="#{empty param['save']}"/>
						</p:inputText>
						<p:message for="email" styleClass="validation-message" />
					
					<h:outputText value="Division"></h:outputText>
						<p:inputText id="division" value="#{userWebHandler.user.division}" maxlength="50"></p:inputText>
						<p:message for="division" styleClass="validation-message" />
					
					<h:outputText value="Departement"></h:outputText>
						<p:inputText id="departement" value="#{userWebHandler.user.department}" maxlength="50"></p:inputText>
						<p:message for="departement" styleClass="validation-message" />
					
					<h:outputText value="Phone"></h:outputText>
						<p:inputText id="phone" value="#{userWebHandler.user.phone}" maxlength="50">
							<f:validator validatorId="numberValidator" />
	                    </p:inputText>
						<p:message for="phone" styleClass="validation-message" />
					
					<h:outputText value="Mobile Number"></h:outputText>
						<p:inputText id="mobileNumber" value="#{userWebHandler.user.mobileNo}" maxlength="16">
							<f:validator validatorId="numberValidator" />
	                    </p:inputText>
						<p:message for="mobileNumber" styleClass="validation-message" />
                     
                    <h:outputText value="Contact Number"></h:outputText>
						<p:inputText id="contactNo" value="#{userWebHandler.user.contactNo}" maxlength="20">
							<f:validator validatorId="numberValidator" />
	                    </p:inputText>
						<p:message for="contactNo" styleClass="validation-message" />
					
				</h:panelGrid>
			
			</h:panelGrid>
				
			<div class="ui-widget-header ui-corner-all" style="text-align: center; padding: 5px;">			
				<p:commandButton id="save" value="Save" icon="ui-icon-disk" onclick="PF('loadingDlg').show()" 
					oncomplete="PF('loadingDlg').hide(); " actionListener="#{userWebHandler.doSave}" 
					update=":insertOrEditForm :userForm" disabled="#{!userWebHandler.saveUser}"
					/>
				<p:commandButton value="Cancel" icon="ui-icon-cancel" onclick="insertOrEditUser.hide()" />
			</div>
				
			</h:form>
		</p:dialog>
		<p:dialog header="Insert or Edit User Pending" id="editPending" widgetVar="insertOrEditUserPending" modal="true"
			resizable="true" >
			<h:form id="insertOrEditFormPending" prependId="false">
			<h:panelGrid id="insertOrEditGridPending" columns="2" style="vertical-align:top;" columnClasses="user-detail,user-role">		
			<h:panelGrid columns="3" columnClasses="panelGrid-label, panelGrid-value-user">
					<f:facet name="header">Current User's Detail</f:facet>
					
					<h:outputText value="User Name" style="font-weight:bold"></h:outputText>
					
						<h:outputText value="#{userWebHandler.user.userName}"></h:outputText>
						<p:inputText  size="1" style="visibility:hidden" >
						</p:inputText>
					
					<h:outputText value="Full Name" style="font-weight:bold"></h:outputText>
						<h:outputText value="#{userWebHandler.user.fullName}"></h:outputText>
						<p:inputText  size="1" style="visibility:hidden" >
						</p:inputText>
					
					<h:outputText value="Email" style="font-weight:bold"></h:outputText>
						<h:outputText value="#{userWebHandler.user.email}"></h:outputText>
						<p:inputText  size="1" style="visibility:hidden" >
						</p:inputText>
					
					<h:outputText value="Division" style="font-weight:bold"></h:outputText>
						<h:outputText value="#{userWebHandler.user.division}"></h:outputText>
						<p:inputText  size="1" style="visibility:hidden" >
						</p:inputText>
					
					
					<h:outputText value="Departement" style="font-weight:bold"></h:outputText>
						<h:outputText value="#{userWebHandler.user.department}"></h:outputText>
						<p:inputText  size="1" style="visibility:hidden" >
						</p:inputText>
					
					
					<h:outputText value="Phone" style="font-weight:bold"></h:outputText>
						<h:outputText value="#{userWebHandler.user.phone}"></h:outputText>
						<p:inputText  size="1" style="visibility:hidden" >
						</p:inputText>
					
					
					<h:outputText value="Mobile Number" style="font-weight:bold"></h:outputText>
						<h:outputText value="#{userWebHandler.user.mobileNo}"></h:outputText>
						<p:inputText  size="1" style="visibility:hidden" >
						</p:inputText>
					
					
					<h:outputText value="Contact Number" style="font-weight:bold"></h:outputText>
						<h:outputText value="#{userWebHandler.user.contactNo}"></h:outputText>
						<p:inputText  size="1" style="visibility:hidden" >
						</p:inputText>
							
				</h:panelGrid>	
				<h:panelGrid columns="3" columnClasses="panelGrid-label, panelGrid-value-user">
					<f:facet name="header">Pending User's Detail</f:facet>
					
					<h:outputText value="User Name" style="font-weight:bold"></h:outputText>
						<p:inputText id="userNamePending" value="#{userWebHandler.tempUser.userName}" required="#{!empty param['savePending']}" maxlength="50">
						</p:inputText>
						<p:message for="userNamePending" styleClass="validation-message" />
					
					<h:outputText value="Full Name" style="font-weight:bold"></h:outputText>
						<p:inputText id="fullNamePending" value="#{userWebHandler.tempUser.fullName}" required="#{!empty param['savePending']}" maxlength="50">
						</p:inputText>
						<p:message for="fullNamePending" styleClass="validation-message" />
					
					<h:outputText value="Email" style="font-weight:bold"></h:outputText>
						<p:inputText id="emailPending" value="#{userWebHandler.tempUser.email}" maxlength="100">
								<f:validator validatorId="emailValidator" disabled="#{empty param['savePending']}"/>
						</p:inputText>
						<p:message for="emailPending" styleClass="validation-message" />
					
					<h:outputText value="Division" style="font-weight:bold"></h:outputText>
						<p:inputText id="divisionPending" value="#{userWebHandler.tempUser.division}" maxlength="50"></p:inputText>
						<p:message for="divisionPending" styleClass="validation-message" />
					
					<h:outputText value="Departement" style="font-weight:bold"></h:outputText>
						<p:inputText id="departementPending" value="#{userWebHandler.tempUser.department}" maxlength="50"></p:inputText>
						<p:message for="departementPending" styleClass="validation-message" />
					
					<h:outputText value="Phone" style="font-weight:bold"></h:outputText>
						<p:inputText id="phonePending" value="#{userWebHandler.tempUser.phone}" maxlength="50">
							<f:validator validatorId="numberValidator" />
	                    </p:inputText>
						<p:message for="phonePending" styleClass="validation-message" />
					
					<h:outputText value="Mobile Number" style="font-weight:bold"></h:outputText>
						<p:inputText id="mobileNumberPending" value="#{userWebHandler.tempUser.mobileNo}" maxlength="16">
							<f:validator validatorId="numberValidator" />
	                    </p:inputText>
						<p:message for="mobileNumberPending" styleClass="validation-message" />
                     
                    <h:outputText value="Contact Number" style="font-weight:bold"></h:outputText>
						<p:inputText id="contactNoPending" value="#{userWebHandler.tempUser.contactNo}" maxlength="20">
							<f:validator validatorId="numberValidator" />
	                    </p:inputText>
						<p:message for="contactNoPending" styleClass="validation-message" />
					
				</h:panelGrid>

			</h:panelGrid>
				
			<div class="ui-widget-header ui-corner-all" style="text-align: center; padding: 5px;">			
				<p:commandButton id="savePending" value="Save" icon="ui-icon-disk" onclick="PF('loadingDlg').show()" 
					oncomplete="PF('loadingDlg').hide(); " actionListener="#{userWebHandler.doSave}" 
					update=":insertOrEditFormPending :userForm" 
					/>
				<p:commandButton value="Cancel" icon="ui-icon-cancel" onclick="PF('insertOrEditUserPending').hide()" />
			</div>
				
			</h:form>
		</p:dialog>
		<p:dialog widgetVar="dlgConfirm" id="confirmDlg" header="Delete User" modal="true" resizable="false">
			<h:form id="deleteUserForm">
				<h:panelGrid>
					<h:outputText styleClass="ui-confirm-dialog" value="Do you want to delete user #{userWebHandler.user.userName}?" />
					<h:panelGroup>
						<p:commandButton value="Yes" action="#{userWebHandler.deleteUser}" 
						oncomplete="PF('dlgConfirm').hide()" update=":userForm"/>
						<p:commandButton value="No" onclick="PF('dlgConfirm').hide()" />	
					</h:panelGroup>
				</h:panelGrid>
			</h:form>			
		</p:dialog>
		<p:dialog widgetVar="dlgConfirmChangeStatus" id="confirmDlgChgSts" header="Change Status User" modal="true" resizable="false">
			<h:form id="changeStatusUserForm">
				<h:panelGrid>
					<h:outputText styleClass="ui-confirm-dialog" value="Do you want to #{userWebHandler.user.status==1? 'disable' : 'enable'} user #{userWebHandler.user.userName}?" />
					<h:panelGroup>
						<p:commandButton value="Yes" action="#{userWebHandler.changeStatusUser}" 
						oncomplete="PF('dlgConfirmChangeStatus').hide()"  update=":userForm" />
						<p:commandButton value="No" onclick="PF('dlgConfirmChangeStatus').hide()" />	
					</h:panelGroup>
				</h:panelGrid>
			</h:form>			
		</p:dialog>
	</ui:define>

	<ui:define name="content">
		<h:form id="searchForm">
				<h:panelGrid columns="4">
						<p:column ><h:outputLabel value="User Name" style="font-weight:bold"/></p:column>
						<p:column >
							<p:inputText 
							id="userName" autocomplete="off"
							label="userName" value="#{userWebHandler.userName}" maxlength="50">
							</p:inputText>
						</p:column>
						<p:column style="width:125px; border:none;" ><h:outputLabel value="Approval Status" style="font-weight:bold"/></p:column>
					   	<p:column>
							<p:selectBooleanCheckbox style="width:80px;" value="#{userWebHandler.pending}" label="Pending" itemLabel="Pending"/>
						 	<p:selectBooleanCheckbox style="width:80px;" value="#{userWebHandler.approved}" label="Approved" itemLabel="Approved"/>
						 	<p:selectBooleanCheckbox style="width:80px;" value="#{userWebHandler.rejected}" label="Rejected" itemLabel="Rejected"/>  
					 	</p:column>
						<p:column ><h:outputLabel value="Full Name" style="font-weight:bold"/></p:column>
						<p:column >
							<p:inputText 
							id="fullName" autocomplete="off"
							label="fullName" value="#{userWebHandler.fullName}" maxlength="50">
							</p:inputText>
						</p:column>
						<p:column style="width:125px; border:none;" ><h:outputLabel value="User Status" style="font-weight:bold"/></p:column>
					   	<p:column>
							<p:selectBooleanCheckbox style="width:80px;" value="#{userWebHandler.active}" label="Enable" itemLabel="Enable"/>
						 	<p:selectBooleanCheckbox style="width:80px;" value="#{userWebHandler.inactive}" label="Disable" itemLabel="Disable"/>
					 	</p:column>
					<p:commandButton value="Search" icon="ui-icon-search"
						actionListener="#{userWebHandler.doSearch}" update=":userForm" onclick="PF('loadingDlg').show()" oncomplete="PF('loadingDlg').hide()"/>
							
				</h:panelGrid>
		</h:form>
		<h:form id="userForm">
			<p:dataTable var="user" value="#{userWebHandler.userList}" 
				lazy="true" style="width: 1035px;"
				paginator="true" rows="15"
				paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
				rowsPerPageTemplate="#{commonConfig.rowsPerPageTemplate}"
				id="userTable" >
				
				<f:facet name="header">
					<table>
						<tr>
							<td style="border:none; padding:0px; text-align:left;">
								<p:outputLabel value="Users Data" />
							</td>
						</tr>
					</table>
				</f:facet>
				
				<p:column headerText="User Name"  style="width: 100px;">
					<h:outputText value="#{user.userName}"></h:outputText>
				</p:column>
				<p:column headerText="Full Name" >
					<h:outputText value="#{user.fullName}"></h:outputText>
				</p:column>
				<p:column headerText="Status"  style="width: 120px;">
					<h:outputText converter="model.statusConverter" value="#{user.status}"></h:outputText>
				</p:column>
				<p:column headerText="Approval Status" style="width: 120px;">
					<h:outputText value="#{user.approvalStatus}"></h:outputText>
				</p:column>
				<p:column headerText="Action" style="width: 160px;">
					<p:outputLabel style="visibility:hidden" value="mii" />
					<p:commandLink style="color:black; font-weight:bold ; text-decoration:underline" value="View" icon="ui-icon-person"
						actionListener="#{userWebHandler.viewDetailedUser(user)}" update=":viewForm :viewFormEdit">
					</p:commandLink>
					<p:outputLabel style="visibility:hidden" value="mi" />
					<p:commandLink style="color:black; font-style:italic ; text-decoration:underline" value="#{user.status==1? 'Disable' : 'Enable'}" icon="ui-icon-trash" action="#{userWebHandler.viewDetailedChangeStatus(user)}" 
						update=":changeStatusUserForm " />
					<p:outputLabel style="visibility:hidden" value="mii" />
				</p:column>
			</p:dataTable> 
		</h:form>
	</ui:define>
</ui:composition>