<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	template="/resources/components/layout.xhtml">
	
	<ui:define name="dialog">
		<p:dialog header="View Branch #{branchWebHandler.branch.name}" id="view" widgetVar="viewBranch" modal="true"
			resizable="true">
			<h:form id="viewForm">
				<p:panelGrid columns="2" columnClasses="panelGrid-label, panelGrid-value-role">
					<f:facet name="header">Branch's Detail</f:facet>
					<h:outputText value="Branch Code"></h:outputText>
					<h:outputText value="#{branchWebHandler.branch.code}"></h:outputText>
					
					<h:outputText value="Branch Name"></h:outputText>
					<h:outputText value="#{branchWebHandler.branch.name}"></h:outputText>
					
					<h:outputText value="Description"></h:outputText>
					<h:outputText value="#{branchWebHandler.branch.description}"></h:outputText>
					
					<h:outputText value="History"></h:outputText>
					<p:commandLink style="text-decoration:underline" value="Hide" icon="ui-icon-search" rendered="#{branchWebHandler.doShowHistory}">
						<p:ajax event="click"
							listener="#{branchWebHandler.hideHistory}" update=":viewForm ">
						</p:ajax>
					</p:commandLink>
					<p:commandLink style="text-decoration:underline" value="Show" icon="ui-icon-search" rendered="#{!branchWebHandler.doShowHistory}">
						<p:ajax event="click"
							listener="#{branchWebHandler.showHistory}" update=":viewForm ">
						</p:ajax>
					</p:commandLink>
					
				</p:panelGrid>
			<p:panelGrid columns="2" columnClasses="panelGrid-label, panelGrid-value-role" rendered="#{branchWebHandler.doShowHistory}">
					<f:facet name="header">History</f:facet>
					<h:outputText value="Create Date"></h:outputText>
					<h:outputText value="#{branchWebHandler.branch.createDate}"></h:outputText>
					
					<h:outputText value="Create By"></h:outputText>
					<h:outputText value="#{branchWebHandler.branch.createWho}"></h:outputText>
					
					<h:outputText value="Change Date"></h:outputText>
					<h:outputText value="#{branchWebHandler.branch.changeDate}"></h:outputText>
					
					<h:outputText value="Change By"></h:outputText>
					<h:outputText value="#{branchWebHandler.branch.changeWho}"></h:outputText>
					
					<h:outputText value="Approval Date"></h:outputText>
					<h:outputText value="#{branchWebHandler.branch.approvalDate}"></h:outputText>
					
					<h:outputText value="Approval By"></h:outputText>
					<h:outputText value="#{branchWebHandler.branch.approvalBy}"></h:outputText>
					
					<h:outputText value="Approval Status"></h:outputText>
					<h:outputText value="#{branchWebHandler.branch.approvalStatus}"></h:outputText>
			</p:panelGrid>
			</h:form>
		</p:dialog>	
		<p:dialog  header="View Branch Edit #{branchWebHandler.branch.name}" id="viewBranchEdit" widgetVar="viewBranchEdit" 
			modal="true" resizable="true">
			<h:form id="viewFormBranchEdit" disabled="true">
				<h:panelGrid columns="2" style="vertical-align:top;" columnClasses="parameter-current,parameter-pending">	
					<p:panelGrid columns="2" columnClasses="panelGrid-label-branch, panelGrid-value-branch">
						<f:facet name="header">Current Branch's Detail</f:facet>
					
						<h:outputText value="Branch Code"></h:outputText>
						<h:outputText value="#{branchWebHandler.branch.code}"></h:outputText>
						
						<h:outputText value="Branch Name"></h:outputText>
						<h:outputText value="#{branchWebHandler.branch.name}"></h:outputText>
						
						<h:outputText value="Description"></h:outputText>
						<h:outputText value="#{branchWebHandler.branch.description}"></h:outputText>
						
					</p:panelGrid>
					<p:panelGrid columns="2" columnClasses="panelGrid-label-branch, panelGrid-value-branch">
						<f:facet name="header">Pending Branch's Detail</f:facet>
					
						<h:outputText value="Branch Code"></h:outputText>
						<h:outputText value="#{branchWebHandler.branchTemp.code}"></h:outputText>
						
						<h:outputText value="Branch Name"></h:outputText>
						<h:outputText value="#{branchWebHandler.branchTemp.name}"></h:outputText>
						
						<h:outputText value="Description"></h:outputText>
						<h:outputText value="#{branchWebHandler.branchTemp.description}"></h:outputText>
						
					</p:panelGrid>
				</h:panelGrid>
			</h:form>
		</p:dialog>
		<p:dialog header="Insert or Edit Branch" id="edit" widgetVar="insertOrEditBranch" modal="true"
			resizable="true">
			<h:form id="insertOrEditForm">
						<p:panelGrid columns="2" columnClasses=".panelGrid-label-branch, .panelGrid-value-branch">
							<f:facet name="header">Branch's Detail</f:facet>
							
							<h:outputText value="Branch Code *"></h:outputText>
							<p:column>
								<p:inputText id="code" value="#{branchWebHandler.branch.code}" required="true">
									<f:validateRegex pattern="[a-zA-Z0-9]+"/>
								</p:inputText>
								<h:outputText value=" "/>
								<p:message for="code" styleClass="validation-message" />
							</p:column>	
							
							<h:outputText value="Branch Name *"></h:outputText>
							<p:column>
								<p:inputText id="name" value="#{branchWebHandler.branch.name}" required="true">
									<f:validateRegex pattern="[a-zA-Z0-9 ]+"/>
								</p:inputText>
								<h:outputText value=" "/>
								<p:message for="name" styleClass="validation-message" />
							</p:column>	
							
							<h:outputText value="Description"></h:outputText>
							<p:column>
								<p:inputText id="description" value="#{branchWebHandler.branch.description}">
								</p:inputText>
								<h:outputText value=" "/>
								<p:message for="description" styleClass="validation-message" />
							</p:column>	
							
						</p:panelGrid>
					<div class="ui-widget-header ui-corner-all" style="text-align: center; padding: 5px;">			
						<p:commandButton value="Save" icon="ui-icon-disk" actionListener="#{branchWebHandler.doSave}"
							onclick="PF('loadingDlg').show()" update=":insertOrEditForm :branchForm"
							oncomplete="PF('loadingDlg').hide();"/>
						<p:commandButton value="Cancel" icon="ui-icon-cancel" onclick="PF('insertOrEditBranch').hide()" />
					</div>
			</h:form>	
		</p:dialog>
		<p:dialog header="Insert or Edit Branch Pending" id="editPending" widgetVar="insertOrEditBranchPending" modal="true"
			resizable="true" height="100%">
			<h:form id="insertOrEditFormPending">
			<h:panelGrid columns="2" style="vertical-align:top;" columnClasses="user-detail,user-role">		
				<p:panelGrid columns="2" columnClasses=".panelGrid-label-branch, .panelGrid-value-branch">
					<f:facet name="header">Current Branch's Detail</f:facet>
						
						<h:outputText value="Branch Code"></h:outputText>
						<p:column>
							<h:outputText value="#{branchWebHandler.branch.code}"></h:outputText>
							<p:inputText  size="1" style="visibility:hidden" >
								<f:validateRegex pattern="[a-zA-Z0-9]+"/>
							</p:inputText>
						</p:column>
						
						<h:outputText value="Branch Name"></h:outputText>
						<p:column>
							<h:outputText value="#{branchWebHandler.branch.name}"></h:outputText>
							<p:inputText  size="1" style="visibility:hidden" >
								<f:validateRegex pattern="[a-zA-Z0-9 ]+"/>
							</p:inputText>
						</p:column>
						
						<h:outputText value="Description"></h:outputText>
						<p:column>
							<h:outputText value="#{branchWebHandler.branch.description}"></h:outputText>
							<p:inputText  size="1" style="visibility:hidden" >
							</p:inputText>
						</p:column>
						
				</p:panelGrid>	
				<p:panelGrid columns="2" columnClasses=".panelGrid-label-branch, .panelGrid-value-branch">
					<f:facet name="header">Pending Branch's Detail</f:facet>
							<h:outputText value="Branch Code"></h:outputText>
							<p:column>
								<p:inputText id="code" value="#{branchWebHandler.branchTemp.code}" required="true">
									<f:validateRegex pattern="[a-zA-Z0-9]+"/>
								</p:inputText>
								<h:outputText value=" "/>
								<p:message for="code" styleClass="validation-message" />
							</p:column>	
							
							<h:outputText value="Branch Name"></h:outputText>
							<p:column>
								<p:inputText id="name" value="#{branchWebHandler.branchTemp.name}" required="true">
									<f:validateRegex pattern="[a-zA-Z0-9 ]+"/>
								</p:inputText>
								<h:outputText value=" "/>
								<p:message for="name" styleClass="validation-message" />
							</p:column>	
							
							<h:outputText value="Description"></h:outputText>
							<p:column>
								<p:inputText id="description" value="#{branchWebHandler.branchTemp.description}" required="true">
									<f:validateRegex pattern="[a-zA-Z0-9 ]+"/>
								</p:inputText>
								<h:outputText value=" "/>
								<p:message for="description" styleClass="validation-message" />
							</p:column>		
						
				</p:panelGrid>
			</h:panelGrid>
				
			<div class="ui-widget-header ui-corner-all" style="text-align: center; padding: 5px;">			
				<p:commandButton value="Save" icon="ui-icon-disk" actionListener="#{branchWebHandler.doSave}" 
					disabled="" id="btnSave" onclick="PF('loadingDlg').show()" 
					update=":insertOrEditFormPending :branchForm"
					oncomplete="PF('loadingDlg').hide();"/>
				<p:commandButton value="Cancel" icon="ui-icon-cancel" onclick="PF('insertOrEditBranchPending').hide()" />
			</div>
				
			</h:form>
		</p:dialog>
		<p:dialog widgetVar="dlgConfirm" id="confirmDlg" header="Delete Branch" modal="true" resizable="false">
			<h:form id="deleteBranchForm">
				<h:panelGrid>
					<h:outputText styleClass="ui-confirm-dialog" value="Do you want to delete branch #{branchWebHandler.branch.name}?" />
					<h:panelGroup>
						<p:commandButton value="Yes" action="#{branchWebHandler.deleteBranch}" 
						oncomplete="PF('dlgConfirm').hide()" update=":branchForm" />
						<p:commandButton value="No" onclick="PF('dlgConfirm').hide()" />	
					</h:panelGroup>
				</h:panelGrid>
			</h:form>			
		</p:dialog>
		<p:dialog widgetVar="dlgConfirmChangeStatus" id="confirmDlgChgSts" header="Change Status Branch" modal="true" resizable="false">
			<h:form id="changeStatusSystemBranchForm">
				<h:panelGrid>
					<h:outputText styleClass="ui-confirm-dialog" value="Do you want to #{branchWebHandler.branch.status==1? 'disable' : 'enable'} branch #{branchWeHandler.branch.name}?" />
					<h:panelGroup>
						<p:commandButton value="Yes" action="#{branchWebHandler.changeStatusBranch}" 
						oncomplete="PF('dlgConfirmChangeStatus').hide()"  update=":branchForm" />
						<p:commandButton value="No" onclick="PF('dlgConfirmChangeStatus').hide()" />	
					</h:panelGroup>
				</h:panelGrid>
			</h:form>			
		</p:dialog>
	</ui:define>
	<ui:define name="content">
		<h:form id="searchForm">
			<p:commandLink value="(x) close" icon="ui-icon-search" rendered="#{branchWebHandler.doShowSearch}">
					 <p:ajax event="click"
					listener="#{branchWebHandler.hideSearch}" update=":searchForm">
				</p:ajax>
			</p:commandLink>
			<p:commandLink value="(+) search" icon="ui-icon-search" rendered="#{!branchWebHandler.doShowSearch}">
				 <p:ajax event="click"
					listener="#{branchWebHandler.showSearch}" update=":searchForm ">
				</p:ajax>
			</p:commandLink>
				<p:panelGrid rendered="#{branchWebHandler.doShowSearch}">
				   <f:facet name="header">  
        			 <p:row>  
        			 <p:column style="width:125px; border:none;">
							<p:commandButton value="Search" icon="ui-icon-search" onclick="PF('loadingDlg').show()" oncomplete="PF('loadingDlg').hide()"
							actionListener="#{branchWebHandler.doSearch}" update=":searchForm :branchForm"/>
					</p:column>
           			<p:column style="width:180px; border:none;">Search Category</p:column>  
         			 </p:row>  
				   </f:facet>	
			       <p:row>
						<p:column ><h:outputLabel value="Branch Code" /></p:column>
						<p:column >
							<p:inputText value="#{branchWebHandler.branch.code}"  autocomplete="off" >
							</p:inputText>
						</p:column>
					</p:row>
					<p:row>
						<p:column ><h:outputLabel value="Branch Name" /></p:column>
						<p:column >
							<p:inputText value="#{branchWebHandler.branch.name}"  autocomplete="off" >
							</p:inputText>
						</p:column>
					</p:row>
					<p:row>
						<p:column style="width:125px; border:none;" ><h:outputLabel value="Approval Status" /></p:column>
					   	<p:column>
							<p:selectBooleanCheckbox value="#{branchWebHandler.pending}" label="Pending" itemLabel="Pending"/><br/>
						 	<p:selectBooleanCheckbox value="#{branchWebHandler.approved}" label="Approved" itemLabel="Approved"/><br/>
						 	<p:selectBooleanCheckbox value="#{branchWebHandler.rejected}" label="Rejected" itemLabel="Rejected"/>  
					 	</p:column>
					</p:row>
					<p:row>
						<p:column style="width:125px; border:none;" ><h:outputLabel value="Branch Status" /></p:column>
					   	<p:column>
							<p:selectBooleanCheckbox value="#{branchWebHandler.active}" label="Enable" itemLabel="Enable"/><br/>
						 	<p:selectBooleanCheckbox value="#{branchWebHandler.inactive}" label="Disable" itemLabel="Disable"/><br/>
					 	</p:column>
					</p:row>				
				</p:panelGrid>
		</h:form>
		<h:form id="branchForm">
			<p:dataTable var="branch" value="#{branchWebHandler.branchList}" 
				lazy="true" style="width: 1035px;"
				paginator="true" rows="10"
				paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
				rowsPerPageTemplate="#{commonConfig.rowsPerPageTemplate}"
				id="branchTable">
				
				<f:facet name="header">
					<table>
						<tr>
							<td style="width:450px; border:none; padding:0px; text-align:left;">
								<p:commandButton icon="ui-icon-plusthick" value="Create Branch"
								oncomplete="PF('insertOrEditBranch').show()"  action="#{branchWebHandler.newBranch}" update=":insertOrEditForm"/>
							</td>
							<td style="border:none; padding:0px; text-align:left;">
								<p:outputLabel value="Branch Data" />
							</td>
						</tr>
					</table>
				</f:facet>
				<p:column headerText="Branch Code" style="width: 100px;">
					<h:outputText value="#{branch.code}"></h:outputText>
				</p:column>
				<p:column headerText="Branch Name" >
					<h:outputText value="#{branch.name}"></h:outputText>
				</p:column>
				<p:column headerText="Description" >
					<h:outputText value="#{branch.description}"></h:outputText>
				</p:column>	
				<p:column headerText="Status" >
					<h:outputText converter="model.statusConverter" value="#{branch.status}"></h:outputText>
				</p:column>
				<p:column headerText="Approval Status" style="width: 120px;">
					<h:outputText value="#{branch.approvalStatus}"></h:outputText>
				</p:column>
				<p:column headerText="Action" style="width: 125px;">
					<p:outputLabel style="visibility:hidden" value="mii" />
					<p:commandLink style="color:black; font-weight:bold ; text-decoration:underline" value="View" icon="ui-icon-person"
					actionListener="#{branchWebHandler.viewDetailedBranch(branch)}" update=":viewForm :viewFormBranchEdit"/>
					<p:outputLabel style="visibility:hidden" value="mi" />
					<p:commandLink  style="color:black; font-style:italic ; text-decoration:underline" value="Edit" icon="ui-icon-pencil"
					actionListener="#{branchWebHandler.viewDetailedBranchEdit(branch)}" update=":insertOrEditForm :viewForm :insertOrEditFormPending"/>
					<p:outputLabel style="visibility:hidden" value="mi" />
					<p:commandLink style="color:black; font-style:italic ; text-decoration:underline" value="#{branch.status==1? 'Disable' : 'Enable'}" icon="ui-icon-trash" action="#{branchWeHandler.viewDetailedChangeStatus(branch)}" 
						update=":changeStatusBranchForm " />
					<p:outputLabel style="visibility:hidden" value="mii" />
				</p:column>
			</p:dataTable>
		</h:form>
		
	</ui:define>
</ui:composition>