<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	template="/resources/components/layout.xhtml">
	
	<ui:define name="dialog">
		<p:dialog  header="View Parameter #{systemParameterHandler.systemParameter.name}" id="viewParameter" widgetVar="viewParameter" modal="true"
			resizable="true">
			<h:form id="viewFormParameter">
				<p:panelGrid columns="2" columnClasses="panelGrid-label-parameter, panelGrid-value-parameter">
					<f:facet name="header">Parameter's Detail</f:facet>
					
					<h:outputText value="Parameter Id"></h:outputText>
					<h:outputText value="#{systemParameterHandler.systemParameter.id}"></h:outputText>
					
					<h:outputText value="Parameter Name"></h:outputText>
					<h:outputText value="#{systemParameterHandler.systemParameter.name}"></h:outputText>
					
					<h:outputText value="Value"></h:outputText>
					<h:outputText value="#{systemParameterHandler.systemParameter.value}"></h:outputText>
					
					<h:outputText value="Description"></h:outputText>
					<h:outputText value="#{systemParameterHandler.systemParameter.description}"></h:outputText>
					
					<h:outputText value="History"></h:outputText>
					<p:commandLink style="text-decoration:underline" value="Hide" icon="ui-icon-search" rendered="#{systemParameterHandler.doShowHistory}">
						<p:ajax event="click"
							listener="#{systemParameterHandler.hideHistory}" update=":viewFormParameter ">
						</p:ajax>
					</p:commandLink>
					<p:commandLink style="text-decoration:underline" value="Show" icon="ui-icon-search" rendered="#{!systemParameterHandler.doShowHistory}">
						<p:ajax event="click"
							listener="#{systemParameterHandler.showHistory}" update=":viewFormParameter ">
						</p:ajax>
					</p:commandLink>
					
				</p:panelGrid>
				<p:panelGrid columns="2" columnClasses="panelGrid-label-parameter, panelGrid-value-parameter" rendered="#{systemParameterHandler.doShowHistory}">
					<f:facet name="header">History</f:facet>

					<h:outputText value="Change Date"></h:outputText>
					<h:outputText value="#{systemParameterHandler.systemParameter.changeDate}"></h:outputText>
					
					<h:outputText value="Change By"></h:outputText>
					<h:outputText value="#{systemParameterHandler.systemParameter.changeWho}"></h:outputText>
					
					<h:outputText value="Approval Date"></h:outputText>
					<h:outputText value="#{systemParameterHandler.systemParameter.approvalDate}"></h:outputText>
					
					<h:outputText value="Approval By"></h:outputText>
					<h:outputText value="#{systemParameterHandler.systemParameter.approvalBy}"></h:outputText>
					
					<h:outputText value="Approval Status"></h:outputText>
					<h:outputText value="#{systemParameterHandler.systemParameter.approvalStatus}"></h:outputText>
				</p:panelGrid>
			</h:form>
		</p:dialog>
		<p:dialog  header="View Parameter Edit #{systemParameterHandler.systemParameter.name}" id="viewParameterEdit" widgetVar="viewParameterEdit" 
			modal="true" resizable="true">
			<h:form id="viewFormParameterEdit" disabled="true">
				 <h:panelGrid columns="2" style="vertical-align:top;" columnClasses="parameter-current,parameter-pending">	
					<p:panelGrid columns="2" columnClasses="panelGrid-label-parameter, panelGrid-value-parameter">
						<f:facet name="header">Current Parameter's Detail</f:facet>
					
					<h:outputText value="Parameter Id"></h:outputText>
					<h:outputText value="#{systemParameterHandler.systemParameter.id}"></h:outputText>
					
					<h:outputText value="Parameter Name"></h:outputText>
					<h:outputText value="#{systemParameterHandler.systemParameter.name}"></h:outputText>
					
					<h:outputText value="Value"></h:outputText>
					<h:outputText value="#{systemParameterHandler.systemParameter.value}"></h:outputText>
					
					<h:outputText value="Description"></h:outputText>
					<h:outputText value="#{systemParameterHandler.systemParameter.description}"></h:outputText>
						
					</p:panelGrid>
					<p:panelGrid columns="2" columnClasses="panelGrid-label-parameter, panelGrid-value-parameter">
						<f:facet name="header">Pending Parameter's Detail</f:facet>
					
					<h:outputText value="Parameter Id"></h:outputText>
					<h:outputText value="#{systemParameterHandler.systemParameterTemp.id}"></h:outputText>
					
					<h:outputText value="Parameter Name"></h:outputText>
					<h:outputText value="#{systemParameterHandler.systemParameterTemp.name}"></h:outputText>
					
					<h:outputText value="Value"></h:outputText>
					<h:outputText value="#{systemParameterHandler.systemParameterTemp.value}"></h:outputText>
					
					<h:outputText value="Description"></h:outputText>
					<h:outputText value="#{systemParameterHandler.systemParameterTemp.description}"></h:outputText>
						
					</p:panelGrid>
				 </h:panelGrid>
				
			</h:form>
		</p:dialog>
	
	
	<p:dialog header="Insert or Edit Parameter" id="edit" widgetVar="insertOrEditParameter" modal="true"
		resizable="true">
		<h:form id="insertOrEditForm">
					<p:panelGrid columns="2" columnClasses=".panelGrid-label-parameter, .panelGrid-value-parameter">
						<f:facet name="header">Parameter's Detail</f:facet>
						
						<h:outputText value="Parameter Id"></h:outputText>
						<p:column>
							<h:outputText id="id" value="#{systemParameterHandler.systemParameter.id}" required="true">
							</h:outputText>
							<h:outputText value=" "/>
							<p:message for="id" styleClass="validation-message" />
						</p:column>	
						
						<h:outputText value="Parameter Name"></h:outputText>
						<p:column>
							<p:inputText id="name" value="#{systemParameterHandler.systemParameter.name}" required="true">
							</p:inputText>
							<h:outputText value=" "/>
							<p:message for="name" styleClass="validation-message" />
						</p:column>	
						
						<h:outputText value="Value"></h:outputText>
						<p:column>
							<p:inputTextarea id="value" rows="4" value="#{systemParameterHandler.systemParameter.value}" required="true">
							</p:inputTextarea>
							<h:outputText value=" "/>
							<p:message for="value" styleClass="validation-message" />
						</p:column>		
						
						<h:outputText value="Description"></h:outputText>
						<p:column>
							<p:inputTextarea id="description" rows="4" value="#{systemParameterHandler.systemParameter.description}" >
							</p:inputTextarea>
							<h:outputText value=" "/>
							<p:message for="description" styleClass="validation-message" />
						</p:column>	
						
					</p:panelGrid>
				<div class="ui-widget-header ui-corner-all" style="text-align: center; padding: 5px;">			
					<p:commandButton value="Save" icon="ui-icon-disk" actionListener="#{systemParameterHandler.doSave}" 
						disabled="" id="btnSave" onclick="PF('loadingDlg').show()" 
						update=":insertOrEditForm :parameterForm"
						oncomplete="PF('loadingDlg').hide();"/>
					<p:commandButton value="Cancel" icon="ui-icon-cancel" onclick="PF('insertOrEditParameter').hide()" />
				</div>
		</h:form>	
	</p:dialog>
	<p:dialog header="Insert or Edit Parameter Pending" id="editPending" widgetVar="insertOrEditParameterPending" modal="true"
			resizable="true" height="100%">
			<h:form id="insertOrEditFormPending">
			<h:panelGrid columns="2" style="vertical-align:top;" columnClasses="user-detail,user-role">		
				<p:panelGrid columns="2" columnClasses=".panelGrid-label-parameter, .panelGrid-value-parameter">
					<f:facet name="header">Current Parameter's Detail</f:facet>
						
						<h:outputText value="Parameter Id"></h:outputText>
						<h:outputText value="#{systemParameterHandler.systemParameter.id}"></h:outputText>
						
						<h:outputText value="Parameter Name"></h:outputText>
						<h:outputText disable="true" value="#{systemParameterHandler.systemParameter.name}"></h:outputText>
						
						<h:outputText value="Value"></h:outputText>
						<h:outputText value="#{systemParameterHandler.systemParameter.value}"></h:outputText>
						
						<h:outputText value="Description"></h:outputText>
						<h:outputText value="#{systemParameterHandler.systemParameter.description}"></h:outputText>
						
				</p:panelGrid>	
				<p:panelGrid columns="2" columnClasses=".panelGrid-label-parameter, .panelGrid-value-parameter">
					<f:facet name="header">Pending Parameter's Detail</f:facet>
						
						<h:outputText value="Parameter Id"></h:outputText>
						<h:outputText id="id" value="#{systemParameterHandler.systemParameterTemp.id}" required="true">
						</h:outputText>
						
						<h:outputText value="Parameter Name"></h:outputText>
						<p:column>
							<p:inputText id="name" value="#{systemParameterHandler.systemParameterTemp.name}" required="true">
							</p:inputText>
							<h:outputText value=" "/>
							<p:message for="name" styleClass="validation-message" />
						</p:column>	
						
						<h:outputText value="Value"></h:outputText>
						<p:column>
							<p:inputTextarea id="value" rows="4" value="#{systemParameterHandler.systemParameterTemp.value}" required="true">
							</p:inputTextarea>
							<h:outputText value=" "/>
							<p:message for="value" styleClass="validation-message" />
						</p:column>	
						
						<h:outputText value="Description"></h:outputText>
						<p:column>
							<p:inputTextarea id="description" rows="4" value="#{systemParameterHandler.systemParameterTemp.description}" required="true">
							</p:inputTextarea>
							<h:outputText value=" "/>
							<p:message for="description" styleClass="validation-message" />
						</p:column>	
				</p:panelGrid>
				
			</h:panelGrid>
				
			<div class="ui-widget-header ui-corner-all" style="text-align: center; padding: 5px;">			
				<p:commandButton value="Save" icon="ui-icon-disk" actionListener="#{systemParameterHandler.doSave}" 
					disabled="" id="btnSave" onclick="PF('loadingDlg').show()" 
					update=":insertOrEditFormPending :parameterForm"
					oncomplete="PF('loadingDlg').hide();"/>
				<p:commandButton value="Cancel" icon="ui-icon-cancel" onclick="PF('insertOrEditParameterPending').hide()" />
			</div>
				
			</h:form>
		</p:dialog>
		<p:dialog widgetVar="dlgConfirm" id="confirmDlg" header="Delete Parameter" modal="true" resizable="false">
			<h:form id="deleteSystemParameterForm">
				<h:panelGrid>
					<h:outputText styleClass="ui-confirm-dialog" value="Do you want to delete parameter #{systemParameterHandler.systemParameter.name}?" />
					<h:panelGroup>
						<p:commandButton value="Yes" action="#{systemParameterHandler.deleteSystemParameter}" 
						oncomplete="PF('dlgConfirm').hide()"  update=":parameterForm" />
						<p:commandButton value="No" onclick="PF('dlgConfirm').hide()" />	
					</h:panelGroup>
				</h:panelGrid>
			</h:form>			
		</p:dialog>
		<p:dialog widgetVar="dlgConfirmChangeStatus" id="confirmDlgChgSts" header="Change Status Parameter" modal="true" resizable="false">
			<h:form id="changeStatusSystemParameterForm">
				<h:panelGrid>
					<h:outputText styleClass="ui-confirm-dialog" value="Do you want to #{systemParameterHandler.systemParameter.status==1? 'disable' : 'enable'} parameter #{systemParameterHandler.systemParameter.name}?" />
					<h:panelGroup>
						<p:commandButton value="Yes" action="#{systemParameterHandler.changeStatusSystemParameter}" 
						oncomplete="PF('dlgConfirmChangeStatus').hide()"  update=":parameterForm" />
						<p:commandButton value="No" onclick="PF('dlgConfirmChangeStatus').hide()" />	
					</h:panelGroup>
				</h:panelGrid>
			</h:form>			
		</p:dialog>
	</ui:define>
	
	<ui:define name="content">
		<h:form id="searchForm">
				<h:panelGrid columns="4">
						<p:column ><h:outputLabel value="Parameter Name" style="font-weight:bold"/></p:column>
						<p:column >
							<p:inputText 
							id="parameterName" autocomplete="off"
							label="parameterName" value="#{systemParameterHandler.name}">
							</p:inputText>
						</p:column>
						<p:column style="width:125px; border:none;" ><h:outputLabel value="Approval Status" style="font-weight:bold"/></p:column>
					   	<p:column>
							<p:selectBooleanCheckbox style="width:80px;" value="#{systemParameterHandler.pending}" label="Pending" itemLabel="Pending"/>
						 	<p:selectBooleanCheckbox style="width:80px;" value="#{systemParameterHandler.approved}" label="Approved" itemLabel="Approved"/>
						 	<p:selectBooleanCheckbox style="width:80px;" value="#{systemParameterHandler.rejected}" label="Rejected" itemLabel="Rejected"/>  
					 	</p:column>
					 	<p:column ><h:outputLabel value="Parameter Value" style="font-weight:bold"/></p:column>
						<p:column >
							<p:inputText 
							id="parameterValue" autocomplete="off"
							label="parameterValue" value="#{systemParameterHandler.value}">
							</p:inputText>
						</p:column>
						
						<p:column style="width:125px; border:none;" ><h:outputLabel value="Parameter Status" style="font-weight:bold"/></p:column>
					   	<p:column>
							<p:selectBooleanCheckbox style="width:80px;" value="#{systemParameterHandler.active}" label="Enable" itemLabel="Enable"/>
						 	<p:selectBooleanCheckbox style="width:80px;" value="#{systemParameterHandler.inactive}" label="Disable" itemLabel="Disable"/>
					 	</p:column>
					<p:commandButton value="Search" icon="ui-icon-search"
						actionListener="#{systemParameterHandler.doSearch}" update=":parameterForm" onclick="PF('loadingDlg').show()" oncomplete="PF('loadingDlg').hide()"/>
						
				</h:panelGrid>
		</h:form>
		
		<h:form id="parameterForm">
			<p:dataTable var="parameter" value="#{systemParameterHandler.parameterList}" 
				lazy="true" style="width: 1335px;"
				paginator="true" rows="10"
				paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
				rowsPerPageTemplate="#{commonConfig.rowsPerPageTemplate}"
				id="parameterTable">
				
				<f:facet name="header">
					<table>
						<tr>
							<td style="border:none; padding:0px; text-align:center;">
								<p:outputLabel value="Parameter Data" />
							</td>
						</tr>
					</table>
				</f:facet>
				<p:column headerText="Parameter Name" style="width: 250px;">
					<h:outputText value="#{parameter.name}"></h:outputText>
				</p:column>
				<p:column headerText="Value" >
					<h:outputText value="#{parameter.value}"></h:outputText>
				</p:column>
				<p:column headerText="Status" style="width: 60px;" >
					<h:outputText converter="model.statusConverter" value="#{parameter.status}"></h:outputText>
				</p:column>
				<p:column headerText="Approval Status" style="width: 120px;">
					<h:outputText value="#{parameter.approvalStatus}"></h:outputText>
				</p:column>
				<p:column headerText="Action" style="width: 200px;">
					<p:outputLabel style="visibility:hidden" value="mii" />
					<p:commandLink style="color:black; font-weight:bold ; text-decoration:underline" value="View" icon="ui-icon-person"
						actionListener="#{systemParameterHandler.viewDetailedParameter(parameter)}" update=":viewFormParameter :viewFormParameterEdit"/>
					<p:outputLabel style="visibility:hidden" value="mi" />
					<p:commandLink  style="color:black; font-style:italic ; text-decoration:underline" value="Edit" icon="ui-icon-pencil"
						actionListener="#{systemParameterHandler.viewDetailedParameterEdit(parameter)}" update=":insertOrEditForm :insertOrEditFormPending"
						/>
					<p:outputLabel style="visibility:hidden" value="mi" />
					<p:commandLink style="color:black; font-style:italic ; text-decoration:underline" value="#{parameter.status==1? 'Disable' : 'Enable'}" icon="ui-icon-trash" action="#{systemParameterHandler.viewDetailedChangeStatus(parameter)}" 
						update=":changeStatusSystemParameterForm " />
					<p:outputLabel style="visibility:hidden" value="mii" />
				</p:column>
			</p:dataTable>
		</h:form>
		
	</ui:define>
</ui:composition>