<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	template="/resources/components/layout.xhtml">
	
	<ui:define name="dialog">
		<p:dialog header="View Holiday #{holidayHandler.holiday.id}" id="view" widgetVar="viewHoliday" modal="true"
			resizable="true">
			<h:form id="viewForm">
				<p:panelGrid columns="2" columnClasses="panelGrid-label, panelGrid-value-role">
					<f:facet name="header">Holiday's Detail</f:facet>
					<h:outputText value="Holiday Id"></h:outputText>
					<h:outputText value="#{holidayHandler.holiday.id}"></h:outputText>
					
					<h:outputText value="Holiday Name"></h:outputText>
					<h:outputText value="#{holidayHandler.holiday.name}"></h:outputText>
					
					<h:outputText value="Description"></h:outputText>
					<h:outputText value="#{holidayHandler.holiday.description}"></h:outputText>
					
					<h:outputText value="Holiday Date"></h:outputText>
					<h:outputText value="#{holidayHandler.holiday.sDate}"></h:outputText>
					
					<h:outputText value="History"></h:outputText>
					<p:commandLink style="text-decoration:underline" value="Hide" icon="ui-icon-search" rendered="#{holidayHandler.doShowHistory}">
						<p:ajax event="click"
							listener="#{holidayHandler.hideHistory}" update=":viewForm ">
						</p:ajax>
					</p:commandLink>
					<p:commandLink style="text-decoration:underline" value="Show" icon="ui-icon-search" rendered="#{!holidayHandler.doShowHistory}">
						<p:ajax event="click"
							listener="#{holidayHandler.showHistory}" update=":viewForm ">
						</p:ajax>
					</p:commandLink>
					
				</p:panelGrid>
				<p:panelGrid columns="2" columnClasses="panelGrid-label, panelGrid-value-role" rendered="#{holidayHandler.doShowHistory}">
					<f:facet name="header">History</f:facet>
					<h:outputText value="Create Date"></h:outputText>
					<h:outputText value="#{holidayHandler.holiday.createDate}"></h:outputText>
					
					<h:outputText value="Create By"></h:outputText>
					<h:outputText value="#{holidayHandler.holiday.createWho}"></h:outputText>
					
					<h:outputText value="Change Date"></h:outputText>
					<h:outputText value="#{holidayHandler.holiday.changeDate}"></h:outputText>
					
					<h:outputText value="Change By"></h:outputText>
					<h:outputText value="#{holidayHandler.holiday.changeWho}"></h:outputText>
					
					<h:outputText value="Approval Date"></h:outputText>
					<h:outputText value="#{holidayHandler.holiday.approvalDate}"></h:outputText>
					
					<h:outputText value="Approval By"></h:outputText>
					<h:outputText value="#{holidayHandler.holiday.approvalBy}"></h:outputText>
					
					<h:outputText value="Approval Status"></h:outputText>
					<h:outputText value="#{holidayHandler.holiday.approvalStatus}"></h:outputText>
				</p:panelGrid>
			</h:form>
		</p:dialog>	
		<p:dialog  header="View Holiday Edit #{holidayWebHandler.holiday.name}" id="viewHolidayEdit" widgetVar="viewHolidayEdit" 
			modal="true" resizable="true">
			<h:form id="viewFormHolidayEdit" disabled="true">
				<h:panelGrid columns="2" style="vertical-align:top;" columnClasses="parameter-current,parameter-pending">	
					<p:panelGrid columns="2" columnClasses="panelGrid-label-role, panelGrid-value-role">
						<f:facet name="header">Current Holiday's Detail</f:facet>
					
						<h:outputText value="Holiday Id"></h:outputText>
						<h:outputText value="#{holidayHandler.holiday.id}"></h:outputText>
						
						<h:outputText value="Holiday Name"></h:outputText>
						<h:outputText value="#{holidayHandler.holiday.name}"></h:outputText>
						
						<h:outputText value="Description"></h:outputText>
						<h:outputText value="#{holidayHandler.holiday.description}"></h:outputText>
						
						<h:outputText value="Holiday Date"></h:outputText>
						<h:outputText value="#{holidayHandler.holiday.sDate}"></h:outputText>
						
					</p:panelGrid>
					<p:panelGrid columns="2" columnClasses="panelGrid-label-role, panelGrid-value-role">
						<f:facet name="header">Pending Holiday's Detail</f:facet>
					
						<h:outputText value="Holiday Id"></h:outputText>
						<h:outputText value="#{holidayHandler.holidayTemp.id}"></h:outputText>
						
						<h:outputText value="Holiday Name"></h:outputText>
						<h:outputText value="#{holidayHandler.holidayTemp.name}"></h:outputText>
						
						<h:outputText value="Description"></h:outputText>
						<h:outputText value="#{holidayHandler.holidayTemp.description}"></h:outputText>
						
						<h:outputText value="Holiday Date"></h:outputText>
						<h:outputText value="#{holidayHandler.holidayTemp.sDate}"></h:outputText>
						
					</p:panelGrid>
				</h:panelGrid>
			</h:form>
		</p:dialog>
		<p:dialog header="Insert or Edit Holiday" id="edit" widgetVar="insertOrEditHoliday" modal="true"
			resizable="true">
			<h:form id="insertOrEditForm">
						<p:panelGrid columns="2" columnClasses=".panelGrid-label-parameter, .panelGrid-value-parameter">
							<f:facet name="header">Holiday's Detail</f:facet>
							
							<h:outputText value="Holiday Id"></h:outputText>
							<p:column>
								<h:outputText id="holidayId" value="#{holidayHandler.holiday.id}" required="true">
								</h:outputText>
								<h:outputText value=" "/>
								<p:message for="holidayId" styleClass="validation-message" />
							</p:column>	
							
							<h:outputText value="Holiday Name"></h:outputText>
							<p:column>
								<p:inputText id="holidayName" value="#{holidayHandler.holiday.name}" required="true">
								</p:inputText>
								<h:outputText value=" "/>
								<p:message for="holidayName" styleClass="validation-message" />
							</p:column>	
							
							<h:outputText value="Description"></h:outputText>
							<p:column>
								<p:inputText id="description" value="#{holidayHandler.holiday.description}" required="true">
								</p:inputText>
								<h:outputText value=" "/>
								<p:message for="description" styleClass="validation-message" />
							</p:column>	
							
							<h:outputText value="Holiday Date"></h:outputText>
							<p:column>
								<p:calendar id="sDate" value="#{holidayHandler.holiday.sDate}" showOn="button" required="true"/>
								<h:outputText value=" "/>
								<p:message for="sDate" styleClass="validation-message" />
							</p:column>
							
						</p:panelGrid>
					<div class="ui-widget-header ui-corner-all" style="text-align: center; padding: 5px;">			
						<p:commandButton value="Save" icon="ui-icon-disk" actionListener="#{holidayHandler.doSave}"
							onclick="PF('loadingDlg').show()" update=":insertOrEditForm :holidayForm"
							oncomplete="PF('loadingDlg').hide();"  />
						<p:commandButton value="Cancel" icon="ui-icon-cancel" onclick="PF('insertOrEditHoliday').hide()" />
					</div>
			</h:form>	
		</p:dialog>
		<p:dialog header="Insert or Edit Holiday Pending" id="editPending" widgetVar="insertOrEditHolidayPending" modal="true"
			resizable="true" height="100%">
			<h:form id="insertOrEditFormPending">
			<h:panelGrid columns="2" style="vertical-align:top;" columnClasses="user-detail,user-role">		
				<p:panelGrid columns="2" columnClasses=".panelGrid-label-holiday, .panelGrid-value-holiday">
					<f:facet name="header">Current Holiday's Detail</f:facet>
						
						<h:outputText value="Holiday Id"></h:outputText>
						<h:outputText value="#{holidayHandler.holiday.id}"></h:outputText>
						
						<h:outputText value="Holiday Name"></h:outputText>
						<p:column>
							<h:outputText value="#{holidayHandler.holiday.name}"></h:outputText>
							<p:inputText  size="1" style="visibility:hidden" >
							</p:inputText>
						</p:column>
						
						<h:outputText value="Description"></h:outputText>
						<p:column>
							<h:outputText value="#{holidayHandler.holiday.description}"></h:outputText>
							<p:inputText  size="1" style="visibility:hidden" >
							</p:inputText>
						</p:column>
						
						<h:outputText value="Holiday Date"></h:outputText>
						<p:column>
							<h:outputText value="#{holidayHandler.holiday.sDate}"></h:outputText>
							<p:inputText  size="1" style="visibility:hidden" >
							</p:inputText>
						</p:column>
						
				</p:panelGrid>	
				<p:panelGrid columns="2" columnClasses=".panelGrid-label-holiday, .panelGrid-value-holiday">
					<f:facet name="header">Pending Holiday's Detail</f:facet>
							<h:outputText value="Holiday Id"></h:outputText>
							<p:column>
								<h:outputText id="holidayId" value="#{holidayHandler.holidayTemp.id}" required="true">
								</h:outputText>
								<h:outputText value=" "/>
								<p:message for="holidayId" styleClass="validation-message" />
							</p:column>	
							
							<h:outputText value="Holiday Name"></h:outputText>
							<p:column>
								<p:inputText id="holidayName" value="#{holidayHandler.holidayTemp.name}" required="true">
								</p:inputText>
								<h:outputText value=" "/>
								<p:message for="holidayName" styleClass="validation-message" />
							</p:column>	
							
							<h:outputText value="Description"></h:outputText>
							<p:column>
								<p:inputText id="description" value="#{holidayHandler.holidayTemp.description}" required="true">
								</p:inputText>
								<h:outputText value=" "/>
								<p:message for="description" styleClass="validation-message" />
							</p:column>	
							
							<h:outputText value="Holiday Date"></h:outputText>
							<p:column>
								<p:calendar id="sDate" value="#{holidayHandler.holidayTemp.sDate}" showOn="button" required="true"/>
								<h:outputText value=" "/>
								<p:message for="sDate" styleClass="validation-message" />
							</p:column>
						
				</p:panelGrid>
			</h:panelGrid>
				
			<div class="ui-widget-header ui-corner-all" style="text-align: center; padding: 5px;">			
				<p:commandButton value="Save" icon="ui-icon-disk" actionListener="#{holidayHandler.doSave}" 
					disabled="" id="btnSave" onclick="PF('loadingDlg').show()" 
					update=":insertOrEditFormPending :holidayForm"
					oncomplete="PF('loadingDlg').hide(); "/>
				<p:commandButton value="Cancel" icon="ui-icon-cancel" onclick="PF('insertOrEditHolidayPending').hide()" />
			</div>
				
			</h:form>
		</p:dialog>
		<p:dialog widgetVar="dlgConfirm" id="confirmDlg" header="Delete Holiday" modal="true" resizable="false">
			<h:form id="deleteHolidayForm">
				<h:panelGrid>
					<h:outputText styleClass="ui-confirm-dialog" value="Do you want to delete holiday #{holidayHandler.holiday.name}?" />
					<h:panelGroup>
						<p:commandButton value="Yes" action="#{holidayHandler.deleteHoliday}" 
						oncomplete="PF('dlgConfirm').hide()" update=":holidayForm" />
						<p:commandButton value="No" onclick="PF('dlgConfirm').hide()" />	
					</h:panelGroup>
				</h:panelGrid>
			</h:form>			
		</p:dialog>
		<p:dialog widgetVar="dlgConfirmChangeStatus" id="confirmDlgChgSts" header="Change Status Holiday" modal="true" resizable="false">
			<h:form id="changeStatusSystemHolidayForm">
				<h:panelGrid>
					<h:outputText styleClass="ui-confirm-dialog" value="Do you want to #{holidayHandler.holiday.status==1? 'disable' : 'enable'} parameter #{holidayHandler.holiday.name}?" />
					<h:panelGroup>
						<p:commandButton value="Yes" action="#{holidayHandler.changeStatusHoliday}" 
						oncomplete="PF('dlgConfirmChangeStatus').hide()"  update=":holidayForm" />
						<p:commandButton value="No" onclick="PF('dlgConfirmChangeStatus').hide()" />	
					</h:panelGroup>
				</h:panelGrid>
			</h:form>			
		</p:dialog>
	</ui:define>
	<ui:define name="content">
		<h:form id="searchForm">
			<p:commandLink value="(x) close" icon="ui-icon-search" rendered="#{holidayHandler.doShowSearch}">
					 <p:ajax event="click"
					listener="#{holidayHandler.hideSearch}" update=":searchForm">
				</p:ajax>
			</p:commandLink>
			<p:commandLink value="(+) search" icon="ui-icon-search" rendered="#{!holidayHandler.doShowSearch}">
				 <p:ajax event="click"
					listener="#{holidayHandler.showSearch}" update=":searchForm ">
				</p:ajax>
			</p:commandLink>
				<p:panelGrid rendered="#{holidayHandler.doShowSearch}">
				   <f:facet name="header">  
        			 <p:row>  
        			 <p:column style="width:125px; border:none;">
							<p:commandButton value="Search" icon="ui-icon-search" onclick="PF('loadingDlg').show()" oncomplete="PF('loadingDlg').hide()"
							actionListener="#{holidayHandler.doSearch}" update=":searchForm :holidayForm"/>
					</p:column>
           			<p:column style="width:180px; border:none;">Search Category</p:column>  
         			 </p:row>  
				   </f:facet>	
			       <p:row>
						<p:column ><h:outputLabel value="Holiday Id" /></p:column>
						<p:column >
							<p:inputText value="#{holidayHandler.holiday.id}" autocomplete="off" >
							</p:inputText>
						</p:column>
					</p:row>
					<p:row>
						<p:column ><h:outputLabel value="Holiday Name" /></p:column>
						<p:column >
							<p:inputText value="#{holidayHandler.holiday.name}"  autocomplete="off" >
							</p:inputText>
						</p:column>
					</p:row>
					<p:row>
						<p:column ><h:outputLabel value="Holiday Date" /></p:column>
						<p:column >
							<p:calendar value="#{holidayHandler.holidayDate}"  showOn="button"/>
						</p:column>
					</p:row>
					<p:row>
						<p:column style="width:125px; border:none;" ><h:outputLabel value="Approval Status" /></p:column>
					   	<p:column>
							<p:selectBooleanCheckbox value="#{holidayHandler.pending}" label="Pending" itemLabel="Pending"/><br/>
						 	<p:selectBooleanCheckbox value="#{holidayHandler.approved}" label="Approved" itemLabel="Approved"/><br/>
						 	<p:selectBooleanCheckbox value="#{holidayHandler.rejected}" label="Rejected" itemLabel="Rejected"/>  
					 	</p:column>
					</p:row>
					<p:row>
						<p:column style="width:125px; border:none;" ><h:outputLabel value="Holiday Status" /></p:column>
					   	<p:column>
							<p:selectBooleanCheckbox value="#{holidayHandler.active}" label="Enable" itemLabel="Enable"/><br/>
						 	<p:selectBooleanCheckbox value="#{holidayHandler.inactive}" label="Disable" itemLabel="Disable"/><br/>
					 	</p:column>
					</p:row>	
				</p:panelGrid>
		</h:form>
		<h:form id="holidayForm">
			<p:dataTable var="holiday" value="#{holidayHandler.holidayList}" 
				lazy="true" style="width: 1135px;"
				paginator="true" rows="10"
				paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
				rowsPerPageTemplate="#{commonConfig.rowsPerPageTemplate}"
				id="holidayTable">
				
				<f:facet name="header">
					<table>
						<tr>
							<td style="width:450px; border:none; padding:0px; text-align:left;">
								<p:commandButton icon="ui-icon-plusthick" value="Create Holiday"
								oncomplete="PF('insertOrEditHoliday').show()"  action="#{holidayHandler.newHoliday}" update=":insertOrEditForm"/>
							</td>
							<td style="border:none; padding:0px; text-align:left;">
								<p:outputLabel value="Holiday Data" />
							</td>
						</tr>
					</table>
				</f:facet>
				<p:column headerText="Holiday Id" style="width: 250px;">
					<h:outputText value="#{holiday.id}"></h:outputText>
				</p:column>
				<p:column headerText="Holiday Name" style="width: 200px;">
					<h:outputText value="#{holiday.name}"></h:outputText>
				</p:column>
				<p:column headerText="Description" width="250">
					<h:outputText value="#{holiday.description}"></h:outputText>
				</p:column>
				<p:column headerText="Holiday Date" width="120">
					<h:outputText value="#{holiday.holidayDate}"></h:outputText>
				</p:column>
				<p:column headerText="Status" width="150">
					<h:outputText converter="model.statusConverter" value="#{holiday.status}"></h:outputText>
				</p:column>
				<p:column headerText="Approval Status" style="width: 120px;">
					<h:outputText value="#{holiday.approvalStatus}"></h:outputText>
				</p:column>
				<p:column headerText="Action" width="100">
					<p:outputLabel style="visibility:hidden" value="mii" />
					<p:commandLink style="color:black; font-weight:bold ; text-decoration:underline" value="View" icon="ui-icon-person"
					actionListener="#{holidayHandler.viewDetailedHoliday(holiday)}" update=":viewForm :viewFormHolidayEdit"/>
					<p:outputLabel style="visibility:hidden" value="mi" />
					<p:commandLink  style="color:black; font-style:italic ; text-decoration:underline" value="Edit" icon="ui-icon-pencil"
					actionListener="#{holidayHandler.viewDetailedHolidayEdit(holiday)}" update=":insertOrEditForm :viewForm :insertOrEditFormPending"/>
					<p:outputLabel style="visibility:hidden" value="mi" />
					<p:commandLink style="color:black; font-style:italic ; text-decoration:underline" value="#{holiday.status==1? 'Disable' : 'Enable'}" icon="ui-icon-trash" action="#{branchWeHandler.viewDetailedChangeStatus(holiday)}" 
						update=":changeStatusHolidayForm " />
					<p:outputLabel style="visibility:hidden" value="mii" />
				</p:column>
			</p:dataTable>
		</h:form>
		
	</ui:define>
</ui:composition>