<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions"
	template="/resources/components/layout.xhtml">

	<ui:define name="dialog">
		<p:dialog header="View Role" id="view" widgetVar="viewRole"
			modal="true" resizable="true">
			<h:form id="viewForm">
				<p:panelGrid columns="2"
					columnClasses="panelGrid-label, panelGrid-value-role">
					<f:facet name="header">Role Detail</f:facet>
					<h:outputText value="Role Code"></h:outputText>
					<h:outputText value="#{roleWebHandler.role.code}"></h:outputText>

					<h:outputText value="Role Name"></h:outputText>
					<h:outputText value="#{roleWebHandler.role.name}"></h:outputText>

					<h:outputText value="History"></h:outputText>
					<p:commandLink style="text-decoration:underline" value="Hide"
						icon="ui-icon-search" rendered="#{roleWebHandler.doShowHistory}">
						<p:ajax event="click" listener="#{roleWebHandler.hideHistory}"
							update=":viewForm ">
						</p:ajax>
					</p:commandLink>
					<p:commandLink style="text-decoration:underline" value="Show"
						icon="ui-icon-search" rendered="#{!roleWebHandler.doShowHistory}">
						<p:ajax event="click" listener="#{roleWebHandler.showHistory}"
							update=":viewForm ">
						</p:ajax>
					</p:commandLink>

				</p:panelGrid>
				<p:panelGrid columns="2"
					columnClasses="panelGrid-label, panelGrid-value-role"
					rendered="#{roleWebHandler.doShowHistory}">
					<f:facet name="header">History</f:facet>
					<h:outputText value="Create Date"></h:outputText>
					<h:outputText value="#{roleWebHandler.role.createDate}"></h:outputText>

					<h:outputText value="Create By"></h:outputText>
					<h:outputText value="#{roleWebHandler.role.createWho}"></h:outputText>

					<h:outputText value="Change Date"></h:outputText>
					<h:outputText value="#{roleWebHandler.role.changeDate}"></h:outputText>

					<h:outputText value="Change By"></h:outputText>
					<h:outputText value="#{roleWebHandler.role.changeWho}"></h:outputText>

					<h:outputText value="Approval Date"></h:outputText>
					<h:outputText value="#{roleWebHandler.role.approvalDate}"></h:outputText>

					<h:outputText value="Approval By"></h:outputText>
					<h:outputText value="#{roleWebHandler.role.approvalBy}"></h:outputText>

					<h:outputText value="Approval Status"></h:outputText>
					<h:outputText value="#{roleWebHandler.role.approvalStatus}"></h:outputText>
				</p:panelGrid>
				<p:panel header="Menu" style=" margin-top:10px;">
					<div style="height: 400px; overflow-y: scroll;">
						<o:tree value="#{roleWebHandler.tree}" var="menu">

							<o:treeNode level="0">
								<o:treeNodeItem>
									<h3 style="margin-top: 0px; margin-left: 5px;">
										<h:selectBooleanCheckbox value="#{menu.selected}"
											disabled="true" />
										#{menu.name}
									</h3>
									<o:treeInsertChildren />
								</o:treeNodeItem>
							</o:treeNode>
							<o:treeNode>
								<ul style="list-style-type: none;">
									<o:treeNodeItem>
										<li style="margin: 0px;"><h:selectBooleanCheckbox
												value="#{menu.selected}" disabled="true" /> #{menu.name} <ui:repeat
												var="action" value="#{menu.actionList}">
												<li style="margin: 0 0 0 35px; font-style: italic"><h:selectBooleanCheckbox
														value="#{action.selected}" disabled="true" />
													#{action.name}</li>
											</ui:repeat> <o:treeInsertChildren /></li>
									</o:treeNodeItem>
								</ul>
							</o:treeNode>

						</o:tree>
					</div>
				</p:panel>
			</h:form>
		</p:dialog>
		<p:dialog header="View Role Edit" id="viewEdit"
			widgetVar="viewRoleEdit" modal="true" resizable="true">
			<h:form id="viewFormEdit">
				<h:panelGrid columns="2" style="vertical-align:top;"
					columnClasses="user-detail,user-role">
					<p:panelGrid columns="2"
						columnClasses="panelGrid-label, panelGrid-value-role">
						<f:facet name="header">Current Role Detail</f:facet>
						<h:outputText value="Role Code"></h:outputText>
						<h:outputText value="#{roleWebHandler.tempRole.code}"></h:outputText>

						<h:outputText value="Role Name"></h:outputText>
						<h:outputText value="#{roleWebHandler.tempRole.name}"></h:outputText>
					</p:panelGrid>
					<p:panelGrid columns="2"
						columnClasses="panelGrid-label, panelGrid-value-role">
						<f:facet name="header">Pending Role Detail</f:facet>
						<h:outputText value="Role Code"></h:outputText>
						<h:outputText value="#{roleWebHandler.role.code}"></h:outputText>

						<h:outputText value="Role Name"></h:outputText>
						<h:outputText value="#{roleWebHandler.role.name}"></h:outputText>
					</p:panelGrid>
					<p:panel header="Current Menu" style=" margin-top:10px;">
						<div style="height: 400px; overflow-y: scroll;">
							<o:tree value="#{roleWebHandler.tempTree}" var="menu">

								<o:treeNode level="0">
									<o:treeNodeItem>
										<h3 style="margin-top: 0px; margin-left: 5px;">
											<h:selectBooleanCheckbox value="#{menu.selected}"
												disabled="true" />
											#{menu.name}
										</h3>
										<o:treeInsertChildren />
									</o:treeNodeItem>
								</o:treeNode>
								<o:treeNode>
									<ul style="list-style-type: none;">
										<o:treeNodeItem>
											<li style="margin: 0px;"><h:selectBooleanCheckbox
													value="#{menu.selected}" disabled="true" /> #{menu.name} <ui:repeat
													var="action" value="#{menu.actionList}">
													<li style="margin: 0 0 0 35px; font-style: italic"><h:selectBooleanCheckbox
															value="#{action.selected}" disabled="true" />
														#{action.name}</li>
												</ui:repeat> <o:treeInsertChildren /></li>
										</o:treeNodeItem>
									</ul>
								</o:treeNode>

							</o:tree>
						</div>
					</p:panel>
					<p:panel header="Pending Menu" style=" margin-top:10px;">
						<div style="height: 400px; overflow-y: scroll;">
							<o:tree value="#{roleWebHandler.tree}" var="menu">

								<o:treeNode level="0">
									<o:treeNodeItem>
										<h3 style="margin-top: 0px; margin-left: 5px;">
											<h:selectBooleanCheckbox value="#{menu.selected}"
												disabled="true" />
											#{menu.name}
										</h3>
										<o:treeInsertChildren />
									</o:treeNodeItem>
								</o:treeNode>
								<o:treeNode>
									<ul style="list-style-type: none;">
										<o:treeNodeItem>
											<li style="margin: 0px;"><h:selectBooleanCheckbox
													value="#{menu.selected}" disabled="true" /> #{menu.name} <ui:repeat
													var="action" value="#{menu.actionList}">
													<li style="margin: 0 0 0 35px; font-style: italic"><h:selectBooleanCheckbox
															value="#{action.selected}" disabled="true" />
														#{action.name}</li>
												</ui:repeat> <o:treeInsertChildren /></li>
										</o:treeNodeItem>
									</ul>
								</o:treeNode>

							</o:tree>
						</div>
					</p:panel>
				</h:panelGrid>
			</h:form>
		</p:dialog>
		<p:dialog header="Insert or Edit Role" id="edit"
			widgetVar="insertOrEditRole" modal="true" resizable="true">
			<h:form id="insertOrEditForm" prependId="false">
				<p:panelGrid columns="2"
					columnClasses="panelGrid-label, panelGrid-value-role">
					<f:facet name="header">Role Detail</f:facet>

					<h:outputText value="Role Code"></h:outputText>
					<p:column>
						<p:inputText id="roleCode" value="#{roleWebHandler.role.code}"
							required="true" maxlength="100">
						</p:inputText>
						<h:outputText value=" " />
						<p:message for="roleCode" styleClass="validation-message" />
					</p:column>

					<h:outputText value="Role Name"></h:outputText>
					<p:column>
						<p:inputText id="roleName" value="#{roleWebHandler.role.name}"
							required="true" maxlength="100">
						</p:inputText>
						<h:outputText value=" " />
						<p:message for="roleName" styleClass="validation-message" />
					</p:column>

				</p:panelGrid>
				<p:panel header="Menu" style=" margin-top:10px;" id="panelTreeMenu">
					<div style="height: 400px; overflow-y: scroll;">
						<o:tree value="#{roleWebHandler.tree}" var="menu" id="treeMenu">

							<o:treeNode level="0">
								<o:treeNodeItem>
									<h3 style="margin-top: 0px; margin-left: 5px;">
										<h:selectBooleanCheckbox value="#{menu.selected}">
											<p:ajax listener="#{roleWebHandler.checkThebox(menu)}" />
										</h:selectBooleanCheckbox>
										#{menu.name}
									</h3>
									<o:treeInsertChildren />
								</o:treeNodeItem>
							</o:treeNode>
							<o:treeNode>
								<ul style="list-style-type: none;">
									<o:treeNodeItem>
										<li style="margin: 0px;"><h:selectBooleanCheckbox
												value="#{menu.selected}">
												<p:ajax listener="#{roleWebHandler.checkThebox(menu)}" />
											</h:selectBooleanCheckbox> #{menu.name} <ui:repeat var="action"
												value="#{menu.actionList}">
												<li style="margin: 0 0 0 35px; font-style: italic"><h:selectBooleanCheckbox
														value="#{action.selected}">
														<p:ajax
															listener="#{roleWebHandler.checkAction(menu, action)}" />
													</h:selectBooleanCheckbox> #{action.name}</li>
											</ui:repeat> <o:treeInsertChildren /></li>
									</o:treeNodeItem>
								</ul>
							</o:treeNode>

						</o:tree>
					</div>
				</p:panel>

				<div class="ui-widget-header ui-corner-all"
					style="text-align: center; padding: 5px;">
					<p:commandButton value="Save" icon="ui-icon-disk"
						actionListener="#{roleWebHandler.doSave}" id="btnSave"
						onclick="PF('loadingDlg').show()"
						update=":insertOrEditForm :roleForm"
						oncomplete="PF('loadingDlg').hide();" />
					<p:commandButton value="Cancel" icon="ui-icon-cancel"
						onclick="PF('insertOrEditRole').hide()" />
				</div>

			</h:form>
		</p:dialog>
		<p:dialog header="Insert or Edit Role Pending" id="editPending"
			widgetVar="insertOrEditRolePending" modal="true" resizable="true">
			<h:form id="insertOrEditFormPending" prependId="false">

				<h:panelGrid columns="2" style="vertical-align:top;"
					columnClasses="user-detail,user-role">
					<p:panelGrid columns="2"
						columnClasses="panelGrid-label, panelGrid-value-role">
						<f:facet name="header">Current Role Detail</f:facet>
						<h:outputText value="Role Code"></h:outputText>
						<h:outputText value="#{roleWebHandler.tempRole.code}"></h:outputText>

						<h:outputText value="Role Name"></h:outputText>
						<h:outputText value="#{roleWebHandler.tempRole.name}"></h:outputText>
					</p:panelGrid>
					<p:panelGrid columns="2"
						columnClasses="panelGrid-label, panelGrid-value-role">
						<f:facet name="header">Pending Role Detail</f:facet>

						<h:outputText value="Role Code"></h:outputText>

						<p:column>
							<p:inputText id="roleCodeTemp"
								value="#{roleWebHandler.role.code}" required="true"
								maxlength="100">
							</p:inputText>
							<h:outputText value=" " />
							<p:message for="roleCodeTemp" styleClass="validation-message" />
						</p:column>

						<h:outputText value="Role Name"></h:outputText>
						<p:column>
							<p:inputText id="roleNameTemp"
								value="#{roleWebHandler.role.name}" required="true"
								maxlength="100">
							</p:inputText>
							<h:outputText value=" " />
							<p:message for="roleNameTemp" styleClass="validation-message" />
						</p:column>

					</p:panelGrid>
					<p:panel header="Current Menu" style=" margin-top:10px;">
						<div style="height: 400px; overflow-y: scroll;">
							<o:tree value="#{roleWebHandler.tempTree}" var="menu">

								<o:treeNode level="0">
									<o:treeNodeItem>
										<h3 style="margin-top: 0px; margin-left: 5px;">
											<h:selectBooleanCheckbox value="#{menu.selected}"
												disabled="true" />
											#{menu.name}
										</h3>
										<o:treeInsertChildren />
									</o:treeNodeItem>
								</o:treeNode>
								<o:treeNode>
									<ul style="list-style-type: none;">
										<o:treeNodeItem>
											<li style="margin: 0px;"><h:selectBooleanCheckbox
													value="#{menu.selected}" disabled="true" /> #{menu.name} <ui:repeat
													var="action" value="#{menu.actionList}">
													<li style="margin: 0 0 0 35px; font-style: italic"><h:selectBooleanCheckbox
															value="#{action.selected}">
															<p:ajax
																listener="#{roleWebHandler.checkAction(menu, action)}" />
														</h:selectBooleanCheckbox> #{action.name}</li>
												</ui:repeat> <o:treeInsertChildren /></li>
										</o:treeNodeItem>
									</ul>
								</o:treeNode>

							</o:tree>
						</div>
					</p:panel>
					<p:panel header="Pending Menu" style=" margin-top:10px;"
						id="panelTreeMenuPending">
						<div style="height: 400px; overflow-y: scroll;">
							<o:tree value="#{roleWebHandler.tree}" var="menu"
								id="treeMenuPending">

								<o:treeNode level="0">
									<o:treeNodeItem>
										<h3 style="margin-top: 0px; margin-left: 5px;">
											<h:selectBooleanCheckbox value="#{menu.selected}">
												<p:ajax
													listener="#{roleWebHandler.checkTheboxPending(menu)}" />
											</h:selectBooleanCheckbox>
											#{menu.name}
										</h3>
										<o:treeInsertChildren />
									</o:treeNodeItem>
								</o:treeNode>
								<o:treeNode>
									<ul style="list-style-type: none;">
										<o:treeNodeItem>
											<li style="margin: 0px;"><h:selectBooleanCheckbox
													value="#{menu.selected}">
													<p:ajax
														listener="#{roleWebHandler.checkTheboxPending(menu)}" />
												</h:selectBooleanCheckbox> #{menu.name} <ui:repeat var="action"
													value="#{menu.actionList}">
													<li style="margin: 0 0 0 35px; font-style: italic"><h:selectBooleanCheckbox
															value="#{action.selected}">
															<p:ajax
																listener="#{roleWebHandler.checkAction(menu, action)}" />
														</h:selectBooleanCheckbox> #{action.name}</li>
												</ui:repeat> <o:treeInsertChildren /></li>
										</o:treeNodeItem>
									</ul>
								</o:treeNode>

							</o:tree>
						</div>
					</p:panel>
				</h:panelGrid>
				<div class="ui-widget-header ui-corner-all"
					style="text-align: center; padding: 5px;">
					<p:commandButton value="Save" icon="ui-icon-disk"
						actionListener="#{roleWebHandler.doSave}" id="btnSavePending"
						onclick="PF('loadingDlg').show()"
						update=" :insertOrEditForm :insertOrEditFormPending :roleForm"
						oncomplete="PF('loadingDlg').hide();" />
					<p:commandButton value="Cancel" icon="ui-icon-cancel"
						onclick="PF('insertOrEditRole').hide()" />
				</div>

			</h:form>
		</p:dialog>
		<p:dialog widgetVar="dlgConfirm" id="confirmDlg" header="Delete Role"
			modal="true" resizable="false">
			<h:form id="deleteForm">
				<h:panelGrid>
					<h:outputText styleClass="ui-confirm-dialog"
						value="Do you want to delete role #{roleWebHandler.role.name}?" />
					<h:panelGroup>
						<p:commandButton value="Yes" action="#{roleWebHandler.deleteRole}"
							oncomplete="PF('dlgConfirm').hide()" update=":roleForm" />
						<p:commandButton value="No" onclick="PF('dlgConfirm').hide()" />
					</h:panelGroup>
				</h:panelGrid>
			</h:form>
		</p:dialog>
		<p:dialog widgetVar="dlgConfirmChangeStatus" id="confirmDlgChgSts"
			header="Change Status Role" modal="true" resizable="false">
			<h:form id="changeStatusRoleForm">
				<h:panelGrid>
					<h:outputText styleClass="ui-confirm-dialog"
						value="Do you want to #{roleWebHandler.role.status==1? 'disable' : 'enable'} parameter #{roleWebHandler.role.name}?" />
					<h:panelGroup>
						<p:commandButton value="Yes"
							action="#{roleWebHandler.changeStatusRole}"
							oncomplete="PF('dlgConfirmChangeStatus').hide()"
							update=":roleForm" />
						<p:commandButton value="No"
							onclick="PF('dlgConfirmChangeStatus').hide()" />
					</h:panelGroup>
				</h:panelGrid>
			</h:form>
		</p:dialog>
	</ui:define>

	<ui:define name="content">
		<h:form id="searchForm">
			<h:panelGrid columns="4">
				<p:column>
					<h:outputLabel value="Role Id" style="font-weight:bold" />
				</p:column>
				<p:column>
					<p:inputText id="roleCode" autocomplete="off" maxlength="50"
						label="roleCode" value="#{roleWebHandler.roleCode}">
					</p:inputText>
				</p:column>

				<p:column style="width:125px; border:none;">
					<h:outputLabel value="Approval Status" style="font-weight:bold" />
				</p:column>
				<p:column>
					<p:selectBooleanCheckbox style="width:100px;"
						value="#{roleWebHandler.pending}" label="Pending"
						itemLabel="Pending" />
					<p:selectBooleanCheckbox style="width:100px;"
						value="#{roleWebHandler.approved}" label="Approved"
						itemLabel="Approved" />
					<p:selectBooleanCheckbox style="width:100px;"
						value="#{roleWebHandler.rejected}" label="Rejected"
						itemLabel="Rejected" />
				</p:column>
				<p:column>
					<h:outputLabel value="Role Name" style="font-weight:bold" />
				</p:column>
				<p:column>
					<p:inputText id="roleName" autocomplete="off" maxlength="100"
						label="roleName" value="#{roleWebHandler.roleName}">
					</p:inputText>
				</p:column>
				<p:column style="width:125px; border:none;">
					<h:outputLabel value="Role Status" style="font-weight:bold" />
				</p:column>
				<p:column>
					<p:selectBooleanCheckbox style="width:100px;"
						value="#{roleWebHandler.active}" label="Enable" itemLabel="Enable" />
					<p:selectBooleanCheckbox style="width:100px;"
						value="#{roleWebHandler.inactive}" label="Disable"
						itemLabel="Disable" />
				</p:column>
				<p:column>
					<p:commandButton value="Search" icon="ui-icon-search"
						actionListener="#{roleWebHandler.doSearch}" update=":roleForm"
						onclick="PF('loadingDlg').show()"
						oncomplete="PF('loadingDlg').hide()" />
				</p:column>
				<p:column>
				</p:column>
				<p:column>
				</p:column>
				<p:column>
				</p:column>
				<p:column>
				</p:column>
			</h:panelGrid>
		</h:form>
		<h:form id="roleForm">

			<p:dataTable var="role" value="#{roleWebHandler.roleList}"
				lazy="true" style="width: 800px;" paginator="true" rows="10"
				paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
				rowsPerPageTemplate="#{commonConfig.rowsPerPageTemplate}"
				id="roleTable">

				<f:facet name="header">
					<table>
						<tr>
							<td
								style="width: 365px; border: none; padding: 0px; text-align: left;">
								<p:commandButton oncomplete="PF('insertOrEditRole').show()"
									value="Create" action="#{roleWebHandler.newRole}" icon="ui-icon-plus"
									update=":insertOrEditForm :insertOrEditFormPending" />
							</td>
							<td style="border: none; padding: 0px; text-align: left;"><p:outputLabel
									value="Roles Data" /></td>
						</tr>
					</table>
				</f:facet>

				<p:column headerText="Role Code" style="width: 190px;">
					<h:outputText value="#{role.code}"></h:outputText>
				</p:column>
				<p:column headerText="Role Name">
					<h:outputText value="#{role.name}"></h:outputText>
				</p:column>
				<p:column headerText="Status" style="width: 80px;">
					<h:outputText converter="model.statusConverter"
						value="#{role.status}"></h:outputText>
				</p:column>
				<p:column headerText="Approval Status" style="width: 120px;">
					<h:outputText value="#{role.approvalStatus}"></h:outputText>
				</p:column>
				<p:column headerText="Action" style="width: 160px;">
					<p:outputLabel style="visibility:hidden" value="mii" />
					<p:commandLink
						style="color:black; font-weight:bold ; text-decoration:underline"
						value="View" icon="ui-icon-zoomin"
						oncomplete="PF('loadingDlg').hide();"
						update=":viewForm :viewFormEdit"
						actionListener="#{roleWebHandler.viewDetailedRole(role)}"
						onclick="PF('loadingDlg').show()" />
					<p:outputLabel style="visibility:hidden" value="mi" />
					<p:commandLink
						style="color:black; font-style:italic ; text-decoration:underline"
						value="Edit" icon="ui-icon-pencil"
						actionListener="#{roleWebHandler.viewDetailedRoleEdit(role)}"
						oncomplete="PF('loadingDlg').hide();"
						update=":insertOrEditForm :insertOrEditFormPending"
						onclick="PF('loadingDlg').show()" />
					<p:outputLabel style="visibility:hidden" value="mi" />
					<p:commandLink
						style="color:black; font-style:italic ; text-decoration:underline"
						value="#{role.status==1? 'Disable' : 'Enable'}"
						icon="ui-icon-trash"
						action="#{roleWebHandler.viewDetailedChangeStatus(role)}"
						update=":changeStatusRoleForm " />
					<p:outputLabel style="visibility:hidden" value="mii" />
				</p:column>
			</p:dataTable>
		</h:form>
	</ui:define>
</ui:composition>