<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	template="/resources/components/layout.xhtml">

	<ui:define name="content">

		<script type="text/javascript" src="../javascript/sha256.js"></script>
		<script type="text/javascript">
			function setHashPassword() {
				var shaObj = new jsSHA("SHA-256", "TEXT");
				shaObj.update(document.getElementById('password').value);
				document.getElementById('hashPassword').value = shaObj.getHash("HEX");
				shaObj = new jsSHA("SHA-256", "TEXT");
				shaObj.update(document.getElementById('newPassword').value);
				document.getElementById('hashNewPassword').value = shaObj.getHash("HEX");
			}
		</script>

		<f:metadata>
		    <f:viewParam id="id" name="id" value="#{loginHandler.userName}"/>
		</f:metadata>

		<h:form id="cpForm" class="form-2" prependId="false">

   			<h:inputHidden id="hashPassword" value="#{loginHandler.password}" />
   			<h:inputHidden id="hashNewPassword" value="#{loginHandler.newPassword}" />

			<p:poll listener="#{loginHandler.keepUserSessionAlive()}"
				interval="#{session.maxInactiveInterval - 10}" />

			<p:panelGrid columns="2" columnClasses="panelGrid-label, panelGrid-value-user">

				<h:outputText value="Password"></h:outputText>
				<p:column>
					<p:password autocomplete="off" style="width:250px;"
						requiredMessage="Password is required. "
						styleClass="ui-inputfield ui-widget ui-state-default ui-corner-all password1 showpassword"
						value="#{loginHandler.plainPassword}" maxlength="50" id="password"
						required="true" />
					<h:outputText value=" "/>
					<p:message for="password" styleClass="validation-message" />
				</p:column>
	
				<h:outputText value="New Password"></h:outputText>
				<p:column>
					<p:password autocomplete="off" style="width:250px;"
						requiredMessage="New Password is required. "
						styleClass="ui-inputfield ui-widget ui-state-default ui-corner-all password1 showpassword"
						value="#{loginHandler.plainNewPassword}" maxlength="50"
						id="newPassword" required="true" 
						validatorMessage="#{loginHandler.passwordValidationMessage}">
						<f:validateRegex pattern="#{loginHandler.passwordRegex}" />
					</p:password>
					<h:outputText value=" "/>
					<p:message for="newPassword" styleClass="validation-message" />
				</p:column>
	
				<h:outputText value="Confirm New Password"></h:outputText>
				<p:column>
					<p:password autocomplete="off" style="width:250px;"
						requiredMessage="Confirm New Password is required. "
						styleClass="ui-inputfield ui-widget ui-state-default ui-corner-all password1 showpassword"
						value="#{loginHandler.confirmPassword}" maxlength="50"
						id="confirmPassword" required="true" />
					<h:outputText value=" "/>
					<p:message for="confirmPassword" styleClass="validation-message" />
				</p:column>
	
<!-- 				<h:graphicImage id="capimg" -->
<!-- 					value="#{facesContext.externalContext.requestContextPath}/../Captcha.jpg" /> -->
			
<!-- 				<p:inputText id="chaptcha" value="#{loginHandler.validate}" -->
<!-- 					style="width:250px;" requiredMessage="Captcha is required. " -->
<!-- 					required="false" maxlength="10"> -->
<!-- 					<f:validator validatorId="captchaValidator" /> -->
<!-- 					<f:validateRegex pattern="[a-zA-Z0-9 ]+"/> -->
<!-- 					<p:message id="chaptcha1" for="chaptcha" style="color:red" /> -->
<!-- 				</p:inputText> -->
<!-- 				<p:messages id="msg" style="color:#CD0A0A" /> -->
	
					<p:commandButton value="Submit"
						action="#{loginHandler.doChangePassword}" update="msg" ajax="false"
						align="right"
						style="align:right;background-color:#FDB913;color:white" 
						onclick="setHashPassword();"/>
			</p:panelGrid>
		</h:form>
	
	</ui:define>
</ui:composition>
	