<html xmlns="http://www.w3.org/1999/xhtml"
     xmlns:h="http://java.sun.com/jsf/html"
     xmlns:f="http://java.sun.com/jsf/core"
     xmlns:p="http://http://java.sun.com/jsf/composite/components/property"
     template="/resources/components/layout.xhtml">
<h:head>
  <title>Custom Exception Page</title>  
</h:head>
<h:body>
  <h:form>
    <p>EXCEPTION OCCURED</p>
     #{currentView}
     #{flash.exceptioniNFO}
    <p>#{facesContext.externalContext.requestMap['javax.servlet.error.message']}</p>
  </h:form>
</h:body>
</html>