<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions">
<h:head>
	<f:facet name="first">
		<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8,chrome=1"></meta>
		<meta http-equiv="Content-Type" content="text/xhtml; charset=UTF-8" />
		<meta http-equiv="Cache-Control" content="no-cache" />
		<meta http-equiv="Pragma" content="no-cache" />
	</f:facet>
	
	<link rel="shortcut icon" type="image/x-icon"
		href="#{request.contextPath}/resources/images/favicon.ico" />
		
    <link type="text/css" rel="stylesheet" href="#{request.contextPath}/resources/themes/start/theme.css"/>
    
<!--     <link type="text/css" rel="stylesheet" href="#{request.contextPath}/resources/themes/ui-lightness/theme.css"/> -->
    
<!--     <link type="text/css" rel="stylesheCet" href="#{request.contextPath}/resources/themes/primefaces-ui-darkness/theme.css"/> -->
    
	
	<title>Bank BJB - SAM</title>

	<h:outputStylesheet library="css" name="default.css" />
	
<!-- 	<h:outputScript library="javascript" name="custom.js" target="head" /> -->
<!-- 	<h:outputScript library="javascript" name="dosalama.js" target="head" /> -->
</h:head>

<h:body>
	<p:layout fullPage="true">

		<p:layoutUnit position="north" styleClass="header" minSize="120" size="120">
			<div class="header">
				<div class="titleMain">
					<h:graphicImage value="/resources/images/logo-bjb.png" />
				</div>
			</div>
		</p:layoutUnit>

		<p:layoutUnit position="center" id="contentWeb" style="border: none;">
			<ui:insert name="content"></ui:insert>
		</p:layoutUnit>

	</p:layout>
	
	<ui:insert name="dialog">
	</ui:insert>
	
	<p:dialog showHeader="false" modal="true" widgetVar="loadingDlg"
		id="dlgLoding" draggable="false" width="260px" resizable="false"
		closable="false">
		<p:graphicImage value="/resources/images/ajaxloadingbar.gif" />
	</p:dialog>
	
	<h:form id="formGrowl">
		<p:growl showDetail="false" />
	</h:form>

<!-- 	<h:outputScript library="javascript" name="global.js" target="head" /> -->
<!-- 	<h:outputScript library="omnifaces" name="fixviewstate.js" target="head" /> -->
	
	<script>
		$(document).ready(function() {
			var viewId = '#{view.viewId}';
			var views = viewId.split("/");
			var pageName = views[views.length - 1];
			views = pageName.split(".");
			pageName = '.' + views[0];
			var linkpage = $("div").find(pageName);
			linkpage.addClass('ui-state-active');
			
			var closestParentDiv = linkpage.parent().closest('div');
			closestParentDiv.attr('aria-hidden', 'false');
			closestParentDiv.css('display', 'block');
			
			var heading = closestParentDiv.siblings('h3');
			heading.addClass('ui-state-active');
			heading.children('span').removeClass('ui-icon-triangle-1-e');
			heading.children('span').addClass('ui-icon-triangle-1-s');
			isNumeric();
		});
		

		function isNumeric(){
			$(".numeric").keypress(function (e) {
			    if (e.which != 8 &amp;&amp; e.which != 0 &amp;&amp; (e.which &lt; 48 || e.which &gt; 57)) {
			       return false;
			   }
			});
		}
	</script>
</h:body>
</html>