<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:b="http://bootsfaces.net/ui">

<h:head>
	<f:facet name="first">
		<meta http-equiv="X-UA-Compatible" content="IE=8"></meta>
		<meta http-equiv="Content-Type" content="text/xhtml; charset=UTF-8" />
		<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
		<meta http-equiv="Pragma" content="no-cache" />
		<meta http-equiv="Expires" content="0" />
	</f:facet>

	<title>Login - SAM</title>

	<link rel="shortcut icon" type="image/x-icon" href="#{request.contextPath}/resources/images/favicon.ico" />

	<script type="text/javascript" src="../javascript/sha256.js"></script>
	<script type="text/javascript">
		function setHashPassword() {
				var shaObj = new jsSHA("SHA-256", "TEXT");
				shaObj.update(document.getElementById('input_loginForm:password').value);
				document.getElementById('loginForm:hashPassword').value = shaObj.getHash("HEX");
		}
	</script>
	<script type="text/javascript">
		function reloadImage{} {
			document.getElementById('capimg').src='Captcha.jpg?'+myDate.‌​getTime();
		}
	</script>
</h:head>
<h:body class='login'>
	<h:outputStylesheet library="css" name="bjb.css" position="last" />

	<b:container>
		<b:row class="row-container">
			<b:column col-lg="4" offset-lg="4">
				<div class="login-container">
					<div class="login-form-container all-tidy">
						<div class="logo bottom-space">
							<h:graphicImage value="/resources/images/logo-bjb.png" />
						</div>
						<div class="login-form">
							<h:form id="loginForm">
					   			<h:inputHidden id="hashPassword" value="#{loginHandler.password}" />
								<p:poll listener="#{loginHandler.keepUserSessionAlive()}"
									interval="#{session.maxInactiveInterval - 10}" />
								<b:inputText placeholder="Username" id="userName"
									autocomplete="off" 
									requiredMessage="Username is required. " required="true"
									value="#{loginHandler.userName}" maxlength="50">
									<f:validateRegex pattern="[a-zA-Z0-9]+" />
								</b:inputText>
								<b:inputText placeholder="Password" autocomplete="off"
									type="password" 
									value="#{loginHandler.plainPassword}" id="password"
									requiredMessage="Password is required. " required="true" >
								</b:inputText>
								<h:graphicImage id="capimg" 
									value="#{facesContext.externalContext.requestContextPath}/../Captcha.jpg"  cache="false" />
								<b:inputText id="chaptcha" value="#{loginHandler.validate}"
									requiredMessage="Captcha is required. " required="true">
									<f:validator validatorId="captchaValidator" />
								</b:inputText>
								<h:messages id="msg" style="color:#CD0A0A" />
								<b:commandButton value="Login" action="#{loginHandler.doLogin}"
									update="msg" ajax="false" align="right"
									class="btn btn-primary btn-sam-full btn-bottom-space" 
									onclick="setHashPassword();reloadimage();" />
								
							</h:form>
							<h:form id="forgetPasswordForm">
								<b:commandButton value="Forgot Password"
									action="#{loginHandler.forgetPassword}"
									ajax="false" align="right"
									class="btn btn-warning btn-sam-full btn-bottom-space" />
							</h:form>
						</div>

					</div>
				</div>
			</b:column>
		</b:row>
	</b:container>


</h:body>
</html>