<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	template="/resources/components/layout.xhtml">


	<ui:define name="dialog">
		<p:dialog
			header="View Aggregator #{aggregatorHandler.aggregator.name}"
			id="viewAggregator" widgetVar="viewAggregator" modal="true"
			resizable="true">
			<h:form id="viewFormAggregator">
				<h:panelGrid columns="2" style="vertical-align:top;"
					columnClasses="Aggregator-detail,Aggregator-role">
					<h:panelGrid columns="3"
						columnClasses="panelGrid-label-aggregator, panelGrid-separator, panelGrid-value-aggregator">

						<h:outputText value="Code" style="font-weight:bold"></h:outputText>
						<h:outputText value=":  " style="font-weight:bold"></h:outputText>
						<h:outputText value="#{aggregatorHandler.aggregator.code}"></h:outputText>

						<h:outputText value="Name" style="font-weight:bold"></h:outputText>
						<h:outputText value=":  " style="font-weight:bold"></h:outputText>
						<h:outputText value="#{aggregatorHandler.aggregator.name}"></h:outputText>

						<h:outputText value="Address" style="font-weight:bold"></h:outputText>
						<h:outputText value=":  " style="font-weight:bold"></h:outputText>
						<h:outputText value="#{aggregatorHandler.aggregator.address}"></h:outputText>

						<h:outputText value="City" style="font-weight:bold"></h:outputText>
						<h:outputText value=":  " style="font-weight:bold"></h:outputText>
						<h:outputText value="#{aggregatorHandler.aggregator.city}"></h:outputText>

						<h:outputText value="Province" style="font-weight:bold"></h:outputText>
						<h:outputText value=":  " style="font-weight:bold"></h:outputText>
						<h:outputText value="#{aggregatorHandler.aggregator.province}"></h:outputText>

						<h:outputText value="Phone" style="font-weight:bold"></h:outputText>
						<h:outputText value=":  " style="font-weight:bold"></h:outputText>
						<h:outputText value="#{aggregatorHandler.aggregator.phone}"></h:outputText>

						<h:outputText value="Fax" style="font-weight:bold"></h:outputText>
						<h:outputText value=":  " style="font-weight:bold"></h:outputText>
						<h:outputText value="#{aggregatorHandler.aggregator.fax}"></h:outputText>

						<h:outputText value="PIC" style="font-weight:bold"></h:outputText>
						<h:outputText value=":  " style="font-weight:bold"></h:outputText>
						<h:outputText value="#{aggregatorHandler.aggregator.pic}"></h:outputText>

						<h:outputText value="Email PIC" style="font-weight:bold"></h:outputText>
						<h:outputText value=":  " style="font-weight:bold"></h:outputText>
						<h:outputText value="#{aggregatorHandler.aggregator.emailPic}"></h:outputText>

						<h:outputText value="Registration Date " style="font-weight:bold"></h:outputText>
						<h:outputText value=":  " style="font-weight:bold"></h:outputText>
						<h:outputText
							value="#{aggregatorHandler.aggregator.registrationDate}">
							<f:convertDateTime pattern="dd-MM-yyyy" />
						</h:outputText>

						<h:outputText value="Registration Time" style="font-weight:bold"></h:outputText>
						<h:outputText value=":  " style="font-weight:bold"></h:outputText>
						<h:outputText
							value="#{aggregatorHandler.aggregator.registrationTime}"></h:outputText>

					</h:panelGrid>
					<h:panelGrid columns="3"
						columnClasses="panelGrid-label-aggregator, panelGrid-separator, panelGrid-value-aggregator">


						<h:outputText value="Approval Date" style="font-weight:bold"></h:outputText>
						<h:outputText value=":  " style="font-weight:bold"></h:outputText>
						<h:outputText value="#{aggregatorHandler.aggregator.approvalDate}">
							<f:convertDateTime pattern="dd-MM-yyyy" />
						</h:outputText>

						<h:outputText value="Approval Time" style="font-weight:bold"></h:outputText>
						<h:outputText value=":  " style="font-weight:bold"></h:outputText>
						<h:outputText value="#{aggregatorHandler.aggregator.approvalTime}"></h:outputText>

						<h:outputText value="PKS Number" style="font-weight:bold"></h:outputText>
						<h:outputText value=":  " style="font-weight:bold"></h:outputText>
						<h:outputText value="#{aggregatorHandler.aggregator.pksNo}"></h:outputText>

						<h:outputText value="PKS Date" style="font-weight:bold"></h:outputText>
						<h:outputText value=":  " style="font-weight:bold"></h:outputText>
						<h:outputText value="#{aggregatorHandler.aggregator.pksDate}">
							<f:convertDateTime pattern="dd-MM-yyyy" />
						</h:outputText>

						<h:outputText value="PKS Expired Date" style="font-weight:bold"></h:outputText>
						<h:outputText value=":  " style="font-weight:bold"></h:outputText>
						<h:outputText
							value="#{aggregatorHandler.aggregator.pksExpiredDate}">
							<f:convertDateTime pattern="dd-MM-yyyy" />
						</h:outputText>

						<h:outputText value="Transaction Account Number"
							style="font-weight:bold"></h:outputText>
						<h:outputText value=":  " style="font-weight:bold"></h:outputText>
						<h:outputText value="#{aggregatorHandler.aggregator.accountNo}"></h:outputText>

						<h:outputText value="Commission Account Number"
							style="font-weight:bold"></h:outputText>
						<h:outputText value=":  " style="font-weight:bold"></h:outputText>
						<h:outputText value="#{aggregatorHandler.aggregator.accountGlNo}"></h:outputText>

						<h:outputText value="Minimum Saldo" style="font-weight:bold"></h:outputText>
						<h:outputText value=":  " style="font-weight:bold"></h:outputText>
						<h:outputText
							value="#{aggregatorHandler.aggregator.minimumBalance}"></h:outputText>

						<h:outputText value="Message Type" style="font-weight:bold"></h:outputText>
						<h:outputText value=":  " style="font-weight:bold"></h:outputText>
						<h:outputText value="#{aggregatorHandler.aggregator.messageType}"></h:outputText>

						<h:outputText value="Aggregator Status" style="font-weight:bold"></h:outputText>
						<h:outputText value=":  " style="font-weight:bold"></h:outputText>
						<h:outputText converter="model.statusConverter"
							value="#{aggregatorHandler.aggregator.status}"></h:outputText>

						<h:outputText value="Aggregator - CA Status"
							style="font-weight:bold"></h:outputText>
						<h:outputText value=":  " style="font-weight:bold"></h:outputText>
						<h:outputText converter="model.statusConverter"
							value="#{aggregatorHandler.aggregator.statusCA}"></h:outputText>

						<h:outputText value="IP Address" style="font-weight:bold"></h:outputText>
						<h:outputText value=":  " style="font-weight:bold"></h:outputText>
						<h:outputText value="#{aggregatorHandler.aggregator.ipAddress}"></h:outputText>

					</h:panelGrid>
					<h:panelGrid rendered="#{aggregatorHandler.rejectReason}"
						columns="3"
						columnClasses="panelGrid-label-aggregator, panelGrid-separator, panelGrid-value-aggregator">


						<h:outputText value="Reject reason" style="font-weight:bold"></h:outputText>
						<h:outputText value=":  " style="font-weight:bold"></h:outputText>
						<p:inputTextarea id="reason" rows="5" cols="30" maxlength="100"
							autoResize="false" required="true" readonly="true"
							value="#{aggregatorHandler.aggregator.approvalReason}" />

						<h:outputText value="Registration Time"
							style="font-weight:bold; visibility:hidden"></h:outputText>

					</h:panelGrid>
				</h:panelGrid>
			</h:form>
		</p:dialog>
		<p:dialog
			header="View Aggregator Edit #{aggregatorHandler.aggregator.name}"
			id="viewAggregatorEdit" widgetVar="viewAggregatorEdit" modal="true"
			resizable="true">
			<h:form id="viewFormAggregatorEdit" disabled="true">
				<h:panelGrid columns="2" style="vertical-align:top;"
					columnClasses="aggregator-current,aggregator-pending">
					<h:panelGrid columns="2" style="vertical-align:top;"
						columnClasses="Aggregator-detail,Aggregator-role">
						<f:facet name="header">Current Aggregator's Detail</f:facet>
						<h:panelGrid columns="3"
							columnClasses="panelGrid-label-aggregator, panelGrid-separator, panelGrid-value-aggregator">
							<h:outputText value="Code" style="font-weight:bold"></h:outputText>
							<h:outputText value=":  " style="font-weight:bold"></h:outputText>
							<h:outputText value="#{aggregatorHandler.aggregator.code}"></h:outputText>

							<h:outputText value="Name" style="font-weight:bold"></h:outputText>
							<h:outputText value=":  " style="font-weight:bold"></h:outputText>
							<h:outputText value="#{aggregatorHandler.aggregator.name}"></h:outputText>

							<h:outputText value="Address" style="font-weight:bold"></h:outputText>
							<h:outputText value=":  " style="font-weight:bold"></h:outputText>
							<h:outputText value="#{aggregatorHandler.aggregator.address}"></h:outputText>

							<h:outputText value="City" style="font-weight:bold"></h:outputText>
							<h:outputText value=":  " style="font-weight:bold"></h:outputText>
							<h:outputText value="#{aggregatorHandler.aggregator.city}"></h:outputText>

							<h:outputText value="Province" style="font-weight:bold"></h:outputText>
							<h:outputText value=":  " style="font-weight:bold"></h:outputText>
							<h:outputText value="#{aggregatorHandler.aggregator.province}"></h:outputText>

							<h:outputText value="Phone" style="font-weight:bold"></h:outputText>
							<h:outputText value=":  " style="font-weight:bold"></h:outputText>
							<h:outputText value="#{aggregatorHandler.aggregator.phone}"></h:outputText>

							<h:outputText value="Fax" style="font-weight:bold"></h:outputText>
							<h:outputText value=":  " style="font-weight:bold"></h:outputText>
							<h:outputText value="#{aggregatorHandler.aggregator.fax}"></h:outputText>

							<h:outputText value="PIC" style="font-weight:bold"></h:outputText>
							<h:outputText value=":  " style="font-weight:bold"></h:outputText>
							<h:outputText value="#{aggregatorHandler.aggregator.pic}"></h:outputText>

							<h:outputText value="Email PIC" style="font-weight:bold"></h:outputText>
							<h:outputText value=":  " style="font-weight:bold"></h:outputText>
							<h:outputText value="#{aggregatorHandler.aggregator.emailPic}"></h:outputText>

							<h:outputText value="Registration Date " style="font-weight:bold"></h:outputText>
							<h:outputText value=":  " style="font-weight:bold"></h:outputText>
							<h:outputText
								value="#{aggregatorHandler.aggregator.registrationDate}">
								<f:convertDateTime pattern="dd-MM-yyyy" />
							</h:outputText>

							<h:outputText value="Registration Time" style="font-weight:bold"></h:outputText>
							<h:outputText value=":  " style="font-weight:bold"></h:outputText>
							<h:outputText
								value="#{aggregatorHandler.aggregator.registrationTime}"></h:outputText>

						</h:panelGrid>
						<h:panelGrid columns="3"
							columnClasses="panelGrid-label-aggregator, panelGrid-separator, panelGrid-value-aggregator">

							<h:outputText value="Approval Date" style="font-weight:bold"></h:outputText>
							<h:outputText value=":  " style="font-weight:bold"></h:outputText>
							<h:outputText
								value="#{aggregatorHandler.aggregator.approvalDate!=null ? aggregatorHandler.aggregator.approvalDate : 'Not approved'} ">
								<f:convertDateTime pattern="dd-MM-yyyy" />
							</h:outputText>

							<h:outputText value="Approval Time" style="font-weight:bold"></h:outputText>
							<h:outputText value=":  " style="font-weight:bold"></h:outputText>
							<h:outputText
								value="#{aggregatorHandler.aggregator.approvalTime!=null ? aggregatorHandler.aggregator.approvalTime : 'Not approved'} "></h:outputText>

							<h:outputText value="PKS Number" style="font-weight:bold"></h:outputText>
							<h:outputText value=":  " style="font-weight:bold"></h:outputText>
							<h:outputText value="#{aggregatorHandler.aggregator.pksNo}"></h:outputText>

							<h:outputText value="PKS Date" style="font-weight:bold"></h:outputText>
							<h:outputText value=":  " style="font-weight:bold"></h:outputText>
							<h:outputText value="#{aggregatorHandler.aggregator.pksDate}">
								<f:convertDateTime pattern="dd-MM-yyyy" />
							</h:outputText>

							<h:outputText value="PKS Expired Date" style="font-weight:bold"></h:outputText>
							<h:outputText value=":  " style="font-weight:bold"></h:outputText>
							<h:outputText
								value="#{aggregatorHandler.aggregator.pksExpiredDate}">
								<f:convertDateTime pattern="dd-MM-yyyy" />
							</h:outputText>

							<h:outputText value="Transaction Account Number"
								style="font-weight:bold"></h:outputText>
							<h:outputText value=":  " style="font-weight:bold"></h:outputText>
							<h:outputText value="#{aggregatorHandler.aggregator.accountNo}"></h:outputText>

							<h:outputText value="Commission Account Number"
								style="font-weight:bold"></h:outputText>
							<h:outputText value=":  " style="font-weight:bold"></h:outputText>
							<h:outputText value="#{aggregatorHandler.aggregator.accountGlNo}"></h:outputText>

							<h:outputText value="Minimum Saldo" style="font-weight:bold"></h:outputText>
							<h:outputText value=":  " style="font-weight:bold"></h:outputText>
							<h:outputText
								value="#{aggregatorHandler.aggregator.minimumBalance}"></h:outputText>

							<h:outputText value="Message Type" style="font-weight:bold"></h:outputText>
							<h:outputText value=":  " style="font-weight:bold"></h:outputText>
							<h:outputText value="#{aggregatorHandler.aggregator.messageType}"></h:outputText>

							<h:outputText value="Aggregator Status" style="font-weight:bold"></h:outputText>
							<h:outputText value=":  " style="font-weight:bold"></h:outputText>
							<h:outputText converter="model.statusConverter"
								value="#{aggregatorHandler.aggregator.status}"></h:outputText>

							<h:outputText value="Aggregator - CA Status"
								style="font-weight:bold"></h:outputText>
							<h:outputText value=":  " style="font-weight:bold"></h:outputText>
							<h:outputText converter="model.statusConverter"
								value="#{aggregatorHandler.aggregator.statusCA}"></h:outputText>

							<h:outputText value="IP Address" style="font-weight:bold"></h:outputText>
							<h:outputText value=":  " style="font-weight:bold"></h:outputText>
							<h:outputText value="#{aggregatorHandler.aggregator.ipAddress}"></h:outputText>

						</h:panelGrid>
					</h:panelGrid>
					<h:panelGrid columns="2" style="vertical-align:top;"
						columnClasses="Aggregator-detail,Aggregator-role">
						<f:facet name="header">Pending Aggregator's Detail</f:facet>
						<h:panelGrid columns="3"
							columnClasses="panelGrid-label-aggregator, panelGrid-separator, panelGrid-value-aggregator">

							<h:outputText value="Code" style="font-weight:bold"></h:outputText>
							<h:outputText value=":  " style="font-weight:bold"></h:outputText>
							<h:outputText value="#{aggregatorHandler.aggregatorTemp.code}"></h:outputText>

							<h:outputText value="Name" style="font-weight:bold"></h:outputText>
							<h:outputText value=":  " style="font-weight:bold"></h:outputText>
							<h:outputText value="#{aggregatorHandler.aggregatorTemp.name}"></h:outputText>

							<h:outputText value="Address" style="font-weight:bold"></h:outputText>
							<h:outputText value=":  " style="font-weight:bold"></h:outputText>
							<h:outputText value="#{aggregatorHandler.aggregatorTemp.address}"></h:outputText>

							<h:outputText value="City" style="font-weight:bold"></h:outputText>
							<h:outputText value=":  " style="font-weight:bold"></h:outputText>
							<h:outputText value="#{aggregatorHandler.aggregatorTemp.city}"></h:outputText>

							<h:outputText value="Province" style="font-weight:bold"></h:outputText>
							<h:outputText value=":  " style="font-weight:bold"></h:outputText>
							<h:outputText
								value="#{aggregatorHandler.aggregatorTemp.province}"></h:outputText>

							<h:outputText value="Phone" style="font-weight:bold"></h:outputText>
							<h:outputText value=":  " style="font-weight:bold"></h:outputText>
							<h:outputText value="#{aggregatorHandler.aggregatorTemp.phone}"></h:outputText>

							<h:outputText value="Fax" style="font-weight:bold"></h:outputText>
							<h:outputText value=":  " style="font-weight:bold"></h:outputText>
							<h:outputText value="#{aggregatorHandler.aggregatorTemp.fax}"></h:outputText>

							<h:outputText value="PIC" style="font-weight:bold"></h:outputText>
							<h:outputText value=":  " style="font-weight:bold"></h:outputText>
							<h:outputText value="#{aggregatorHandler.aggregatorTemp.pic}"></h:outputText>

							<h:outputText value="Email PIC" style="font-weight:bold"></h:outputText>
							<h:outputText value=":  " style="font-weight:bold"></h:outputText>
							<h:outputText
								value="#{aggregatorHandler.aggregatorTemp.emailPic}"></h:outputText>

							<h:outputText value="Registration Date " style="font-weight:bold"></h:outputText>
							<h:outputText value=":  " style="font-weight:bold"></h:outputText>
							<h:outputText
								value="#{aggregatorHandler.aggregatorTemp.registrationDate}">
								<f:convertDateTime pattern="dd-MM-yyyy" />
							</h:outputText>

							<h:outputText value="Registration Time" style="font-weight:bold"></h:outputText>
							<h:outputText value=":  " style="font-weight:bold"></h:outputText>
							<h:outputText
								value="#{aggregatorHandler.aggregatorTemp.registrationTime}"></h:outputText>

						</h:panelGrid>
						<h:panelGrid columns="3"
							columnClasses="panelGrid-label-aggregator, panelGrid-separator, panelGrid-value-aggregator">


							<h:outputText value="Approval Date" style="font-weight:bold"></h:outputText>
							<h:outputText value=":  " style="font-weight:bold"></h:outputText>
							<h:outputText
								value="#{aggregatorHandler.aggregatorTemp.approvalDate!=null ? aggregatorHandler.aggregatorTemp.approvalDate : 'Not approved'} "></h:outputText>

							<h:outputText value="Approval Time" style="font-weight:bold"></h:outputText>
							<h:outputText value=":  " style="font-weight:bold"></h:outputText>
							<h:outputText
								value="#{aggregatorHandler.aggregatorTemp.approvalTime!=null ? aggregatorHandler.aggregatorTemp.approvalTime : 'Not approved'} "></h:outputText>

							<h:outputText value="PKS Number" style="font-weight:bold"></h:outputText>
							<h:outputText value=":  " style="font-weight:bold"></h:outputText>
							<h:outputText value="#{aggregatorHandler.aggregatorTemp.pksNo}"></h:outputText>

							<h:outputText value="PKS Date" style="font-weight:bold"></h:outputText>
							<h:outputText value=":  " style="font-weight:bold"></h:outputText>
							<h:outputText value="#{aggregatorHandler.aggregatorTemp.pksDate}">
								<f:convertDateTime pattern="dd-MM-yyyy" />
							</h:outputText>

							<h:outputText value="PKS Expired Date" style="font-weight:bold"></h:outputText>
							<h:outputText value=":  " style="font-weight:bold"></h:outputText>
							<h:outputText
								value="#{aggregatorHandler.aggregatorTemp.pksExpiredDate}">
								<f:convertDateTime pattern="dd-MM-yyyy" />
							</h:outputText>

							<h:outputText value="Transaction Account Number"
								style="font-weight:bold"></h:outputText>
							<h:outputText value=":  " style="font-weight:bold"></h:outputText>
							<h:outputText
								value="#{aggregatorHandler.aggregatorTemp.accountNo}"></h:outputText>

							<h:outputText value="Commission Account Number"
								style="font-weight:bold"></h:outputText>
							<h:outputText value=":  " style="font-weight:bold"></h:outputText>
							<h:outputText value="#{aggregatorHandler.aggregator.accountGlNo}"></h:outputText>

							<h:outputText value="Minimum Saldo" style="font-weight:bold"></h:outputText>
							<h:outputText value=":  " style="font-weight:bold"></h:outputText>
							<h:outputText
								value="#{aggregatorHandler.aggregatorTemp.minimumBalance}"></h:outputText>

							<h:outputText value="Message Type" style="font-weight:bold"></h:outputText>
							<h:outputText value=":  " style="font-weight:bold"></h:outputText>
							<h:outputText
								value="#{aggregatorHandler.aggregatorTemp.messageType}"></h:outputText>

							<h:outputText value="Aggregator Status" style="font-weight:bold"></h:outputText>
							<h:outputText value=":  " style="font-weight:bold"></h:outputText>
							<h:outputText converter="model.statusConverter"
								value="#{aggregatorHandler.aggregatorTemp.status}"></h:outputText>

							<h:outputText value="Aggregator - CA Status"
								style="font-weight:bold"></h:outputText>
							<h:outputText value=":  " style="font-weight:bold"></h:outputText>
							<h:outputText converter="model.statusConverter"
								value="#{aggregatorHandler.aggregatorTemp.statusCA}"></h:outputText>

							<h:outputText value="IP Address" style="font-weight:bold"></h:outputText>
							<h:outputText value=":  " style="font-weight:bold"></h:outputText>
							<h:outputText
								value="#{aggregatorHandler.aggregatorTemp.ipAddress}"></h:outputText>

						</h:panelGrid>
					</h:panelGrid>
				</h:panelGrid>
			</h:form>
		</p:dialog>


		<p:dialog header="Insert or Edit Aggregator" id="edit"
			widgetVar="insertOrEditAggregator" modal="true" resizable="true">
			<h:form id="insertOrEditForm">
				<h:panelGrid columns="2" style="vertical-align:top;"
					columnClasses="Aggregator-detail,Aggregator-role">
					<h:panelGrid columns="3"
						columnClasses=".panelGrid-label, .panelGrid-value-aggregator">
						<h:outputText value="Code" style="font-weight:bold"></h:outputText>
						<h:outputText id="code"
							value="#{aggregatorHandler.aggregator.code}">
						</h:outputText>
						<p:message for="code" styleClass="validation-message" />

						<h:outputText value="Name" style="font-weight:bold"></h:outputText>
						<p:inputText id="name"
							value="#{aggregatorHandler.aggregator.name}" required="true">
						</p:inputText>
						<p:message for="name" styleClass="validation-message" />

						<h:outputText value="Address" style="font-weight:bold"></h:outputText>
						<p:inputText id="address"
							value="#{aggregatorHandler.aggregator.address}" required="true">
						</p:inputText>
						<p:message for="address" styleClass="validation-message" />

						<h:outputText value="City" style="font-weight:bold"></h:outputText>
						<p:inputText id="city"
							value="#{aggregatorHandler.aggregator.city}" required="true">
						</p:inputText>
						<p:message for="city" styleClass="validation-message" />

						<h:outputText value="Province" style="font-weight:bold"></h:outputText>
						<p:inputText id="province"
							value="#{aggregatorHandler.aggregator.province}" required="true">
						</p:inputText>
						<p:message for="province" styleClass="validation-message" />

						<h:outputText value="Phone" style="font-weight:bold"></h:outputText>
						<p:inputText id="phone"
							value="#{aggregatorHandler.aggregator.phone}" required="true">
						</p:inputText>
						<p:message for="phone" styleClass="validation-message" />

						<h:outputText value="Fax" style="font-weight:bold"></h:outputText>
						<p:inputText id="fax" value="#{aggregatorHandler.aggregator.fax}">
							<f:validator validatorId="numberValidator" />
						</p:inputText>
						<p:message for="fax" styleClass="validation-message" />

						<h:outputText value="PIC" style="font-weight:bold"></h:outputText>
						<p:inputText id="pic" value="#{aggregatorHandler.aggregator.pic}"
							required="true">
						</p:inputText>
						<p:message for="pic" styleClass="validation-message" />

						<h:outputText value="Email PIC" style="font-weight:bold"></h:outputText>
						<p:inputText id="emailPic"
							value="#{aggregatorHandler.aggregator.emailPic}" required="true">
							<f:validator validatorId="emailValidator" />
						</p:inputText>
						<p:message for="emailPic" styleClass="validation-message" />

					</h:panelGrid>
					<h:panelGrid columns="3"
						columnClasses=".panelGrid-label-aggregator, .panelGrid-value-aggregator">


						<h:outputText value="PKS Number" style="font-weight:bold"></h:outputText>
						<p:inputText id="pksNo"
							value="#{aggregatorHandler.aggregator.pksNo}" required="true">
						</p:inputText>
						<p:message for="pksNo" styleClass="validation-message" />


						<h:outputText value="PKS Date" style="font-weight:bold"></h:outputText>
						<p:calendar id="pksDate"
							value="#{aggregatorHandler.aggregator.pksDate}"
							pattern="dd-MM-yyyy" navigator="true" showOn="button"
							required="true">
						</p:calendar>
						<p:message for="pksDate" styleClass="validation-message" />

						<h:outputText value="PKS Expired Date" style="font-weight:bold"></h:outputText>
						<p:calendar id="pksExpiredDate"
							value="#{aggregatorHandler.aggregator.pksExpiredDate}"
							pattern="dd-MM-yyyy" navigator="true" showOn="button"
							required="true">
						</p:calendar>
						<p:message for="pksExpiredDate" styleClass="validation-message" />

						<h:outputText value="Transaction Account Number"
							style="font-weight:bold"></h:outputText>
						<p:inputText id="accountNo"
							value="#{aggregatorHandler.aggregator.accountNo}" required="true">
							<f:validator validatorId="accountNumberValidator" />
						</p:inputText>
						<p:message for="accountNo" styleClass="validation-message" />

						<h:outputText value="Commission Account Number"
							style="font-weight:bold"></h:outputText>
						<p:inputText id="accountGlNo"
							value="#{aggregatorHandler.aggregator.accountGlNo}" required="true">
							<f:validator validatorId="accountNumberValidator" />
						</p:inputText>
						<p:message for="accountGlNo" styleClass="validation-message" />

						<h:outputText value="Minimum Saldo" style="font-weight:bold"></h:outputText>
						<p:inputText id="minimumSaldo"
							value="#{aggregatorHandler.aggregator.minimumBalance}"
							required="true">
							<f:validator validatorId="numberValidator" />
						</p:inputText>
						<p:message for="minimumSaldo" styleClass="validation-message" />

						<h:outputText value="Message Type" style="font-weight:bold"></h:outputText>
						<h:selectOneMenu id="messageType"
							value="#{aggregatorHandler.aggregator.messageType}" filter="true"
							required="true">
							<f:selectItems value="#{commonLookup.messageTypeOptions}" />
						</h:selectOneMenu>

						<p:message for="messageType" styleClass="validation-message" />

						<h:outputText value="Aggregator Status" style="font-weight:bold"></h:outputText>
						<h:outputText id="aggregatorStatus"
							converter="model.statusConverter"
							value="#{aggregatorHandler.aggregator.status}"></h:outputText>
						<p:message for="aggregatorStatus" styleClass="validation-message" />

						<h:outputText value="Aggregator - CA Status"
							style="font-weight:bold"></h:outputText>
						<h:selectOneMenu converter="model.statusSelectItemsConverter"
							id="aggregatorCAStatus"
							value="#{aggregatorHandler.aggregator.statusCA}" filter="true"
							required="true">
							<f:selectItems value="#{commonLookup.statusOptions}" />
						</h:selectOneMenu>
						<p:message for="aggregatorCAStatus"
							styleClass="validation-message" />

						<h:outputText value="IP Address" style="font-weight:bold"></h:outputText>
						<p:inputText id="ipAddress"
							value="#{aggregatorHandler.aggregator.ipAddress}" required="true">
							<f:validator validatorId="ipAddressValidator" />
						</p:inputText>
						<p:message for="ipAddress" styleClass="validation-message" />

					</h:panelGrid>
				</h:panelGrid>
				<div class="ui-widget-header ui-corner-all"
					style="text-align: center; padding: 5px;">
					<p:commandButton value="Save" icon="ui-icon-disk"
						actionListener="#{aggregatorHandler.doSave}" disabled=""
						id="btnSave" onclick="PF('loadingDlg').show()"
						update=":insertOrEditForm :aggregatorForm"
						oncomplete="PF('loadingDlg').hide()" />
					<p:commandButton value="Cancel" icon="ui-icon-cancel"
						onclick="PF('insertOrEditAggregator').hide()" />
				</div>
			</h:form>
		</p:dialog>
		<p:dialog header="Insert or Edit Aggregator Pending" id="editPending"
			widgetVar="insertOrEditAggregatorPending" modal="true"
			resizable="true" height="100%">
			<h:form id="insertOrEditFormPending">
				<h:panelGrid columns="2" style="vertical-align:top;"
					columnClasses="Aggregator-detail,Aggregator-role">
					<h:panelGrid columns="2" style="vertical-align:top;"
						columnClasses="Aggregator-detail,Aggregator-role">
						<f:facet name="header">Current Aggregator's Detail</f:facet>
						<h:panelGrid columns="3"
							columnClasses="panelGrid-label-aggregator, panelGrid-separator, panelGrid-value-aggregator">
							<h:outputText value="Code" style="font-weight:bold"></h:outputText>
							<h:outputText value=":  " style="font-weight:bold"></h:outputText>
							<h:outputText value="#{aggregatorHandler.aggregator.code}"></h:outputText>

							<h:outputText value="Name" style="font-weight:bold"></h:outputText>
							<h:outputText value=":  " style="font-weight:bold"></h:outputText>
							<h:outputText value="#{aggregatorHandler.aggregator.name}"></h:outputText>

							<h:outputText value="Address" style="font-weight:bold"></h:outputText>
							<h:outputText value=":  " style="font-weight:bold"></h:outputText>
							<h:outputText value="#{aggregatorHandler.aggregator.address}"></h:outputText>

							<h:outputText value="City" style="font-weight:bold"></h:outputText>
							<h:outputText value=":  " style="font-weight:bold"></h:outputText>
							<h:outputText value="#{aggregatorHandler.aggregator.city}"></h:outputText>

							<h:outputText value="Province" style="font-weight:bold"></h:outputText>
							<h:outputText value=":  " style="font-weight:bold"></h:outputText>
							<h:outputText value="#{aggregatorHandler.aggregator.province}"></h:outputText>

							<h:outputText value="Phone" style="font-weight:bold"></h:outputText>
							<h:outputText value=":  " style="font-weight:bold"></h:outputText>
							<h:outputText value="#{aggregatorHandler.aggregator.phone}"></h:outputText>

							<h:outputText value="Fax" style="font-weight:bold"></h:outputText>
							<h:outputText value=":  " style="font-weight:bold"></h:outputText>
							<h:outputText value="#{aggregatorHandler.aggregator.fax}"></h:outputText>

							<h:outputText value="PIC" style="font-weight:bold"></h:outputText>
							<h:outputText value=":  " style="font-weight:bold"></h:outputText>
							<h:outputText value="#{aggregatorHandler.aggregator.pic}"></h:outputText>

							<h:outputText value="Email PIC" style="font-weight:bold"></h:outputText>
							<h:outputText value=":  " style="font-weight:bold"></h:outputText>
							<h:outputText value="#{aggregatorHandler.aggregator.emailPic}"></h:outputText>

						</h:panelGrid>
						<h:panelGrid columns="3"
							columnClasses="panelGrid-label-aggregator, panelGrid-separator, panelGrid-value-aggregator">

							<h:outputText value="PKS Number" style="font-weight:bold"></h:outputText>
							<h:outputText value=":  " style="font-weight:bold"></h:outputText>
							<h:outputText value="#{aggregatorHandler.aggregator.pksNo}"></h:outputText>

							<h:outputText value="PKS Date" style="font-weight:bold"></h:outputText>
							<h:outputText value=":  " style="font-weight:bold"></h:outputText>
							<h:outputText value="#{aggregatorHandler.aggregator.pksDate}">
								<f:convertDateTime pattern="dd-MM-yyyy" />
							</h:outputText>

							<h:outputText value="PKS Expired Date" style="font-weight:bold"></h:outputText>
							<h:outputText value=":  " style="font-weight:bold"></h:outputText>
							<h:outputText
								value="#{aggregatorHandler.aggregator.pksExpiredDate}">
								<f:convertDateTime pattern="dd-MM-yyyy" />
							</h:outputText>

							<h:outputText value="Transaction Account Number"
								style="font-weight:bold"></h:outputText>
							<h:outputText value=":  " style="font-weight:bold"></h:outputText>
							<h:outputText value="#{aggregatorHandler.aggregator.accountNo}"></h:outputText>
							
							<h:outputText value="Commission Account Number"
								style="font-weight:bold"></h:outputText>
							<h:outputText value=":  " style="font-weight:bold"></h:outputText>
							<h:outputText value="#{aggregatorHandler.aggregator.accountGlNo}"></h:outputText>

							<h:outputText value="Minimum Saldo" style="font-weight:bold"></h:outputText>
							<h:outputText value=":  " style="font-weight:bold"></h:outputText>
							<h:outputText
								value="#{aggregatorHandler.aggregator.minimumBalance}"></h:outputText>

							<h:outputText value="Message Type" style="font-weight:bold"></h:outputText>
							<h:outputText value=":  " style="font-weight:bold"></h:outputText>
							<h:outputText value="#{aggregatorHandler.aggregator.messageType}"></h:outputText>

							<h:outputText value="Aggregator Status" style="font-weight:bold"></h:outputText>
							<h:outputText value=":  " style="font-weight:bold"></h:outputText>
							<h:outputText converter="model.statusConverter"
								value="#{aggregatorHandler.aggregator.status}"></h:outputText>

							<h:outputText value="Aggregator - CA Status"
								style="font-weight:bold"></h:outputText>
							<h:outputText value=":  " style="font-weight:bold"></h:outputText>
							<h:outputText converter="model.statusConverter"
								value="#{aggregatorHandler.aggregator.statusCA}"></h:outputText>

							<h:outputText value="IP Address" style="font-weight:bold"></h:outputText>
							<h:outputText value=":  " style="font-weight:bold"></h:outputText>
							<h:outputText value="#{aggregatorHandler.aggregator.ipAddress}"></h:outputText>

						</h:panelGrid>
					</h:panelGrid>
					<h:panelGrid columns="2" style="vertical-align:top;"
						columnClasses="Aggregator-detail,Aggregator-role">
						<f:facet name="header">Pending Aggregator's Detail</f:facet>
						<h:panelGrid columns="3"
							columnClasses=".panelGrid-label, .panelGrid-value-aggregator">
							<h:outputText value="Code" style="font-weight:bold"></h:outputText>
							<h:outputText id="code"
								value="#{aggregatorHandler.aggregatorTemp.code}">
							</h:outputText>
							<p:message for="code" styleClass="validation-message" />

							<h:outputText value="Name" style="font-weight:bold"></h:outputText>
							<p:inputText id="name"
								value="#{aggregatorHandler.aggregatorTemp.name}" required="true">
							</p:inputText>
							<p:message for="name" styleClass="validation-message" />

							<h:outputText value="Address" style="font-weight:bold"></h:outputText>
							<p:inputText id="address"
								value="#{aggregatorHandler.aggregatorTemp.address}"
								required="true">
							</p:inputText>
							<p:message for="address" styleClass="validation-message" />

							<h:outputText value="City" style="font-weight:bold"></h:outputText>
							<p:inputText id="city"
								value="#{aggregatorHandler.aggregatorTemp.city}" required="true">
							</p:inputText>
							<p:message for="city" styleClass="validation-message" />

							<h:outputText value="Province" style="font-weight:bold"></h:outputText>
							<p:inputText id="province"
								value="#{aggregatorHandler.aggregatorTemp.province}"
								required="true">
							</p:inputText>
							<p:message for="province" styleClass="validation-message" />

							<h:outputText value="Phone" style="font-weight:bold"></h:outputText>
							<p:inputText id="phone"
								value="#{aggregatorHandler.aggregatorTemp.phone}"
								required="true">
							</p:inputText>
							<p:message for="phone" styleClass="validation-message" />

							<h:outputText value="Fax" style="font-weight:bold"></h:outputText>
							<p:inputText id="fax"
								value="#{aggregatorHandler.aggregatorTemp.fax}">
								<f:validator validatorId="numberValidator" />
							</p:inputText>
							<p:message for="fax" styleClass="validation-message" />

							<h:outputText value="PIC" style="font-weight:bold"></h:outputText>
							<p:inputText id="pic"
								value="#{aggregatorHandler.aggregatorTemp.pic}" required="true">
							</p:inputText>
							<p:message for="pic" styleClass="validation-message" />

							<h:outputText value="Email PIC" style="font-weight:bold"></h:outputText>
							<p:inputText id="emailPic"
								value="#{aggregatorHandler.aggregatorTemp.emailPic}"
								required="true">
								<f:validator validatorId="emailValidator" />
							</p:inputText>
							<p:message for="emailPic" styleClass="validation-message" />

						</h:panelGrid>
						<h:panelGrid columns="3"
							columnClasses=".panelGrid-label-aggregator, .panelGrid-value-aggregator">


							<h:outputText value="PKS Number" style="font-weight:bold"></h:outputText>
							<p:inputText id="pksNo"
								value="#{aggregatorHandler.aggregatorTemp.pksNo}"
								required="true">
							</p:inputText>
							<p:message for="pksNo" styleClass="validation-message" />


							<h:outputText value="PKS Date" style="font-weight:bold"></h:outputText>
							<p:calendar id="pksDate"
								value="#{aggregatorHandler.aggregatorTemp.pksDate}"
								pattern="dd-MM-yyyy" navigator="true" showOn="button"
								required="true">
							</p:calendar>
							<p:message for="pksDate" styleClass="validation-message" />

							<h:outputText value="PKS Expired Date" style="font-weight:bold"></h:outputText>
							<p:calendar id="pksExpiredDate"
								value="#{aggregatorHandler.aggregatorTemp.pksExpiredDate}"
								pattern="dd-MM-yyyy" navigator="true" showOn="button"
								required="true">
							</p:calendar>
							<p:message for="pksExpiredDate" styleClass="validation-message" />

							<h:outputText value="Transaction Account Number"
								style="font-weight:bold"></h:outputText>
							<p:inputText id="accountNo"
								value="#{aggregatorHandler.aggregatorTemp.accountNo}"
								required="true">
								<f:validator validatorId="accountNumberValidator" />
							</p:inputText>
							<p:message for="accountNo" styleClass="validation-message" />
							
							<h:outputText value="Commission Account Number"
								style="font-weight:bold"></h:outputText>
							<p:inputText id="accountGlNo"
								value="#{aggregatorHandler.aggregatorTemp.accountGlNo}"
								required="true">
								<f:validator validatorId="accountNumberValidator" />
							</p:inputText>
							<p:message for="accountGlNo" styleClass="validation-message" />

							<h:outputText value="Minimum Saldo" style="font-weight:bold"></h:outputText>
							<p:inputText id="minimumSaldo"
								value="#{aggregatorHandler.aggregatorTemp.minimumBalance}"
								required="true">
								<f:validator validatorId="numberValidator" />
							</p:inputText>
							<p:message for="minimumSaldo" styleClass="validation-message" />

							<h:outputText value="Message Type" style="font-weight:bold"></h:outputText>
							<h:selectOneMenu id="messageType"
								value="#{aggregatorHandler.aggregatorTemp.messageType}"
								filter="true" required="true">
								<f:selectItems value="#{commonLookup.messageTypeOptions}" />
							</h:selectOneMenu>

							<p:message for="messageType" styleClass="validation-message" />

							<h:outputText value="Aggregator Status" style="font-weight:bold"></h:outputText>
							<h:outputText id="aggregatorStatus"
								converter="model.statusConverter"
								value="#{aggregatorHandler.aggregatorTemp.status}"></h:outputText>
							<p:message for="aggregatorStatus" styleClass="validation-message" />

							<h:outputText value="Aggregator - CA Status"
								style="font-weight:bold"></h:outputText>
							<h:selectOneMenu converter="model.statusSelectItemsConverter"
								id="aggregatorCAStatus"
								value="#{aggregatorHandler.aggregatorTemp.statusCA}"
								filter="true" required="true">
								<f:selectItems value="#{commonLookup.statusOptions}" />
							</h:selectOneMenu>
							<p:message for="aggregatorCAStatus"
								styleClass="validation-message" />

							<h:outputText value="IP Address" style="font-weight:bold"></h:outputText>
							<p:inputText id="ipAddress"
								value="#{aggregatorHandler.aggregatorTemp.ipAddress}">
								<f:validator validatorId="ipAddressValidator" />
							</p:inputText>
							<p:message for="ipAddress" styleClass="validation-message" />

						</h:panelGrid>
					</h:panelGrid>
				</h:panelGrid>
				<div class="ui-widget-header ui-corner-all"
					style="text-align: center; padding: 5px;">
					<p:commandButton value="Save" icon="ui-icon-disk"
						actionListener="#{aggregatorHandler.doSave}" disabled=""
						id="btnSave" onclick="PF('loadingDlg').show()"
						update=":insertOrEditFormPending :aggregatorForm"
						oncomplete="PF('loadingDlg').hide();" />
					<p:commandButton value="Cancel" icon="ui-icon-cancel"
						onclick="PF('insertOrEditAggregatorPending').hide()" />
				</div>

			</h:form>
		</p:dialog>
		<p:dialog widgetVar="dlgConfirm" id="confirmDlg"
			header="Delete Aggregator" modal="true" resizable="false">
			<h:form id="deleteAggregatorForm">
				<h:panelGrid>
					<h:outputText styleClass="ui-confirm-dialog"
						value="Do you want to delete aggregator #{aggregatorHandler.aggregator.code}?" />
					<h:panelGroup>
						<p:commandButton value="Yes"
							action="#{aggregatorHandler.deleteAggregator}"
							oncomplete="PF('dlgConfirm').hide()" update=":aggregatorForm" />
						<p:commandButton value="No" onclick="PF('dlgConfirm').hide()" />
					</h:panelGroup>
				</h:panelGrid>
			</h:form>
		</p:dialog>
		<p:dialog widgetVar="dlgConfirmChangeStatus" id="confirmDlgChgSts"
			header="Change Status Aggregator" modal="true" resizable="false">
			<h:form id="changeStatusAggregatorForm">
				<h:panelGrid>
					<h:outputText styleClass="ui-confirm-dialog"
						value="Do you want to #{aggregatorHandler.aggregator.status==1? 'disable' : 'enable'} aggregator #{aggregatorHandler.aggregator.name}?" />
					<h:panelGroup>
						<p:commandButton value="Yes"
							action="#{aggregatorHandler.changeStatusAggregator}"
							oncomplete="PF('dlgConfirmChangeStatus').hide()"
							update=":aggregatorForm" />
						<p:commandButton value="No"
							onclick="PF('dlgConfirmChangeStatus').hide()" />
					</h:panelGroup>
				</h:panelGrid>
			</h:form>
		</p:dialog>

	</ui:define>

	<ui:define name="content">
		<h:form id="searchForm">
			<h:panelGrid columns="4">
				<p:column>
					<h:outputLabel value="Code" style="font-weight:bold" />
				</p:column>
				<p:column>
					<p:inputText id="code" autocomplete="off" label="code"
						value="#{aggregatorHandler.code}">
					</p:inputText>
				</p:column>
				<p:column>
					<h:outputLabel value="PIC" style="font-weight:bold" />
				</p:column>
				<p:column>
					<p:inputText id="pic" autocomplete="off" label="pic"
						value="#{aggregatorHandler.pic}">
					</p:inputText>
				</p:column>
				<p:column>
					<h:outputLabel value="Name" style="font-weight:bold" />
				</p:column>
				<p:column>
					<p:inputText id="name" autocomplete="off" label="name"
						value="#{aggregatorHandler.name}">
					</p:inputText>
				</p:column>
				<p:column>
					<h:outputLabel value="Email PIC" style="font-weight:bold" />
				</p:column>
				<p:column>
					<p:inputText id="emailPic" autocomplete="off" label="emailPic"
						value="#{aggregatorHandler.emailPic}">
					</p:inputText>
				</p:column>
				<p:column>
					<h:outputLabel value="Address" style="font-weight:bold" />
				</p:column>
				<p:column>
					<p:inputText id="address" autocomplete="off" label="address"
						value="#{aggregatorHandler.address}">
					</p:inputText>
				</p:column>
				<p:column style="width:125px; border:none;">
					<h:outputLabel value="Aggregrator Status" style="font-weight:bold" />
				</p:column>
				<p:column>
					<p:selectBooleanCheckbox style="width:80px;"
						value="#{aggregatorHandler.active}" label="Enable"
						itemLabel="Enable" />
					<p:selectBooleanCheckbox style="width:80px;"
						value="#{aggregatorHandler.inactive}" label="Disable"
						itemLabel="Disable" />
				</p:column>
				<p:column>
					<h:outputLabel value="Phone" style="font-weight:bold" />
				</p:column>
				<p:column>
					<p:inputText id="phone" autocomplete="off" label="phone"
						value="#{aggregatorHandler.phone}">
					</p:inputText>
				</p:column>



				<p:column style="width:125px; border:none;">
					<h:outputLabel value="Approval Status" style="font-weight:bold" />
				</p:column>
				<p:column>
					<p:selectBooleanCheckbox style="width:80px;"
						value="#{aggregatorHandler.pending}" label="Pending"
						itemLabel="Pending" />
					<p:selectBooleanCheckbox style="width:80px;"
						value="#{aggregatorHandler.approved}" label="Approved"
						itemLabel="Approved" />
					<p:selectBooleanCheckbox style="width:80px;"
						value="#{aggregatorHandler.rejected}" label="Rejected"
						itemLabel="Rejected" />
				</p:column>
				<p:commandButton value="Search" icon="ui-icon-search"
					actionListener="#{aggregatorHandler.doSearch}"
					update=":aggregatorForm" onclick="PF('loadingDlg').show()"
					oncomplete="PF('loadingDlg').hide()" />

			</h:panelGrid>
		</h:form>

		<h:form id="aggregatorForm" prependId="false" target="_blank">
			<p:dataTable var="aggregator"
				value="#{aggregatorHandler.aggregatorList}" lazy="true"
				style="width: 1335px;" paginator="true" rows="10"
				paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
				rowsPerPageTemplate="#{commonConfig.rowsPerPageTemplate}"
				id="aggregatorTable">

				<f:facet name="header">
					<table>
						<tr>
							<td
								style="width: 500px; border: none; padding: 0px; text-align: left;">
								<p:commandButton oncomplete="PF('insertOrEditAggregator').show()"
					styleClass="btn" value="Create" icon="ui-icon-plus"
					action="#{aggregatorHandler.newAggregator}"
					update=":insertOrEditForm" />
							</td>
							<td style="border: none; padding: 0px; text-align: left;"><p:outputLabel
									value="Aggregator Data" /></td>
						</tr>
					</table>
				</f:facet>
				<p:column headerText="Code" style="width: 80px;">
					<h:outputText value="#{aggregator.code}"></h:outputText>
				</p:column>
				<p:column headerText="Name">
					<h:outputText value="#{aggregator.name}"></h:outputText>
				</p:column>
				<p:column headerText="Address" rendered="false">
					<h:outputText value="#{aggregator.address}"></h:outputText>
				</p:column>
				<p:column headerText="Phone">
					<h:outputText value="#{aggregator.phone}"></h:outputText>
				</p:column>
				<p:column headerText="PIC">
					<h:outputLink value="mailto:#{aggregator.emailPic}">
						<h:outputText value="#{aggregator.pic}"></h:outputText>
					</h:outputLink>
				</p:column>
				<p:column headerText="Email PIC">
					<h:outputText value="#{aggregator.emailPic}"></h:outputText>
				</p:column>
				<p:column headerText="Status" style="width: 80px;">
					<h:outputText converter="model.statusConverter"
						value="#{aggregator.status}"></h:outputText>
				</p:column>
				<p:column headerText="Approval Status" style="width: 120px;">
					<h:outputText value="#{aggregator.approvalStatus}"></h:outputText>
				</p:column>
				<p:column headerText="Action" style="width: 300px;">
					<p:outputLabel style="visibility:hidden" value="mii" />
					<p:commandLink
						style="color:black; font-weight:bold ; text-decoration:underline"
						value="View" icon="ui-icon-person"
						actionListener="#{aggregatorHandler.viewDetailedAggregator(aggregator)}"
						update=":viewFormAggregator :viewFormAggregatorEdit" />
					<p:outputLabel style="visibility:hidden" value="mi" />
					<p:commandLink
						style="color:black; font-style:italic ; text-decoration:underline"
						value="Edit" icon="ui-icon-pencil"
						actionListener="#{aggregatorHandler.viewDetailedAggregatorEdit(aggregator)}"
						update=":insertOrEditForm :insertOrEditFormPending" />
					<p:outputLabel style="visibility:hidden" value="mi" />
					<p:commandLink
						style="color:black; font-style:italic ; text-decoration:underline"
						value="#{aggregator.status==1? 'Disable' : 'Enable'}"
						icon="ui-icon-trash"
						action="#{aggregatorHandler.viewDetailedChangeStatus(aggregator)}"
						update=":changeStatusAggregatorForm " />
					<p:outputLabel
						rendered="#{aggregator.user != null and aggregator.user.lastLogin == null}"
						style="visibility:hidden" value="mi" />
					<p:commandLink
						rendered="#{aggregator.user != null and aggregator.user.lastLogin == null}"
						style="color:black; font-weight:bold ; text-decoration:underline"
						value="Generate PDF" icon="ui-icon-person"
						actionListener="#{aggregatorHandler.generatePdf(aggregator)}"
						ajax="false" update=":viewFormAggregator :viewFormAggregatorEdit" />
					<p:outputLabel style="visibility:hidden" value="mii" />
				</p:column>
			</p:dataTable>
		</h:form>

	</ui:define>
</ui:composition>