<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	template="/resources/components/layout.xhtml">


	<ui:define name="dialog">
		<p:dialog
			header="View Commision Tiering #{commisionTieringHandler.commisionTiering.code}"
			id="viewCommisionTiering" widgetVar="viewCommisionTiering"
			modal="true" resizable="true">
			<h:form id="viewFormCommisionTiering">
				<p:panelGrid columns="2"
					columnClasses="panelGrid-label-commisionTiering, panelGrid-value-commisionTiering">


				</p:panelGrid>
			</h:form>
		</p:dialog>


		<p:dialog header="Insert or Edit Commision Tiering" id="edit"
			widgetVar="insertOrEditCommisionTiering" modal="true"
			resizable="true">
			<h:form id="insertOrEditForm">
				<h:panelGrid columns="4"
					columnClasses=".panelGrid-label-commisionTiering, .panelGrid-value-commisionTiering">

					<h:outputText value="Code"></h:outputText>
					<h:outputText id="code"
						value="#{commisionTieringHandler.commisionTiering.code}">
					</h:outputText>
					<h:outputText value="" />
					<p:message for="code" styleClass="validation-message" />

					<h:outputText value="Feature Mapping"></h:outputText>
					<p:selectOneMenu id="featureMapping"
						converter="auditableSelectItemsConverter"
						value="#{commisionTieringHandler.commisionTiering.featureMapping}"
						filter="true" required="true">
						<f:selectItems
							value="#{commisionTieringHandler.featureMappingLookup}" />
					</p:selectOneMenu>
					<h:outputText value="" />
					<p:message for="featureMapping" styleClass="validation-message" />

					<h:outputText value="Lower Limit"></h:outputText>
					<p:inputText id="lowerLimit"
						value="#{commisionTieringHandler.commisionTiering.lowerLimit}"
						required="true">
					</p:inputText>
					<h:outputText value="" />
					<p:message for="lowerLimit" styleClass="validation-message" />


					<h:outputText value="Upper Limit"></h:outputText>
					<p:inputText rendered="#{!commisionTieringHandler.maxUpperLimit}"
						id="upperLimit"
						value="#{commisionTieringHandler.commisionTiering.upperLimit}"
						required="true">
					</p:inputText>
					<p:selectBooleanCheckbox
						value="#{commisionTieringHandler.maxUpperLimit}"
						label="Set to max value" itemLabel="Set to max value">
						<p:ajax event="valueChange" update=":insertOrEditForm">
						</p:ajax>
					</p:selectBooleanCheckbox>
					<p:message for="upperLimit" styleClass="validation-message" />
					<h:outputText rendered="#{commisionTieringHandler.maxUpperLimit}"
						value="" />

					<h:outputText value="Commision Aggregator"></h:outputText>
					<p:inputText id="commisionAggregator"
						value="#{commisionTieringHandler.commisionTiering.commisionAggregator}"
						required="true">
					</p:inputText>
					<h:outputText value="" />
					<p:message for="commisionAggregator"
						styleClass="validation-message" />


					<h:outputText value="Commision Bjb"></h:outputText>
					<p:inputText id="commissionBjb"
						value="#{commisionTieringHandler.commisionTiering.commissionBjb}"
						required="true">
					</p:inputText>
					<h:outputText value="" />
					<p:message for="commissionBjb" styleClass="validation-message" />


					<h:outputText value="Status"></h:outputText>
					<h:outputText converter="model.statusConverter"
						value="#{commisionTieringHandler.commisionTiering.status}"></h:outputText>

				</h:panelGrid>
				<div class="ui-widget-header ui-corner-all"
					style="text-align: center; padding: 5px;">
					<p:commandButton value="Save" icon="ui-icon-disk"
						actionListener="#{commisionTieringHandler.doSave}" disabled=""
						id="btnSave" onclick="PF('loadingDlg').show()"
						update=":insertOrEditForm :commisionTieringForm"
						oncomplete="PF('loadingDlg').hide();PF('insertOrEditCommisionTiering').hide();" />
					<p:commandButton value="Cancel" icon="ui-icon-cancel"
						onclick="insertOrEditCommisionTiering.hide()" />
				</div>
			</h:form>
		</p:dialog>
		<p:dialog widgetVar="dlgConfirm" id="confirmDlg"
			header="Delete Commision Tiering" modal="true" resizable="false">
			<h:form id="deleteCommisionTieringForm">
				<h:panelGrid>
					<h:outputText styleClass="ui-confirm-dialog"
						value="Do you want to delete commisionTiering #{commisionTieringHandler.commisionTiering.code}?" />
					<h:panelGroup>
						<p:commandButton value="Yes"
							action="#{commisionTieringHandler.deleteCommisionTiering}"
							oncomplete="PF('dlgConfirm').hide()"
							update=":commisionTieringForm" />
						<p:commandButton value="No" onclick="PF('dlgConfirm').hide()" />
					</h:panelGroup>
				</h:panelGrid>
			</h:form>
		</p:dialog>
		<p:dialog widgetVar="dlgConfirmChangeStatus" id="confirmDlgChgSts"
			header="Change Status Commision Tiering" modal="true"
			resizable="false">
			<h:form id="changeStatusTieringForm">
				<h:panelGrid>
					<h:outputText styleClass="ui-confirm-dialog"
						value="Do you want to #{commisionTieringHandler.commisionTiering.status==1? 'disable' : 'enable'} commision tiering #{commisionTieringHandler.commisionTiering.name}?" />
					<h:panelGroup>
						<p:commandButton value="Yes"
							action="#{commisionTieringHandler.changeStatusCommisionTiering}"
							oncomplete="PF('dlgConfirmChangeStatus').hide()"
							update=":commisionTieringForm" />
						<p:commandButton value="No"
							onclick="PF('dlgConfirmChangeStatus').hide()" />
					</h:panelGroup>
				</h:panelGrid>
			</h:form>
		</p:dialog>
	</ui:define>

	<ui:define name="content">
		<h:form id="searchForm">
			<h:panelGrid columns="2">
				<p:column>
					<h:outputLabel value="Code" style="font-weight:bold" />
				</p:column>
				<p:column>
					<p:inputText id="code" autocomplete="off" label="code"
						value="#{commisionTieringHandler.code}">
					</p:inputText>
				</p:column>
				<p:column>
					<h:outputLabel value="Feature Mapping" style="font-weight:bold" />
				</p:column>
				<p:column>
					<p:inputText id="featureMapping" autocomplete="off"
						label="featureMapping"
						value="#{commisionTieringHandler.featureMapping}">
					</p:inputText>
				</p:column>
				<p:column style="width:125px; border:none;">
					<h:outputLabel value="Status" style="font-weight:bold" />
				</p:column>
				<p:column>
					<p:selectBooleanCheckbox value="#{commisionTieringHandler.active}"
						label="Enable" itemLabel="Enable" />
					<h:outputLabel value=" " />
					<p:selectBooleanCheckbox
						value="#{commisionTieringHandler.inactive}" label="Disable"
						itemLabel="Disable" />
				</p:column>
				<p:column>
					<p:commandButton value="Search" icon="ui-icon-search"
						actionListener="#{commisionTieringHandler.doSearch}"
						update=":commisionTieringForm" onclick="PF('loadingDlg').show()"
						oncomplete="PF('loadingDlg').hide()" />
				</p:column>
			</h:panelGrid>
		</h:form>

		<h:form id="commisionTieringForm">
			<p:dataTable var="commisionTiering"
				value="#{commisionTieringHandler.commisionTieringList}" lazy="true"
				paginator="true" rows="10"
				paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
				rowsPerPageTemplate="#{commonConfig.rowsPerPageTemplate}"
				id="commisionTieringTable">

				<f:facet name="header">
					<table>
						<tr>
							<td
								style="width: 400px; border: none; padding: 0px; text-align: left;">
								<p:commandButton icon="ui-icon-plus"
									oncomplete="PF('insertOrEditCommisionTiering').show()"
									styleClass="btn" value="Create"
									action="#{commisionTieringHandler.newCommisionTiering}"
									update=":insertOrEditForm" />
							</td>
							<td style="border: none; padding: 0px; text-align: left;"><p:outputLabel
									value="Commision Tiering Data" /></td>
						</tr>
					</table>
				</f:facet>
				<p:column headerText="Code">
					<h:outputText value="#{commisionTiering.code}"></h:outputText>
				</p:column>
				<p:column headerText="Feature Mapping">
					<h:outputLink id="fim" value="#">
						<h:outputText value="#{commisionTiering.featureMapping.code}"></h:outputText>
					</h:outputLink>
					<p:tooltip id="tooltipForFim" for="fim"
						value="#{commisionTieringHandler.getIdentification(commisionTiering.featureMapping)}" />
				</p:column>
				<p:column headerText="Lower Limit">
					<h:outputText value="#{commisionTiering.lowerLimit}">
						<f:convertNumber currencySymbol="Rp " type="currency"
							minFractionDigits="0" />
					</h:outputText>
				</p:column>
				<p:column headerText="Upper Limit">
					<h:outputText
						value="#{commisionTiering.upperLimit == '-1.00' ? 'MAX' : commisionTiering.upperLimit }">
						<f:convertNumber currencySymbol="Rp " type="currency"
							minFractionDigits="0" />
					</h:outputText>
				</p:column>
				<p:column headerText="Commision Aggregator">
					<h:outputText value="#{commisionTiering.commisionAggregator}">
						<f:convertNumber currencySymbol="Rp " type="currency"
							minFractionDigits="0" />
					</h:outputText>
				</p:column>
				<p:column headerText="Commision Bjb">
					<h:outputText value="#{commisionTiering.commissionBjb}">
						<f:convertNumber currencySymbol="Rp " type="currency"
							minFractionDigits="0" />
					</h:outputText>
				</p:column>
				<p:column headerText="Status">
					<h:outputText converter="model.statusConverter"
						value="#{commisionTiering.status}"></h:outputText>
				</p:column>
				<p:column headerText="Action" style="width: 175px;">
					<p:outputLabel style="visibility:hidden" value="mii" />
					<p:commandLink
						style="color:black; font-style:italic ; text-decoration:underline"
						value="Edit" icon="ui-icon-pencil"
						actionListener="#{commisionTieringHandler.viewDetailedCommisionTieringEdit(commisionTiering)}"
						update=":insertOrEditForm " />
					<p:outputLabel style="visibility:hidden" value="mi" />
					<p:commandLink
						style="color:black; font-style:italic ; text-decoration:underline"
						value="#{commisionTiering.status==1? 'Disable' : 'Enable'}"
						icon="ui-icon-trash"
						action="#{commisionTieringHandler.viewDetailedChangeStatus(commisionTiering)}"
						update=":changeStatusTieringForm " />
					<p:outputLabel style="visibility:hidden" value="mii" />
				</p:column>
			</p:dataTable>
		</h:form>

	</ui:define>
</ui:composition>