<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	template="/resources/components/layout.xhtml">


	<ui:define name="dialog">
		<p:dialog
			header="View CollectingAgent #{collectingAgentHandler.collectingAgent.name}"
			id="viewCollectingAgent" widgetVar="viewCollectingAgent" modal="true"
			resizable="true">
			<h:form id="viewFormCollectingAgent">
				<h:panelGrid columns="2" style="vertical-align:top;"
					columnClasses="CollectingAgent-detail,CollectingAgent-role">
					<h:panelGrid columns="3"
						columnClasses="panelGrid-label-collectingAgent,  panelGrid-separator, panelGrid-value-collectingAgent">

						<h:outputText value="Code" style="font-weight:bold"></h:outputText>
						<h:outputText value=":  " style="font-weight:bold"></h:outputText>
						<h:outputText
							value="#{collectingAgentHandler.collectingAgent.code}"></h:outputText>

						<h:outputText value="Name" style="font-weight:bold"></h:outputText>
						<h:outputText value=":  " style="font-weight:bold"></h:outputText>
						<h:outputText
							value="#{collectingAgentHandler.collectingAgent.name}"></h:outputText>

						<h:outputText value="Max Agent" style="font-weight:bold"></h:outputText>
						<h:outputText value=":  " style="font-weight:bold"></h:outputText>
						<h:outputText
							value="#{collectingAgentHandler.collectingAgent.maxAgent}"></h:outputText>

						<h:outputText value="Max Amount" style="font-weight:bold"></h:outputText>
						<h:outputText value=":  " style="font-weight:bold"></h:outputText>
						<h:outputText
							value="#{collectingAgentHandler.collectingAgent.maxAmount}"></h:outputText>

						<h:outputText value="Status"
							style="font-weight:bold ;visibility:hidden"></h:outputText>
						<h:outputText value=":  " style="font-weight:bold"></h:outputText>
						<h:outputText
							value="#{collectingAgentHandler.collectingAgent.status == 1 ? 'Disable' : 'Enable'}"
							style="visibility:hidden"></h:outputText>

					</h:panelGrid>
				</h:panelGrid>
				<h:panelGrid rendered="#{collectingAgentHandler.rejectReason}"
					columns="3"
					columnClasses="panelGrid-label-collectingAgent,  panelGrid-separator, panelGrid-value-collectingAgent">

					<h:outputText value="Reject reason" style="font-weight:bold"></h:outputText>
					<h:outputText value=":  " style="font-weight:bold"></h:outputText>
					<p:inputTextarea id="reason" rows="5" cols="30" maxlength="100"
						autoResize="false" required="true" readonly="true"
						value="#{collectingAgentHandler.collectingAgent.approvalReason}" />

					<h:outputText value="Max Amount"
						style="font-weight:bold; visibility:hidden"></h:outputText>

				</h:panelGrid>
			</h:form>
		</p:dialog>
		<p:dialog
			header="View CollectingAgent Edit #{collectingAgentHandler.collectingAgent.name}"
			id="viewCollectingAgentEdit" widgetVar="viewCollectingAgentEdit"
			modal="true" resizable="true">
			<h:form id="viewFormCollectingAgentEdit" disabled="true">
				<h:panelGrid columns="2" style="vertical-align:top;"
					columnClasses="collectingAgent-current,collectingAgent-pending">
					<p:panelGrid columns="2"
						columnClasses="panelGrid-label-collectingAgent, panelGrid-value-collectingAgent">
						<f:facet name="header">Current Collecting Agent's Detail</f:facet>

						<h:outputText value="Code"></h:outputText>
						<h:outputText
							value="#{collectingAgentHandler.collectingAgent.code}"></h:outputText>

						<h:outputText value="Name"></h:outputText>
						<h:outputText
							value="#{collectingAgentHandler.collectingAgent.name}"></h:outputText>

						<h:outputText value="Max Agent"></h:outputText>
						<h:outputText
							value="#{collectingAgentHandler.collectingAgent.maxAgent}"></h:outputText>

						<h:outputText value="Max Amount"></h:outputText>
						<h:outputText
							value="#{collectingAgentHandler.collectingAgent.maxAmount}"></h:outputText>

					</p:panelGrid>
					<p:panelGrid columns="2"
						columnClasses="panelGrid-label-collectingAgent, panelGrid-value-collectingAgent">
						<f:facet name="header">Pending Collecting Agent's Detail</f:facet>

						<h:outputText value="Code"></h:outputText>
						<h:outputText
							value="#{collectingAgentHandler.collectingAgentTemp.code}"></h:outputText>

						<h:outputText value="Name"></h:outputText>
						<h:outputText
							value="#{collectingAgentHandler.collectingAgentTemp.name}"></h:outputText>

						<h:outputText value="Max Agent"></h:outputText>
						<h:outputText
							value="#{collectingAgentHandler.collectingAgentTemp.maxAgent}"></h:outputText>

						<h:outputText value="Max Amount"></h:outputText>
						<h:outputText
							value="#{collectingAgentHandler.collectingAgentTemp.maxAmount}"></h:outputText>

					</p:panelGrid>
				</h:panelGrid>
			</h:form>
		</p:dialog>


		<p:dialog header="Insert or Edit Collecting Agent" id="edit"
			widgetVar="insertOrEditCollectingAgent" modal="true" resizable="true">
			<h:form id="insertOrEditForm" prependId="false">
				<h:panelGrid columns="3"
					columnClasses=".panelGrid-label, .panelGrid-value-collectingAgent">
					<h:outputText value="Code" style="font-weight:bold"></h:outputText>
					<h:outputText id="code"
						value="#{collectingAgentHandler.collectingAgent.code}">
					</h:outputText>
					<p:message for="code" styleClass="validation-message" />

					<h:outputText value="Name" style="font-weight:bold"></h:outputText>
					<p:inputText id="name"
						value="#{collectingAgentHandler.collectingAgent.name}"
						required="true">
					</p:inputText>
					<p:message for="name" styleClass="validation-message" />

					<h:outputText value="Max Agent" style="font-weight:bold"></h:outputText>
					<p:inputText id="maxAgent"
						value="#{collectingAgentHandler.collectingAgent.maxAgent}"
						required="true">
						<f:validator validatorId="numberValidator" />
					</p:inputText>
					<p:message for="maxAgent" styleClass="validation-message" />

					<h:outputText value="Max Amount" style="font-weight:bold"
						rendered="false"></h:outputText>
					<p:inputText id="maxAmount"
						value="#{collectingAgentHandler.collectingAgent.maxAmount}"
						required="false" rendered="false">
						<f:validator validatorId="numberValidator" />
					</p:inputText>
					<p:message for="maxAmount" styleClass="validation-message"
						rendered="false" />

					<h:outputText value="Registration Date" style="font-weight:bold"></h:outputText>
					<h:outputText id="createDate"
						value="#{collectingAgentHandler.collectingAgent.createDate}"
						required="true">
						<f:convertDateTime pattern="dd-MM-yyyy" />
					</h:outputText>
					<p:message for="createDate" styleClass="validation-message" />

					<h:outputText value="Registration Time" style="font-weight:bold"></h:outputText>
					<h:outputText id="createTime"
						value="#{collectingAgentHandler.collectingAgent.createTime}"
						required="true">
					</h:outputText>
					<p:message for="createTime" styleClass="validation-message" />

					<h:outputText value="Status" style="font-weight:bold"></h:outputText>
					<h:outputText id="caStatus" converter="model.statusConverter"
						value="#{collectingAgentHandler.collectingAgent.status}"></h:outputText>
					<p:message for="caStatus" styleClass="validation-message" />

				</h:panelGrid>
				<div class="ui-widget-header ui-corner-all"
					style="text-align: center; padding: 5px;">
					<p:commandButton value="Save" icon="ui-icon-disk"
						actionListener="#{collectingAgentHandler.doSave}" disabled=""
						id="btnSave" onclick="PF('loadingDlg').show()"
						update=":insertOrEditForm :collectingAgentForm"
						oncomplete="PF('loadingDlg').hide();" />
					<p:commandButton value="Cancel" icon="ui-icon-cancel"
						onclick="PF('insertOrEditCollectingAgent').hide()" />
				</div>
			</h:form>
		</p:dialog>
		<p:dialog header="Insert or Edit Collecting Agent Pending"
			id="editPending" widgetVar="insertOrEditCollectingAgentPending"
			modal="true" resizable="true" height="100%">
			<h:form id="insertOrEditFormPending">
				<h:panelGrid columns="2" style="vertical-align:top;"
					columnClasses="CollectingAgent-detail,CollectingAgent-role">
					<p:panelGrid columns="2"
						columnClasses=".panelGrid-label-collectingAgent, .panelGrid-value-collectingAgent">
						<f:facet name="header">Current Collecting Agent's Detail</f:facet>

						<h:outputText value="Code"></h:outputText>
						<h:outputText
							value="#{collectingAgentHandler.collectingAgent.code}"></h:outputText>

						<h:outputText value="Name"></h:outputText>
						<h:outputText disable="true"
							value="#{collectingAgentHandler.collectingAgent.name}"></h:outputText>

						<h:outputText value="Max Agent"></h:outputText>
						<h:outputText
							value="#{collectingAgentHandler.collectingAgent.maxAgent}"></h:outputText>

						<h:outputText value="Max Amount"></h:outputText>
						<h:outputText
							value="#{collectingAgentHandler.collectingAgent.maxAmount}"></h:outputText>

					</p:panelGrid>
					<p:panelGrid columns="2"
						columnClasses=".panelGrid-label-collectingAgent, .panelGrid-value-collectingAgent">
						<f:facet name="header">Pending Collecting Agent's Detail</f:facet>

						<h:outputText value="Code"></h:outputText>
						<h:outputText id="code"
							value="#{collectingAgentHandler.collectingAgentTemp.code}"
							required="true">
						</h:outputText>

						<h:outputText value="Name"></h:outputText>
						<p:column>
							<p:inputText id="name"
								value="#{collectingAgentHandler.collectingAgentTemp.name}"
								required="true">
							</p:inputText>
							<h:outputText value=" " />
							<p:message for="name" styleClass="validation-message" />
						</p:column>

						<h:outputText value="Max Agent"></h:outputText>
						<p:column>
							<p:inputText id="maxAgent"
								value="#{collectingAgentHandler.collectingAgentTemp.maxAgent}"
								required="true">
							</p:inputText>
							<h:outputText value=" " />
							<p:message for="maxAgent" styleClass="validation-message" />
						</p:column>

						<h:outputText value="Max Amount"></h:outputText>
						<p:column>
							<p:inputText id="maxAmount"
								value="#{collectingAgentHandler.collectingAgentTemp.maxAmount}"
								required="true">
							</p:inputText>
							<h:outputText value=" " />
							<p:message for="maxAmount" styleClass="validation-message" />
						</p:column>
					</p:panelGrid>
				</h:panelGrid>

				<div class="ui-widget-header ui-corner-all"
					style="text-align: center; padding: 5px;">
					<p:commandButton value="Save" icon="ui-icon-disk"
						actionListener="#{collectingAgentHandler.doSave}" disabled=""
						id="btnSave" onclick="PF('loadingDlg').show()"
						update=":insertOrEditFormPending :collectingAgentForm"
						oncomplete="PF('loadingDlg').hide();" />
					<p:commandButton value="Cancel" icon="ui-icon-cancel"
						onclick="PF('insertOrEditCollectingAgentPending').hide()" />
				</div>

			</h:form>
		</p:dialog>
		<p:dialog widgetVar="dlgConfirm" id="confirmDlg"
			header="Delete CollectingAgent" modal="true" resizable="false">
			<h:form id="deleteCollectingAgentForm">
				<h:panelGrid>
					<h:outputText styleClass="ui-confirm-dialog"
						value="Do you want to delete collectingAgent #{collectingAgentHandler.collectingAgent.code}?" />
					<h:panelGroup>
						<p:commandButton value="Yes"
							action="#{collectingAgentHandler.deleteCollectingAgent}"
							oncomplete="PF('dlgConfirm').hide()"
							update=":collectingAgentForm" />
						<p:commandButton value="No" onclick="PF('dlgConfirm').hide()" />
					</h:panelGroup>
				</h:panelGrid>
			</h:form>
		</p:dialog>
		<p:dialog widgetVar="dlgConfirmChangeStatus" id="confirmDlgChgSts"
			header="Change Status Collecting Agent" modal="true"
			resizable="false">
			<h:form id="changeStatusCollectingAgentForm">
				<h:panelGrid>
					<h:outputText styleClass="ui-confirm-dialog"
						value="Do you want to #{collectingAgentHandler.collectingAgent.status==1? 'disable' : 'enable'} collecting agent #{collectingAgentHandler.collectingAgent.name}?" />
					<h:panelGroup>
						<p:commandButton value="Yes"
							action="#{collectingAgentHandler.changeStatusCollectingAgent}"
							oncomplete="PF('dlgConfirmChangeStatus').hide()"
							update=":collectingAgentForm" />
						<p:commandButton value="No"
							onclick="PF('dlgConfirmChangeStatus').hide()" />
					</h:panelGroup>
				</h:panelGrid>
			</h:form>
		</p:dialog>
	</ui:define>

	<ui:define name="content">
		<h:form id="searchForm">
			<h:panelGrid columns="4">
				<p:column>
					<h:outputLabel value="Code" style="font-weight:bold" />
				</p:column>
				<p:column>
					<p:inputText id="code" autocomplete="off" label="code"
						value="#{collectingAgentHandler.code}">
					</p:inputText>
				</p:column>

				<p:column>
					<h:outputLabel value="Max Agent" style="font-weight:bold" />
				</p:column>
				<p:column>
					<p:inputText id="maxAgent" autocomplete="off" label="maxAgent"
						value="#{collectingAgentHandler.maxAgent}">
					</p:inputText>
				</p:column>
				<p:column>
					<h:outputLabel value="Name" style="font-weight:bold" />
				</p:column>
				<p:column>
					<p:inputText id="name" autocomplete="off" label="name"
						value="#{collectingAgentHandler.name}">
					</p:inputText>
				</p:column>

				<p:column>
					<h:outputLabel value="Max Amount" style="font-weight:bold"
						rendered="false" />
				</p:column>
				<p:column></p:column>
				<p:column rendered="false">
					<p:inputText id="maxAmount" autocomplete="off" label="maxAmount"
						value="#{collectingAgentHandler.maxAmount}">
					</p:inputText>
				</p:column>
				<p:column>
					<h:outputLabel value="Registration Date" style="font-weight:bold" />
				</p:column>
				<p:column>
					<p:calendar id="createDate"
						value="#{collectingAgentHandler.createDate}" pattern="dd-MM-yyyy"
						navigator="true" showOn="button" required="false">
					</p:calendar>
				</p:column>
				<p:column style="width:125px; border:none;">
					<h:outputLabel value="Status" style="font-weight:bold" />
				</p:column>
				<p:column>
					<p:selectBooleanCheckbox value="#{collectingAgentHandler.active}"
						label="Enable" itemLabel="Enable" />
					<h:outputLabel value=" " />
					<p:selectBooleanCheckbox value="#{collectingAgentHandler.inactive}"
						label="Disable" itemLabel="Disable" />
					<br />
				</p:column>
				<p:column>
					<p:commandButton value="Search" icon="ui-icon-search"
						actionListener="#{collectingAgentHandler.doSearch}"
						update=":collectingAgentForm" onclick="PF('loadingDlg').show()"
						oncomplete="PF('loadingDlg').hide()" />

				</p:column>
			</h:panelGrid>
		</h:form>

		<h:form id="collectingAgentForm">
			<p:dataTable var="collectingAgent"
				value="#{collectingAgentHandler.collectingAgentList}" lazy="true"
				paginator="true" rows="10"
				paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
				rowsPerPageTemplate="#{commonConfig.rowsPerPageTemplate}"
				id="collectingAgentTable">

				<f:facet name="header">
					<table>
						<tr>
							<td
								style="width: 400px; border: none; padding: 0px; text-align: left;">
								<p:commandButton
									oncomplete="PF('insertOrEditCollectingAgent').show()"
									icon="ui-icon-plus" styleClass="btn" value="Create"
									action="#{collectingAgentHandler.newCollectingAgent}"
									update=":insertOrEditForm" />
							</td>
							<td style="border: none; padding: 0px; text-align: left;"><p:outputLabel
									value="Collecting Agent Data" /></td>
						</tr>
					</table>
				</f:facet>
				<p:column headerText="Code" style="width: 60px;">
					<h:outputText value="#{collectingAgent.code}"></h:outputText>
				</p:column>
				<p:column headerText="Name">
					<h:outputText value="#{collectingAgent.name}"></h:outputText>
				</p:column>
				<p:column headerText="Registration Date">
					<h:outputText value="#{collectingAgent.createDate}">
						<f:convertDateTime pattern="dd-MM-yyyy" />
					</h:outputText>
				</p:column>
				<p:column headerText="Registration Time">
					<h:outputText value="#{collectingAgent.createTime}"></h:outputText>
				</p:column>
				<p:column headerText="Max Agent">
					<h:outputText value="#{collectingAgent.maxAgent}"></h:outputText>
				</p:column>
				<p:column headerText="Max Amount" rendered="false">
					<h:outputText value="#{collectingAgent.maxAmount}"></h:outputText>
				</p:column>
				<p:column headerText="Status" style="width: 80px;">
					<h:outputText converter="model.statusConverter"
						value="#{collectingAgent.status}"></h:outputText>
				</p:column>
				<p:column headerText="Action" style="width: 160px;">
					<p:outputLabel style="visibility:hidden" value="mii" />
					<p:commandLink
						style="color:black; font-style:italic ; text-decoration:underline"
						value="Edit" icon="ui-icon-pencil"
						actionListener="#{collectingAgentHandler.viewDetailedCollectingAgentEdit(collectingAgent)}"
						update=":insertOrEditForm :insertOrEditFormPending" ajax="false" />
					<p:outputLabel style="visibility:hidden" value="mi" />
					<p:commandLink
						style="color:black; font-style:italic ; text-decoration:underline"
						value="#{collectingAgent.status==1? 'Disable' : 'Enable'}"
						icon="ui-icon-trash"
						action="#{collectingAgentHandler.viewDetailedChangeStatus(collectingAgent)}"
						update=":changeStatusCollectingAgentForm " />
					<p:outputLabel style="visibility:hidden" value="mii" />
				</p:column>
			</p:dataTable>
		</h:form>

	</ui:define>
</ui:composition>