<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	template="/resources/components/layout.xhtml">
	
	
	<ui:define name="dialog">
		<p:dialog  header="View Feature #{featureHandler.feature.name}" id="viewFeature" widgetVar="viewFeature" modal="true"
			resizable="true">
			<h:form id="viewFormFeature">
				<h:panelGrid columns="3" columnClasses="panelGrid-label-feature,  panelGrid-separator, panelGrid-value-feature">
						
					<h:outputText value="Code" style="font-weight:bold"></h:outputText>
					<h:outputText value=":  " style="font-weight:bold"></h:outputText>
					<h:outputText value="#{featureHandler.feature.code}"></h:outputText>
						
					<h:outputText value="Name" style="font-weight:bold"></h:outputText>
					<h:outputText value=":  " style="font-weight:bold"></h:outputText>
					<h:outputText value="#{featureHandler.feature.name}"></h:outputText>
						
					<h:outputText value="Description" style="font-weight:bold"></h:outputText>
					<h:outputText value=":  " style="font-weight:bold"></h:outputText>
					<h:outputText value="#{featureHandler.feature.description}"></h:outputText>
						
					<h:outputText value="Commision Account No" style="font-weight:bold" rendered="false"></h:outputText>
					<h:outputText value=":  " style="font-weight:bold" rendered="false"></h:outputText>
					<h:outputText value="#{featureHandler.feature.commisionAccountNo}" rendered="false"></h:outputText>
						
				</h:panelGrid>
				<h:panelGrid rendered="#{featureHandler.rejectReason}" columns="2" columnClasses="panelGrid-label-feature,  panelGrid-separator, panelGrid-value-feature">
					
						
						<h:outputText  value="Reject reason : " style="font-weight:bold"></h:outputText>
						<h:outputText value=":  " style="font-weight:bold" rendered="false"></h:outputText>
						<p:inputTextarea id="reason" rows="5" cols="30"  maxlength="100" 
						autoResize="false" required="true" readonly="true"
						value = "#{featureHandler.feature.approvalReason}"/>
						
						<h:outputText value="Commision Account No" style="font-weight:bold; visibility:hidden"></h:outputText>
						
				</h:panelGrid>
			</h:form>
		</p:dialog>
		<p:dialog  header="View Feature Edit #{featureHandler.feature.name}" id="viewFeatureEdit" widgetVar="viewFeatureEdit" 
			modal="true" resizable="true">
			<h:form id="viewFormFeatureEdit" disabled="true">
				<h:panelGrid columns="2" style="vertical-align:top;" columnClasses="feature-current,feature-pending">	
					<h:panelGrid columns="3" columnClasses="panelGrid-label-feature, panelGrid-value-feature">
						<f:facet name="header">Current Feature's Detail</f:facet>
					
					<h:outputText value="Code" style="font-weight:bold"></h:outputText>
					<h:outputText value=":  " style="font-weight:bold"></h:outputText>
					<h:outputText value="#{featureHandler.feature.code}"></h:outputText>
						
					<h:outputText value="Name" style="font-weight:bold"></h:outputText>
					<h:outputText value=":  " style="font-weight:bold"></h:outputText>
					<h:outputText value="#{featureHandler.feature.name}"></h:outputText>
						
					<h:outputText value="Description" style="font-weight:bold"></h:outputText>
					<h:outputText value=":  " style="font-weight:bold"></h:outputText>
					<h:outputText value="#{featureHandler.feature.description}"></h:outputText>
						
					<h:outputText value="CommisionAccountNo" style="font-weight:bold" rendered="false"></h:outputText>
					<h:outputText value=":  " style="font-weight:bold" rendered="false"></h:outputText>
					<h:outputText value="#{featureHandler.feature.commisionAccountNo}" rendered="false"></h:outputText>
						
					</h:panelGrid>
					<h:panelGrid columns="3" columnClasses="panelGrid-label-feature, panelGrid-value-feature">
						<f:facet name="header">Pending Feature's Detail</f:facet>
					
						<h:outputText value="Code" style="font-weight:bold"></h:outputText>
						<h:outputText value=":  " style="font-weight:bold"></h:outputText>
						<h:outputText value="#{featureHandler.featureTemp.code}"></h:outputText>
							
						<h:outputText value="Name" style="font-weight:bold"></h:outputText>
						<h:outputText value=":  " style="font-weight:bold"></h:outputText>
						<h:outputText value="#{featureHandler.featureTemp.name}"></h:outputText>
							
						<h:outputText value="Description" style="font-weight:bold"></h:outputText>
						<h:outputText value=":  " style="font-weight:bold"></h:outputText>
						<h:outputText value="#{featureHandler.featureTemp.description}"></h:outputText>
							
						<h:outputText value="CommisionAccountNo" style="font-weight:bold" rendered="false"></h:outputText>
						<h:outputText value=":  " style="font-weight:bold" rendered="false"></h:outputText>
						<h:outputText value="#{featureHandler.featureTemp.commisionAccountNo}" rendered="false"></h:outputText>
						
					</h:panelGrid>
				</h:panelGrid>
			</h:form>
		</p:dialog>
	
	
	<p:dialog header="Insert or Edit Feature" id="edit" widgetVar="insertOrEditFeature" modal="true"
		resizable="true">
		<h:form id="insertOrEditForm">
				<h:panelGrid columns="2" style="vertical-align:top;" columnClasses="Feature-detail,Feature-role">	
					<h:panelGrid columns="3" columnClasses=".panelGrid-label-feature, .panelGrid-value-feature">
						
						
						<h:outputText value="Code" style="font-weight:bold" ></h:outputText>
							<h:outputText id="code" value="#{featureHandler.feature.code}" >
							</h:outputText>
							<p:message for="code" styleClass="validation-message" />
						
						<h:outputText value="Name" style="font-weight:bold" ></h:outputText>
							<p:inputText id="name" value="#{featureHandler.feature.name}" required="true">
							</p:inputText>
							<p:message for="name" styleClass="validation-message" />
						
						<h:outputText value="Description" style="font-weight:bold" ></h:outputText>
							<p:inputTextarea id="description" rows="4" value="#{featureHandler.feature.description}" required="true">
							</p:inputTextarea>
							<p:message for="description" styleClass="validation-message" />
						
						<h:outputText value="CommisionAccountNo" style="font-weight:bold" rendered="false"></h:outputText>
							<p:inputText id="commisionAccountNo" value="#{featureHandler.feature.commisionAccountNo}" required="false" rendered="false">
							<f:validator validatorId="accountNumberValidator"/>
							</p:inputText>
							<p:message for="commisionAccountNo" styleClass="validation-message" rendered="false" />
						
					</h:panelGrid>
				</h:panelGrid>	
				<div class="ui-widget-header ui-corner-all" style="text-align: center; padding: 5px;">			
					<p:commandButton value="Save" icon="ui-icon-disk" actionListener="#{featureHandler.doSave}" 
						disabled="" id="btnSave" onclick="PF('loadingDlg').show()" 
						update=":insertOrEditForm :featureForm"
						oncomplete="PF('loadingDlg').hide();"/>
					<p:commandButton value="Cancel" icon="ui-icon-cancel" onclick="PF('insertOrEditFeature').hide()" />
				</div>
		</h:form>	
	</p:dialog>
	<p:dialog header="Insert or Edit Feature Pending" id="editPending" widgetVar="insertOrEditFeaturePending" modal="true"
			resizable="true" height="100%">
			<h:form id="insertOrEditFormPending">
			<h:panelGrid columns="2" style="vertical-align:top;" columnClasses="Feature-detail,Feature-role">		
				<h:panelGrid columns="3" columnClasses=".panelGrid-label-feature, .panelGrid-value-feature">
					<f:facet name="header">Current Feature's Detail</f:facet>
						
						<h:outputText value="Code" style="font-weight:bold"></h:outputText>
						<h:outputText value=":  " style="font-weight:bold"></h:outputText>
						<h:outputText value="#{featureHandler.feature.code}"></h:outputText>
							
						<h:outputText value="Name" style="font-weight:bold"></h:outputText>
						<h:outputText value=":  " style="font-weight:bold"></h:outputText>
						<h:outputText value="#{featureHandler.feature.name}"></h:outputText>
							
						<h:outputText value="Description" style="font-weight:bold"></h:outputText>
						<h:outputText value=":  " style="font-weight:bold"></h:outputText>
						<h:outputText value="#{featureHandler.feature.description}"></h:outputText>
							
						<h:outputText value="CommisionAccountNo" style="font-weight:bold" rendered="false"></h:outputText>
						<h:outputText value=":  " style="font-weight:bold" rendered="false"></h:outputText>
						<h:outputText value="#{featureHandler.feature.commisionAccountNo}" rendered="false"></h:outputText>
						
				</h:panelGrid>	
				<h:panelGrid columns="3" columnClasses=".panelGrid-label-feature, .panelGrid-value-feature">
					<f:facet name="header">Pending Feature's Detail</f:facet>
						
						<h:outputText value="Code" style="font-weight:bold" ></h:outputText>
							<h:outputText id="code" value="#{featureHandler.featureTemp.code}" >
							</h:outputText>
							<p:message for="code" styleClass="validation-message" />
						
						<h:outputText value="Name" style="font-weight:bold" ></h:outputText>
							<p:inputText id="name" value="#{featureHandler.featureTemp.name}" required="true">
							</p:inputText>
							<p:message for="name" styleClass="validation-message" />
						
						<h:outputText value="Description" style="font-weight:bold" ></h:outputText>
							<p:inputText id="description" value="#{featureHandler.featureTemp.description}" required="true">
							</p:inputText>
							<p:message for="description" styleClass="validation-message" />
						
						<h:outputText value="CommisionAccountNo" style="font-weight:bold" rendered="false" ></h:outputText>
							<p:inputText id="commisionAccountNo" value="#{featureHandler.featureTemp.commisionAccountNo}" required="false" rendered="false">
							<f:validator validatorId="accountNumberValidator"/>
							</p:inputText>
						<p:message for="commisionAccountNo" styleClass="validation-message" rendered="false" />
						
				</h:panelGrid>
			</h:panelGrid>
				
			<div class="ui-widget-header ui-corner-all" style="text-align: center; padding: 5px;">			
				<p:commandButton value="Save" icon="ui-icon-disk" actionListener="#{featureHandler.doSave}" 
					disabled="" id="btnSave" onclick="PF('loadingDlg').show()" 
					update=":insertOrEditFormPending :featureForm"
					oncomplete="PF('loadingDlg').hide();"/>
				<p:commandButton value="Cancel" icon="ui-icon-cancel" onclick="PF('insertOrEditFeaturePending').hide()" />
			</div>
				
			</h:form>
		</p:dialog>
		<p:dialog widgetVar="dlgConfirm" id="confirmDlg" header="Delete Feature" modal="true" resizable="false">
			<h:form id="deleteFeatureForm">
				<h:panelGrid>
					<h:outputText styleClass="ui-confirm-dialog" value="Do you want to delete feature #{featureHandler.feature.code}?" />
					<h:panelGroup>
						<p:commandButton value="Yes" action="#{featureHandler.deleteFeature}" 
						oncomplete="PF('dlgConfirm').hide()"  update=":featureForm" />
						<p:commandButton value="No" onclick="PF('dlgConfirm').hide()" />	
					</h:panelGroup>
				</h:panelGrid>
			</h:form>			
		</p:dialog>
		<p:dialog widgetVar="dlgConfirmChangeStatus" id="confirmDlgChgSts" header="Change Status Feature" modal="true" resizable="false">
			<h:form id="changeStatusFeatureForm">
				<h:panelGrid>
					<h:outputText styleClass="ui-confirm-dialog" value="Do you want to #{featureHandler.feature.status==1? 'disable' : 'enable'} feature #{featureHandler.feature.name}?" />
					<h:panelGroup>
						<p:commandButton value="Yes" action="#{featureHandler.changeStatusFeature}" 
						oncomplete="PF('dlgConfirmChangeStatus').hide()"  update=":featureForm" />
						<p:commandButton value="No" onclick="PF('dlgConfirmChangeStatus').hide()" />	
					</h:panelGroup>
				</h:panelGrid>
			</h:form>			
		</p:dialog>
	</ui:define>
	
	<ui:define name="content">
		<h:form id="searchForm">
				<h:panelGrid columns="4">
						<p:column ><h:outputLabel value="Code" style="font-weight:bold"/></p:column>
						<p:column >
							<p:inputText 
							id="code" autocomplete="off"
							label="code" value="#{featureHandler.code}">
							</p:inputText>
						</p:column>
						<p:column ><h:outputLabel value="Name" style="font-weight:bold"/></p:column>
						<p:column >
							<p:inputText 
							id="name" autocomplete="off"
							label="name" value="#{featureHandler.name}">
							</p:inputText>
						</p:column>
						<p:column ><h:outputLabel value="Description" style="font-weight:bold" /></p:column>
						<p:column >
							<p:inputText 
							id="description" autocomplete="off"
							label="description" value="#{featureHandler.description}">
							</p:inputText>
						</p:column>
						<p:column style="width:125px; border:none;" ><h:outputLabel value="Status" style="font-weight:bold"/></p:column>
					   	<p:column>
							<p:selectBooleanCheckbox style="width:80px;" value="#{featureHandler.active}" label="Enable" itemLabel="Enable"/>
						 	<p:selectBooleanCheckbox style="width:80px;" value="#{featureHandler.inactive}" label="Disable" itemLabel="Disable"/>
					 	</p:column>
					 	<p:column></p:column>
					 	<p:column></p:column>
						<p:column style="width:125px; border:none;" ><h:outputLabel value="Approval Status" style="font-weight:bold"/></p:column>
					   	<p:column>
							<p:selectBooleanCheckbox style="width:80px;" value="#{featureHandler.pending}" label="Pending" itemLabel="Pending"/>
						 	<p:selectBooleanCheckbox style="width:80px;" value="#{featureHandler.approved}" label="Approved" itemLabel="Approved"/>
						 	<p:selectBooleanCheckbox style="width:80px;" value="#{featureHandler.rejected}" label="Rejected" itemLabel="Rejected"/>  
					 	</p:column>
					<p:commandButton value="Search" icon="ui-icon-search"
						actionListener="#{featureHandler.doSearch}" update=":featureForm" onclick="PF('loadingDlg').show()" oncomplete="PF('loadingDlg').hide()"/>
				</h:panelGrid>
		</h:form>
		
		<h:form id="featureForm">
			<p:dataTable var="feature" value="#{featureHandler.featureList}" 
				lazy="true"
				paginator="true" rows="10"
				paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
				rowsPerPageTemplate="#{commonConfig.rowsPerPageTemplate}"
				id="featureTable">
				
				<f:facet name="header">
					<table>
						<tr>
							<td style="width:600px; border:none; padding:0px; text-align:left;">
									<p:commandButton oncomplete="PF('insertOrEditFeature').show()" icon="ui-icon-plus"
									styleClass="btn" value="Create" action="#{featureHandler.newFeature}" update=":insertOrEditForm" />
									</td>
							<td style="border:none; padding:0px; text-align:left;">
								<p:outputLabel value="Feature Data" />
							</td>
						</tr>
					</table>
				</f:facet>
				<p:column headerText="Code"  style="width: 80px;" >
					<h:outputText value="#{feature.code}"></h:outputText>
				</p:column>
				<p:column headerText="Name" >
					<h:outputText value="#{feature.name}"></h:outputText>
				</p:column>
				<p:column headerText="Description" >
					<h:outputText value="#{feature.description}"></h:outputText>
				</p:column>
				<p:column headerText="CommisionAccountNo" rendered="false">
					<h:outputText value="#{feature.commisionAccountNo}"></h:outputText>
				</p:column>
				<p:column headerText="Status" style="width: 80px;" >
					<h:outputText converter="model.statusConverter" value="#{feature.status}"></h:outputText>
				</p:column>
				<p:column headerText="Status Approval" style="width: 120px;" >
					<h:outputText value="#{feature.approvalStatus}"></h:outputText>
				</p:column>
				<p:column headerText="Action" style="width: 150px;">
					<p:outputLabel style="visibility:hidden" value="mii" />
					<p:commandLink style="color:black; font-weight:bold ; text-decoration:underline" value="View" icon="ui-icon-person"
						actionListener="#{featureHandler.viewDetailedFeature(feature)}" update=":viewFormFeature :viewFormFeatureEdit"/>
					<p:outputLabel style="visibility:hidden" value="mi" />
					<p:commandLink  style="color:black; font-style:italic ; text-decoration:underline" value="Edit" icon="ui-icon-pencil"
						actionListener="#{featureHandler.viewDetailedFeatureEdit(feature)}" update=":insertOrEditForm :insertOrEditFormPending"
						/>
					<p:outputLabel style="visibility:hidden" value="mi" />
					<p:commandLink style="color:black; font-style:italic ; text-decoration:underline" value="#{feature.status==1? 'Disable' : 'Enable'}" icon="ui-icon-trash" action="#{featureHandler.viewDetailedChangeStatus(feature)}" 
						update=":changeStatusFeatureForm " />
					<p:outputLabel style="visibility:hidden" value="mii" />
				</p:column>
			</p:dataTable>
		</h:form>
		
	</ui:define>
</ui:composition>