<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	template="/resources/components/layout.xhtml">
	<ui:define name="dialog">		
	</ui:define>

	<ui:define name="content">
	    <p:fieldset legend="Bank Statement" style="margin-bottom:20px">
			<h:panelGrid columns="2" style="border: none;" >
				<h:outputText value="Account No"></h:outputText>
				<h:outputText value="#{aggregatorProfileHandler.aggregator.accountNo}"></h:outputText>
				<h:outputText value="Balance"></h:outputText>
				<h:outputText value="#{aggregatorProfileHandler.balance}"></h:outputText>
			</h:panelGrid>
		</p:fieldset>
	
	    <p:fieldset legend="Notifikasi Saldo via Email" style="margin-bottom:20px">
			<h:form id="viewFormAggregatorEdit" disabled="true">
			    <p:growl id="notificationForm" />
				<h:panelGrid columns="2" style="border: none;" >
					<h:outputText value="Email"></h:outputText>
					<h:outputText value="#{aggregatorProfileHandler.aggregator.emailPic}"></h:outputText>
					<h:outputText value="Status Notifikasi Saldo via Email"></h:outputText>
			        <p:inputSwitch value="#{aggregatorProfileHandler.notificationStatus}">
			            <p:ajax listener="#{aggregatorProfileHandler.updateAggregator}" />
			        </p:inputSwitch>
				</h:panelGrid>
			</h:form>
		</p:fieldset>
			
	</ui:define>
</ui:composition>