<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	template="/resources/components/layout.xhtml">


	<ui:define name="dialog">
		<p:dialog
			header="View Message Mapping #{messageMappingResHandler.messageMapping.code}"
			id="viewMessageMapping" widgetVar="viewMessageMapping" modal="true"
			resizable="true" draggable="true ">
			<h:form id="viewFormMessageMapping">
				<p:panelGrid columns="2"
					columnClasses="panelGrid-label-messageMapping, panelGrid-value-messageMapping">
				</p:panelGrid>
			</h:form>
		</p:dialog>


		<p:dialog header="Insert or Edit Message Mapping" id="edit"
			widgetVar="insertOrEditMessageMapping" modal="true" resizable="true"
			width="560px" height="525px">
			<h:form id="insertOrEditForm">
				<h:panelGrid id="insertOrEditGrid" columns="3"
					columnClasses=".panelGrid-label-messageMapping, .panelGrid-value-messageMapping">

					<h:outputText value="Code"></h:outputText>
					<h:outputText id="code"
						value="#{messageMappingResHandler.messageMapping.code}">
					</h:outputText>
					<p:message for="code" styleClass="validation-message" />

					<h:outputText value="Feature"></h:outputText>
					<p:selectOneMenu id="feature"
						converter="auditableSelectItemsConverter"
						value="#{messageMappingResHandler.messageMapping.feature}"
						filter="true">
						<f:selectItems value="#{featureLookup.featureList}" />
					</p:selectOneMenu>
					<p:message for="feature" styleClass="validation-message" />

					<h:outputText value="Message Type"></h:outputText>
					<p:selectOneMenu id="messageType" required="true"
						autocomplete="off" label="scheduleType"
						value="#{messageMappingResHandler.messageMapping.messageType}">
						<p:ajax event="change"
							listener="#{messageMappingResHandler.checkMessageType}"
							update=":insertOrEditForm"
							process="@(#insertOrEditGrid :not(.noupdate))"></p:ajax>
						<f:selectItems value="#{commonLookup.messageTypeOptions}" />
					</p:selectOneMenu>

					<p:message for="messageType" styleClass="validation-message" />

					<h:outputText value="Status"></h:outputText>
					<h:outputText converter="model.statusConverter"
						value="#{messageMappingResHandler.messageMapping.status}"></h:outputText>

				</h:panelGrid>
				<br />
				<h:outputText value="Message mapping to bit 61 ISO"
					style="font-weight:bold"></h:outputText>
				<br />
				<h:panelGrid columns="3"
					columnClasses=".panelGrid-label-messageMapping, .panelGrid-value-messageMapping">
					<h:outputText value="Trx Type"></h:outputText>
					<p:inputText
						value="#{messageMappingResHandler.fieldMapping.trxType}"
						disabled="true"></p:inputText>
					<br />
					<h:outputText value="Field" style="width: 500px;"></h:outputText>
					<p:selectOneMenu id="field" filter="true"
						value="#{messageMappingResHandler.fieldMapping.index}">
						<f:selectItems
							value="#{messageMappingResHandler.messageFieldLookup}" />
					</p:selectOneMenu>
					<p:message for="field" styleClass="validation-message" />

					<h:outputText value="Start"
						rendered="#{messageMappingResHandler.messageMapping.messageType eq 'ISO' ? true : false}"></h:outputText>
					<p:inputText id="start"
						value="#{messageMappingResHandler.fieldMapping.startAt}"
						required="#{!empty param['add']}"
						rendered="#{messageMappingResHandler.messageMapping.messageType eq 'ISO' ? true : false}">
						<f:validator validatorId="numberValidator"
							disabled="#{empty param['add']}" />
					</p:inputText>
					<p:message for="start" styleClass="validation-message"
						rendered="#{messageMappingResHandler.messageMapping.messageType eq 'ISO' ? true : false}" />

					<h:outputText value="End"
						rendered="#{messageMappingResHandler.messageMapping.messageType eq 'ISO' ? true : false}"></h:outputText>
					<p:inputText id="end"
						value="#{messageMappingResHandler.fieldMapping.endAt}"
						required="#{!empty param['add']}"
						rendered="#{messageMappingResHandler.messageMapping.messageType eq 'ISO' ? true : false}">
						<f:validator validatorId="numberValidator"
							disabled="#{empty param['add']}" />
					</p:inputText>
					<p:message for="end" styleClass="validation-message"
						rendered="#{messageMappingResHandler.messageMapping.messageType eq 'ISO' ? true : false}" />

					<h:outputText value="Position"></h:outputText>
					<p:inputText id="fieldPosition"
						value="#{messageMappingResHandler.fieldMapping.fieldPosition}"
						required="#{!empty param['add']}">
						<f:validator validatorId="numberValidator"
							disabled="#{empty param['add']}" />
					</p:inputText>
					<p:message for="fieldPosition" styleClass="validation-message" />

					<h:outputText value="Mapping Variable" style="width: 500px;"></h:outputText>
					<p:selectOneMenu id="variable" filter="true"
						value="#{messageMappingResHandler.fieldMapping.variable}">
						<f:selectItems
							value="#{messageMappingResHandler.variableFieldLookup}" />
					</p:selectOneMenu>
					<p:message for="variable" styleClass="validation-message" />

					<h:outputText value="Response"></h:outputText>
					<p:selectBooleanCheckbox style="width:80px;"
						value="#{messageMappingResHandler.fmresponse}" label="Response"
						itemLabel="Response" disabled="true" />
					<br />
					<h:outputText value="Trim"></h:outputText>
					<h:panelGrid columns="2" style="margin-bottom:10px" cellpadding="5">
						<p:selectOneRadio id="padding"
							value="#{messageMappingResHandler.fieldMapping.padding}">
							<f:selectItem itemLabel="LPZ" itemValue="LPZ" />
							<f:selectItem itemLabel="RPS" itemValue="RPS" />
							<f:selectItem itemLabel="LPS" itemValue="LPS" />
							<f:selectItem itemLabel="RPZ" itemValue="RPZ" />
						</p:selectOneRadio>
					</h:panelGrid>
					<h:outputText value="Message Type" style="visibility: hidden;"></h:outputText>
				</h:panelGrid>
				<p:commandButton icon="ui-icon-plusthick" styleClass="btn"
					value="Add" action="#{messageMappingResHandler.addNewFieldMapping}"
					update=":insertOrEditForm" id="add" />
				<br />
				<p:panelGrid columns="2"
					columnClasses=".panelGrid-label-messageMapping, .panelGrid-value-messageMapping">
					<p:dataTable var="fieldMapping"
						value="#{messageMappingResHandler.fieldMappingList}" lazy="false"
						style="width: 500px;" paginator="true" rows="10"
						paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
						rowsPerPageTemplate="#{commonConfig.rowsPerPageTemplate}"
						id="fieldMappingTable">

						<f:facet name="header">
							<table>
								<tr>
									<td style="border: none; padding: 0px; text-align: center;">
										<p:outputLabel value="Field Mapping Data" />
									</td>
								</tr>
							</table>
						</f:facet>
						<p:column headerText="Bit/Field">
							<h:outputText value="#{fieldMapping.name}"></h:outputText>
						</p:column>
						<p:column headerText="Start"
							rendered="#{messageMappingResHandler.messageMapping.messageType eq 'ISO' ? true : false}">
							<h:outputText value="#{fieldMapping.startAt}"
								rendered="#{messageMappingResHandler.messageMapping.messageType eq 'ISO' ? true : false}"></h:outputText>
						</p:column>
						<p:column headerText="End"
							rendered="#{messageMappingResHandler.messageMapping.messageType eq 'ISO' ? true : false}">
							<h:outputText value="#{fieldMapping.endAt}"
								rendered="#{messageMappingResHandler.messageMapping.messageType eq 'ISO' ? true : false}"></h:outputText>
						</p:column>
						<p:column headerText="Position">
							<h:outputText value="#{fieldMapping.fieldPosition}"></h:outputText>
						</p:column>
						<p:column headerText="Response">
							<h:outputText converter="model.statusConverter"
								value="#{fieldMapping.response}"></h:outputText>
						</p:column>
						<p:column headerText="Var">
							<h:outputText
								value="#{variableConverter.getName(fieldMapping.variable)}"></h:outputText>
						</p:column>
						<p:column headerText="Trim">
							<h:outputText value="#{fieldMapping.padding}"></h:outputText>
						</p:column>
						<p:column headerText="Action" style="width: 60px;">
							<p:outputLabel style="visibility:hidden" value="mii" />
							<p:commandLink
								style="color:black; font-weight:bold ; text-decoration:underline"
								value="Delete" icon="ui-icon-pencil"
								actionListener="#{messageMappingResHandler.deleteFieldMapping(fieldMapping)}"
								update=":insertOrEditForm " />
							<p:outputLabel style="visibility:hidden" value="mii" />
						</p:column>
					</p:dataTable>
				</p:panelGrid>

				<div class="ui-widget-header ui-corner-all"
					style="text-align: center; padding: 5px;">
					<p:commandButton value="Save" icon="ui-icon-disk"
						actionListener="#{messageMappingResHandler.doSave}" disabled=""
						id="btnSave" onclick="PF('loadingDlg').show()"
						update=":insertOrEditForm :messageMappingForm"
						oncomplete="PF('loadingDlg').hide();" />
					<p:commandButton value="Cancel" icon="ui-icon-cancel"
						onclick="PF('insertOrEditMessageMapping').hide();" />
				</div>
			</h:form>
		</p:dialog>
		<p:dialog widgetVar="dlgConfirm" id="confirmDlg"
			header="Delete Message Mapping" modal="true" resizable="false">
			<h:form id="deleteMessageMappingForm">
				<h:panelGrid>
					<h:outputText styleClass="ui-confirm-dialog"
						value="Do you want to delete messageMapping #{messageMappingResHandler.messageMapping.code}?" />
					<h:panelGroup>
						<p:commandButton value="Yes"
							action="#{messageMappingResHandler.deleteMessageMapping}"
							oncomplete="PF('dlgConfirm').hide()" update=":messageMappingForm" />
						<p:commandButton value="No" onclick="PF('dlgConfirm').hide()" />
					</h:panelGroup>
				</h:panelGrid>
			</h:form>
		</p:dialog>
		<p:dialog widgetVar="dlgConfirmChangeStatus" id="confirmDlgChgSts"
			header="Change Status Message Mapping" modal="true" resizable="false">
			<h:form id="changeStatusMessageMappingForm">
				<h:panelGrid>
					<h:outputText styleClass="ui-confirm-dialog"
						value="Do you want to #{messageMappingResHandler.messageMapping.status==1? 'disable' : 'enable'} mapping #{messageMappingResHandler.messageMapping.code}?" />
					<h:panelGroup>
						<p:commandButton value="Yes"
							action="#{messageMappingResHandler.changeStatusMessageMapping}"
							oncomplete="PF('dlgConfirmChangeStatus').hide()"
							update=":messageMappingForm" />
						<p:commandButton value="No"
							onclick="PF('dlgConfirmChangeStatus').hide()" />
					</h:panelGroup>
				</h:panelGrid>
			</h:form>
		</p:dialog>
	</ui:define>

	<ui:define name="content">
		<h:form id="searchForm">
			<h:panelGrid columns="4">
				<p:column>
					<h:outputLabel value="Code" style="font-weight:bold" />
				</p:column>
				<p:column>
					<p:inputText id="code" autocomplete="off" label="code"
						value="#{messageMappingResHandler.code}">
					</p:inputText>
				</p:column>

				<p:column>
					<h:outputLabel value="Message Type" style="font-weight:bold" />
				</p:column>
				<p:column>
					<p:inputText id="messageType" autocomplete="off"
						label="messageType"
						value="#{messageMappingResHandler.messageType}">
					</p:inputText>
				</p:column>
				<p:column>
					<h:outputLabel value="Feature" style="font-weight:bold" />
				</p:column>
				<p:column>
					<p:inputText id="feature" autocomplete="off" label="feature"
						value="#{messageMappingResHandler.feature}">
					</p:inputText>
				</p:column>
				<p:column style="width:125px; border:none;">
					<h:outputLabel value="Message Mapping Status"
						style="font-weight:bold" />
				</p:column>
				<p:column>
					<p:selectBooleanCheckbox style="width:80px;"
						value="#{messageMappingResHandler.active}" label="Enable"
						itemLabel="Enable" />
					<p:selectBooleanCheckbox style="width:80px;"
						value="#{messageMappingResHandler.inactive}" label="Disable"
						itemLabel="Disable" />
				</p:column>
				<p:commandButton value="Search" icon="ui-icon-search"
					actionListener="#{messageMappingResHandler.doSearch}"
					update=":messageMappingForm" onclick="PF('loadingDlg').show()"
					oncomplete="PF('loadingDlg').hide()" />

			</h:panelGrid>
		</h:form>

		<h:form>
			<h:panelGrid columns="2">
			<p:column><br/></p:column>
			<p:column><br/></p:column>
				<p:column style="width:125px; border:none;">
					<h:outputLabel for="trxtype" value="Transaction Type"
						style="font-weight:bold"></h:outputLabel>
				</p:column>
				<p:column style="width:125px; border:none;">
					<p:selectOneMenu id="trxtype" required="true" autocomplete="off"
						label="trxType" value="#{messageMappingResHandler.trxtype}"
						onchange="this.form.submit()" immediate="true">
						<f:selectItems value="#{commonLookup.trxOptions}" />
					</p:selectOneMenu>
				</p:column>
			</h:panelGrid>
		</h:form>

		<h:form id="messageMappingForm">
			<p:dataTable var="messageMapping"
				value="#{messageMappingResHandler.messageMappingList}" lazy="true"
				paginator="true" rows="10"
				paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
				rowsPerPageTemplate="#{commonConfig.rowsPerPageTemplate}"
				id="messageMappingTable">

				<f:facet name="header">
					<table>
						<tr>
							<td
								style="width: 400px; border: none; padding: 0px; text-align: left;">
								<p:commandButton
									oncomplete="PF('insertOrEditMessageMapping').show()"
									styleClass="btn" value="Create" icon="ui-icon-plus"
									action="#{messageMappingResHandler.newMessageMapping}"
									update=":insertOrEditForm" />
							</td>
							<td style="border: none; padding: 0px; text-align: left;"><p:outputLabel
									value="Message Mapping Data" /></td>
						</tr>
					</table>
				</f:facet>
				<p:column headerText="Code">
					<h:outputText value="#{messageMapping.code}"></h:outputText>
				</p:column>
				<p:column headerText="Feature">
					<h:outputText
						value="#{messageMapping.feature.code} - #{messageMapping.feature.name}"></h:outputText>
				</p:column>
				<p:column headerText="Message Type">
					<h:outputText value="#{messageMapping.messageType}"></h:outputText>
				</p:column>
				<p:column headerText="Action" style="width: 110px;">
					<p:outputLabel style="visibility:hidden" value="mii" />
					<p:commandLink
						style="color:black; font-style:italic ; text-decoration:underline"
						value="Edit" icon="ui-icon-pencil"
						actionListener="#{messageMappingResHandler.viewDetailedMessageMappingEdit(messageMapping)}"
						update=":insertOrEditForm " />
					<p:outputLabel style="visibility:hidden" value="mi" />
					<p:commandLink
						style="color:black; font-style:italic ; text-decoration:underline"
						value="#{messageMapping.status==1? 'Disable' : 'Enable'}"
						icon="ui-icon-trash"
						action="#{messageMappingResHandler.viewDetailedChangeStatus(messageMapping)}"
						update=":changeStatusMessageMappingForm " />
					<p:outputLabel style="visibility:hidden" value="mii" />
				</p:column>
			</p:dataTable>
		</h:form>

	</ui:define>
</ui:composition>