<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	template="/resources/components/layout.xhtml">

	<ui:define name="dialog">
		<p:dialog header="Insert or Edit Feature Mapping" id="edit"
			widgetVar="insertOrEditFeatureMapping" modal="true" resizable="true">
			<h:form id="insertOrEditForm">
				<h:panelGrid columns="3"
					columnClasses=".panelGrid-label-featureMapping, .panelGrid-value-featureMapping">

					<h:outputText value="Code" style="font-weight:bold"></h:outputText>
					<h:outputText id="code"
						value="#{featureMappingHandler.featureMapping.code}">
					</h:outputText>
					<p:message for="code" styleClass="validation-message" />

					<h:outputText value="Feature" style="font-weight:bold"></h:outputText>
					<p:selectOneMenu id="feature"
						converter="auditableSelectItemsConverter"
						value="#{featureMappingHandler.featureMapping.feature}"
						filter="true" required="true">
						<f:selectItems value="#{featureLookup.featureList}" />
					</p:selectOneMenu>
					<p:message for="feature" styleClass="validation-message" />

					<h:outputText value="Aggregator" style="font-weight:bold"></h:outputText>
					<p:selectOneMenu id="aggregator"
						converter="auditableSelectItemsConverter"
						value="#{featureMappingHandler.featureMapping.aggregator}"
						filter="true" required="true">
						<f:selectItems value="#{aggregatorLookup.aggregatorList}" />
					</p:selectOneMenu>
					<p:message for="aggregator" styleClass="validation-message" />

					<h:outputText value="Collecting Agent" style="font-weight:bold"></h:outputText>
					<p:selectOneMenu id="collectingAgent"
						converter="auditableSelectItemsConverter"
						value="#{featureMappingHandler.featureMapping.collectingAgent}"
						filter="true" required="true">
						<f:selectItems
							value="#{collectingAgentLookup.collectingAgentList}" />
					</p:selectOneMenu>
					<p:message for="collectingAgent" styleClass="validation-message" />

					<h:outputText value="Commision Amount" style="font-weight:bold"></h:outputText>
					<p:inputText id="commisionAmount"
						value="#{featureMappingHandler.featureMapping.commisionAmount}">
					</p:inputText>
					<p:message for="commisionAmount" styleClass="validation-message" />

					<h:outputText value="Status" style="font-weight:bold"></h:outputText>
					<h:outputText id="featureMappingStatus"
						converter="model.statusConverter"
						value="#{featureMappingHandler.featureMapping.status}"></h:outputText>
					<p:message for="featureMappingStatus"
						styleClass="validation-message" />

				</h:panelGrid>
				<div class="ui-widget-header ui-corner-all"
					style="text-align: center; padding: 5px;">
					<p:commandButton value="Save" icon="ui-icon-disk"
						actionListener="#{featureMappingHandler.doSave}" disabled=""
						id="btnSave" onclick="PF('loadingDlg').show()"
						update=":insertOrEditForm :featureMappingForm"
						oncomplete="PF('loadingDlg').hide();" />
					<p:commandButton value="Cancel" icon="ui-icon-cancel"
						onclick="insertOrEditFeatureMapping.hide()" />
				</div>
			</h:form>
		</p:dialog>
		<p:dialog widgetVar="dlgConfirm" id="confirmDlg"
			header="Delete Feature Mapping" modal="true" resizable="false">
			<h:form id="deleteFeatureMappingForm">
				<h:panelGrid>
					<h:outputText styleClass="ui-confirm-dialog"
						value="Do you want to delete featureMapping #{featureMappingHandler.featureMapping.code}?" />
					<h:panelGroup>
						<p:commandButton value="Yes"
							action="#{featureMappingHandler.deleteFeatureMapping}"
							oncomplete="PF('dlgConfirm').hide()" update=":featureMappingForm" />
						<p:commandButton value="No" onclick="PF('dlgConfirm').hide()" />
					</h:panelGroup>
				</h:panelGrid>
			</h:form>
		</p:dialog>
		<p:dialog widgetVar="dlgConfirmChangeStatus" id="confirmDlgChgSts"
			header="Change Status Feature Mapping" modal="true" resizable="false">
			<h:form id="changeStatusFeatureMappingForm">
				<h:panelGrid>
					<h:outputText styleClass="ui-confirm-dialog"
						value="Do you want to #{featureMappingHandler.featureMapping.status==1? 'disable' : 'enable'} mapping #{featureMappingHandler.featureMapping.code}?" />
					<h:panelGroup>
						<p:commandButton value="Yes"
							action="#{featureMappingHandler.changeStatusFeatureMapping}"
							oncomplete="PF('dlgConfirmChangeStatus').hide()"
							update=":featureMappingForm" />
						<p:commandButton value="No"
							onclick="PF('dlgConfirmChangeStatus').hide()" />
					</h:panelGroup>
				</h:panelGrid>
			</h:form>
		</p:dialog>
	</ui:define>

	<ui:define name="content">
		<h:form id="searchForm">
			<h:panelGrid columns="4">
				<p:column>
					<h:outputLabel value="Code" style="font-weight:bold" />
				</p:column>
				<p:column>
					<p:inputText id="code" autocomplete="off" label="code"
						value="#{featureMappingHandler.code}">
					</p:inputText>
				</p:column>
				<p:column>
					<h:outputLabel value="Collecting Agent" style="font-weight:bold" />
				</p:column>
				<p:column>
					<p:inputText id="ca" autocomplete="off" label="ca"
						value="#{featureMappingHandler.ca}">
					</p:inputText>
				</p:column>
				<p:column>
					<h:outputLabel value="Feature" style="font-weight:bold" />
				</p:column>
				<p:column>
					<p:inputText id="feature" autocomplete="off" label="feature"
						value="#{featureMappingHandler.feature}">
					</p:inputText>
				</p:column>
				<p:column style="width:125px; border:none;">
					<h:outputLabel value="Feature Mapping Status"
						style="font-weight:bold" />
				</p:column>
				<p:column>
					<p:selectBooleanCheckbox value="#{featureMappingHandler.active}"
						label="Enable" itemLabel="Enable" />
					<h:outputLabel value=" " />
					<p:selectBooleanCheckbox value="#{featureMappingHandler.inactive}"
						label="Disable" itemLabel="Disable" />
				</p:column>
				<p:column>
					<h:outputLabel value="Aggregator" style="font-weight:bold" />
				</p:column>
				<p:column>
					<p:inputText id="aggregator" autocomplete="off" label="aggregator"
						value="#{featureMappingHandler.aggregator}">
					</p:inputText>
				</p:column>
				<p:column>
				</p:column>
				<p:column>
				</p:column>
				<p:column>
					<p:commandButton value="Search" icon="ui-icon-search"
						actionListener="#{featureMappingHandler.doSearch}"
						update=":featureMappingForm" onclick="PF('loadingDlg').show()"
						oncomplete="PF('loadingDlg').hide()" />
				</p:column>

			</h:panelGrid>
		</h:form>

		<h:form id="featureMappingForm">
			<p:dataTable var="featureMapping"
				value="#{featureMappingHandler.featureMappingList}" lazy="true"
				paginator="true" rows="10"
				paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
				rowsPerPageTemplate="#{commonConfig.rowsPerPageTemplate}"
				id="featureMappingTable">

				<f:facet name="header">
					<table>
						<tr>
							<td
								style="width: 400px; border: none; padding: 0px; text-align: left;">
								<p:commandButton
									oncomplete="PF('insertOrEditFeatureMapping').show()"
									icon="ui-icon-plus" styleClass="btn" value="Create"
									action="#{featureMappingHandler.newFeatureMapping}"
									update=":insertOrEditForm" />
							</td>
							<td style="border: none; padding: 0px; text-align: left;"><p:outputLabel
									value="Feature Mapping Data" /></td>
						</tr>
					</table>
				</f:facet>
				<p:column headerText="Code" style="width: 115px;">
					<h:outputText value="#{featureMapping.code}"></h:outputText>
				</p:column>
				<p:column headerText="Feature">
					<h:outputText
						value="#{featureMapping.feature.code} - #{featureMapping.feature.name}"></h:outputText>
				</p:column>
				<p:column headerText="Aggregator">
					<h:outputText
						value="#{featureMapping.aggregator.code} - #{featureMapping.aggregator.name}"></h:outputText>
				</p:column>
				<p:column headerText="Collecting Agent">
					<h:outputText
						value="#{featureMapping.collectingAgent.code} - #{featureMapping.collectingAgent.name}"></h:outputText>
				</p:column>
				<p:column headerText="Registration Date" style="width: 150px;">
					<h:outputText value="#{featureMapping.createDate}">
						<f:convertDateTime pattern="dd-MM-yyyy hh:mm:ss" />
					</h:outputText>
				</p:column>
				<p:column headerText="Status" style="width: 80px;">
					<h:outputText converter="model.statusConverter"
						value="#{featureMapping.status}"></h:outputText>
				</p:column>
				<p:column headerText="Action" style="width: 110px;">
					<p:outputLabel style="visibility:hidden" value="mii" />
					<p:commandLink
						style="color:black; font-style:italic ; text-decoration:underline"
						value="Edit" icon="ui-icon-pencil"
						actionListener="#{featureMappingHandler.viewDetailedFeatureMappingEdit(featureMapping)}"
						update=":insertOrEditForm " />
					<p:outputLabel style="visibility:hidden" value="mi" />
					<p:commandLink
						style="color:black; font-style:italic ; text-decoration:underline"
						value="#{featureMapping.status==1? 'Disable' : 'Enable'}"
						icon="ui-icon-trash"
						action="#{featureMappingHandler.viewDetailedChangeStatus(featureMapping)}"
						update=":changeStatusFeatureMappingForm " />
					<p:outputLabel style="visibility:hidden" value="mii" />
				</p:column>
			</p:dataTable>
		</h:form>

	</ui:define>
</ui:composition>