<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions"
	template="/resources/components/layout.xhtml">
	
	<ui:define name="dialog">
		<p:dialog  header="View User #{approvalWebHandler.user.id}" id="viewUser" widgetVar="viewUser" modal="true"
			resizable="true">
			<h:form id="viewFormUser" disabled="true">
				<p:panelGrid columns="2" columnClasses="panelGrid-label, panelGrid-value-user">
					<f:facet name="header">User's Detail</f:facet>
					<h:outputText value="User Id"></h:outputText>
					<h:outputText value="#{approvalWebHandler.user.id}"></h:outputText>
					
					<h:outputText value="User Name"></h:outputText>
					<h:outputText value="#{approvalWebHandler.user.userName}"></h:outputText>
					
					<h:outputText value="Full Name"></h:outputText>
					<h:outputText value="#{approvalWebHandler.user.fullName}"></h:outputText>
					
					<h:outputText value="Last Login"></h:outputText>
					<h:outputText value="#{approvalWebHandler.user.lastLogin}"></h:outputText>
					
					<h:outputText value="Email"></h:outputText>
					<h:outputText value="#{approvalWebHandler.user.email}"></h:outputText>
					
					<h:outputText value="Division"></h:outputText>
					<h:outputText value="#{approvalWebHandler.user.division}"></h:outputText>
					
					<h:outputText value="Departement"></h:outputText>
					<h:outputText value="#{approvalWebHandler.user.department}"></h:outputText>
					
					<h:outputText value="Phone"></h:outputText>
					<h:outputText value="#{approvalWebHandler.user.phone}"></h:outputText>
					
					<h:outputText value="Mobile Number"></h:outputText>
					<h:outputText value="#{approvalWebHandler.user.mobileNo}"></h:outputText>
					
					<h:outputText value="Contact Number"></h:outputText>
					<h:outputText value="#{approvalWebHandler.user.contactNo}"></h:outputText>
					
					<h:outputText value="Branch"></h:outputText>
					<h:outputText value="#{approvalWebHandler.user.branch.name} - #{approvalWebHandler.user.branch.name}"></h:outputText>
					
				</p:panelGrid>
				<p:dataList value="#{approvalWebHandler.rolesName}" var="role">
					<f:facet name="header"> User's Role </f:facet>
					<h:outputText value="#{role}"></h:outputText>
				</p:dataList>
			</h:form>
		</p:dialog>
		<p:dialog  header="View User #{approvalWebHandler.user.id}" id="viewEditUser" widgetVar="viewEditUser" modal="true"
			resizable="true">
			<h:form id="viewFormEditUser" disabled="true">
			<h:panelGrid columns="2" style="vertical-align:top;" columnClasses="user-detail,user-role">		
				<p:panelGrid columns="2" columnClasses="panelGrid-label, panelGrid-value-user">
					<f:facet name="header">Previous User's Detail</f:facet>
					<h:outputText value="User Id"></h:outputText>
					<h:outputText value="#{approvalWebHandler.prevUser.id}"></h:outputText>
					
					<h:outputText value="User Name"></h:outputText>
					<h:outputText value="#{approvalWebHandler.prevUser.userName}"></h:outputText>
					
					<h:outputText value="Full Name"></h:outputText>
					<h:outputText value="#{approvalWebHandler.prevUser.fullName}"></h:outputText>
					
					<h:outputText value="Last Login"></h:outputText>
					<h:outputText value="#{approvalWebHandler.prevUser.lastLogin}"></h:outputText>
					
					<h:outputText value="Email"></h:outputText>
					<h:outputText value="#{approvalWebHandler.prevUser.email}"></h:outputText>
					
					<h:outputText value="Division"></h:outputText>
					<h:outputText value="#{approvalWebHandler.prevUser.division}"></h:outputText>
					
					<h:outputText value="Departement"></h:outputText>
					<h:outputText value="#{approvalWebHandler.prevUser.department}"></h:outputText>
					
					<h:outputText value="Phone"></h:outputText>
					<h:outputText value="#{approvalWebHandler.prevUser.phone}"></h:outputText>
					
					<h:outputText value="Mobile Number"></h:outputText>
					<h:outputText value="#{approvalWebHandler.prevUser.mobileNo}"></h:outputText>
					
					<h:outputText value="Contact Number"></h:outputText>
					<h:outputText value="#{approvalWebHandler.prevUser.contactNo}"></h:outputText>
					
					<h:outputText value="Branch"></h:outputText>
					<h:outputText value="#{approvalWebHandler.prevUser.branch.name} - #{approvalWebHandler.prevUser.branch.name}"></h:outputText>
					
				</p:panelGrid>
				<p:panelGrid columns="2" columnClasses="panelGrid-label, panelGrid-value-user">
					<f:facet name="header">New User's Detail</f:facet>
					<h:outputText value="User Id"></h:outputText>
					<h:outputText value="#{approvalWebHandler.user.id}"></h:outputText>
					
					<h:outputText value="User Name"></h:outputText>
					<h:outputText value="#{approvalWebHandler.user.userName}"></h:outputText>
					
					<h:outputText value="Full Name"></h:outputText>
					<h:outputText value="#{approvalWebHandler.user.fullName}"></h:outputText>
					
					<h:outputText value="Last Login"></h:outputText>
					<h:outputText value="#{approvalWebHandler.user.lastLogin}"></h:outputText>
					
					<h:outputText value="Email"></h:outputText>
					<h:outputText value="#{approvalWebHandler.user.email}"></h:outputText>
					
					<h:outputText value="Division"></h:outputText>
					<h:outputText value="#{approvalWebHandler.user.division}"></h:outputText>
					
					<h:outputText value="Departement"></h:outputText>
					<h:outputText value="#{approvalWebHandler.user.department}"></h:outputText>
					
					<h:outputText value="Phone"></h:outputText>
					<h:outputText value="#{approvalWebHandler.user.phone}"></h:outputText>
					
					<h:outputText value="Mobile Number"></h:outputText>
					<h:outputText value="#{approvalWebHandler.user.mobileNo}"></h:outputText>
					
					<h:outputText value="Contact Number"></h:outputText>
					<h:outputText value="#{approvalWebHandler.user.contactNo}"></h:outputText>
					
					<h:outputText value="Branch"></h:outputText>
					<h:outputText value="#{approvalWebHandler.user.branch.name} - #{approvalWebHandler.user.branch.name}"></h:outputText>
										
				</p:panelGrid>
				<p:dataList value="#{approvalWebHandler.prevRolesName}" var="role">
					<f:facet name="header"> Previous User's Role </f:facet>
					<h:outputText value="#{role}"></h:outputText>
				</p:dataList>
				<p:dataList value="#{approvalWebHandler.rolesName}" var="role">
					<f:facet name="header"> New User's Role </f:facet>
					<h:outputText value="#{role}"></h:outputText>
				</p:dataList>
			</h:panelGrid>
			</h:form>
		</p:dialog>		
		<p:dialog header="View Role" id="viewRole" widgetVar="viewRole" modal="true"
			resizable="true">
			<h:form id="viewFormRole">
			<p:panelGrid columns="2" columnClasses="panelGrid-label, panelGrid-value-role">
				<f:facet name="header">Role Detail</f:facet>
				<h:outputText value="Role Id"></h:outputText>
				<h:outputText value="#{approvalWebHandler.role.id}"></h:outputText>
				
				<h:outputText value="Role Name"></h:outputText>
				<h:outputText value="#{approvalWebHandler.role.name}"></h:outputText>				
			</p:panelGrid>	
			<p:panel header="Menu" style=" margin-top:10px;">
			<div style="height: 400px; overflow-y:scroll;">
				<o:tree value="#{approvalWebHandler.tree}" var="menu">
					
				    <o:treeNode level="0">
				        <o:treeNodeItem>
				            <h3 style="margin-top:0px; margin-left: 5px;">
				            	<h:selectBooleanCheckbox value="#{menu.selected}" disabled="true" />
				            	#{menu.name}
				            </h3>
				            <o:treeInsertChildren />
				        </o:treeNodeItem>
				    </o:treeNode>
				    <o:treeNode>
				        <ul style="list-style-type: none;">
				            <o:treeNodeItem>
				                <li style="margin: 0px;">
				                	<h:selectBooleanCheckbox value="#{menu.selected}" disabled="true" />			                	
				                    #{menu.name}
				                     <ui:repeat var="action" value="#{menu.actionList}" >
										<li style="margin: 0 0 0 35px; font-style:italic">
						                	<h:selectBooleanCheckbox value="#{action.selected}" disabled="false" />	
						                    #{action.name}
					                    </li>
									 </ui:repeat>
				                    <o:treeInsertChildren />
				                </li>
				            </o:treeNodeItem>
				        </ul>
				    </o:treeNode>   
				     
				</o:tree>
			</div>
			</p:panel>	
			</h:form>
		</p:dialog>	
		<p:dialog header="View Role" id="viewEditRole" widgetVar="viewEditRole" modal="true"
			resizable="true">
			<h:form id="viewFormEditRole">
			<h:panelGrid columns="2" style="vertical-align:top;" columnClasses="user-detail,user-role">	
				<p:panelGrid columns="2" columnClasses="panelGrid-label, panelGrid-value-role">
					<f:facet name="header">Previous Role Detail</f:facet>
					<h:outputText value="Role Id"></h:outputText>
					<h:outputText value="#{approvalWebHandler.prevRole.id}"></h:outputText>
					
					<h:outputText value="Role Name"></h:outputText>
					<h:outputText value="#{approvalWebHandler.prevRole.name}"></h:outputText>				
				</p:panelGrid>
				<p:panelGrid columns="2" columnClasses="panelGrid-label, panelGrid-value-role">
					<f:facet name="header">New Role Detail</f:facet>
					<h:outputText value="Role Id"></h:outputText>
					<h:outputText value="#{approvalWebHandler.role.id}"></h:outputText>
					
					<h:outputText value="Role Name"></h:outputText>
					<h:outputText value="#{approvalWebHandler.role.name}"></h:outputText>				
				</p:panelGrid>	
					
				<p:panel header="Menu" style=" margin-top:10px;">
				<div style="height: 400px; overflow-y:scroll;">
					<o:tree value="#{approvalWebHandler.prevTree}" var="menu">
						
					    <o:treeNode level="0">
					        <o:treeNodeItem>
					            <h3 style="margin-top:0px; margin-left: 5px;">
					            	<h:selectBooleanCheckbox value="#{menu.selected}" disabled="true" />
					            	#{menu.name}
					            </h3>
					            <o:treeInsertChildren />
					        </o:treeNodeItem>
					    </o:treeNode>
					    <o:treeNode>
					        <ul style="list-style-type: none;">
					            <o:treeNodeItem>
					                <li style="margin: 0px;">
					                	<h:selectBooleanCheckbox value="#{menu.selected}" disabled="true" />			                	
					                    #{menu.name}
					                     <ui:repeat var="action" value="#{menu.actionList}" >
											<li style="margin: 0 0 0 35px; font-style:italic">
							                	<h:selectBooleanCheckbox value="#{action.selected}" disabled="false" />	
							                    #{action.name}
						                    </li>
										 </ui:repeat>
					                    <o:treeInsertChildren />
					                </li>
					            </o:treeNodeItem>
					        </ul>
					    </o:treeNode>   
					     
					</o:tree>
				</div>
				</p:panel>	
				<p:panel header="Menu" style=" margin-top:10px;">
				<div style="height: 400px; overflow-y:scroll;">
					<o:tree value="#{approvalWebHandler.tree}" var="menu">
						
					    <o:treeNode level="0">
					        <o:treeNodeItem>
					            <h3 style="margin-top:0px; margin-left: 5px;">
					            	<h:selectBooleanCheckbox value="#{menu.selected}" disabled="true" />
					            	#{menu.name}
					            </h3>
					            <o:treeInsertChildren />
					        </o:treeNodeItem>
					    </o:treeNode>
					    <o:treeNode>
					        <ul style="list-style-type: none;">
					            <o:treeNodeItem>
					                <li style="margin: 0px;">
					                	<h:selectBooleanCheckbox value="#{menu.selected}" disabled="true" />			                	
					                    #{menu.name}
					                     <ui:repeat var="action" value="#{menu.actionList}" >
											<li style="margin: 0 0 0 35px; font-style:italic">
							                	<h:selectBooleanCheckbox value="#{action.selected}" disabled="false" />	
							                    #{action.name}
						                    </li>
										 </ui:repeat>
					                    <o:treeInsertChildren />
					                </li>
					            </o:treeNodeItem>
					        </ul>
					    </o:treeNode>   
					     
					</o:tree>
				</div>
				</p:panel>
			</h:panelGrid>
			</h:form>
		</p:dialog>	
		<p:dialog header="View Scheduler #{approvalWebHandler.task.id}" id="view" widgetVar="viewScheduler" modal="true"
			resizable="true">
			<h:form id="viewFormScheduler">
			<h:panelGrid id="insertOrEditGrid" columns="2" style="vertical-align:top;" columnClasses="user-detail,user-role">				
				<p:panelGrid   columns="2" columnClasses="panelGrid-label, panelGrid-value-scheduler">
					<f:facet name="header">Task's Detail</f:facet>
					
					<h:outputText value="Scheduler Id"></h:outputText>
					<h:outputText value="#{approvalWebHandler.task.id}"></h:outputText>
					
					<h:outputText value="Job Name"></h:outputText>
					<h:outputText value="#{approvalWebHandler.task.jobName}"></h:outputText>
					
					<h:outputText value="Execution Service"></h:outputText>
					<h:outputText value="#{approvalWebHandler.task.executionService}"></h:outputText>
					
					<h:outputText value="Schedule Type"></h:outputText>
					<h:outputText value="#{approvalWebHandler.task.schedulerType}"></h:outputText>
					
					<h:outputLabel  value="Date" rendered="#{approvalWebHandler.runOnce}" />	
					<p:column  rendered="#{approvalWebHandler.runOnce}">
						<h:outputText value="#{approvalWebHandler.task.date}"></h:outputText> 
					</p:column>
					
					<h:outputLabel value="Time" rendered="#{approvalWebHandler.runOnce}"/>
					<p:column rendered="#{approvalWebHandler.runOnce}">
						<h:outputText value="#{approvalWebHandler.task.time}"></h:outputText> 
					</p:column>
					
					<h:outputLabel value="Start Date" rendered="#{approvalWebHandler.repeatingOrComplexRepeating}"/>
					<p:column rendered="#{approvalWebHandler.repeatingOrComplexRepeating}">
						<h:outputText value="#{approvalWebHandler.task.startDate}"></h:outputText> 
					</p:column>
					
					<h:outputLabel value="Start Time" rendered="#{approvalWebHandler.repeatingOrComplexRepeating}"/>
					<p:column rendered="#{approvalWebHandler.repeatingOrComplexRepeating}">
						<h:outputText value="#{approvalWebHandler.task.startTime}"></h:outputText> 
					</p:column>
					
					<h:outputLabel value="End Date" rendered="#{approvalWebHandler.repeatingOrComplexRepeating}"/>
					<p:column rendered="#{approvalWebHandler.repeatingOrComplexRepeating}">	
						<h:outputText value="#{approvalWebHandler.task.endDate}"></h:outputText> 
					</p:column>	
					
					<h:outputLabel value="End Time" rendered="#{approvalWebHandler.repeatingOrComplexRepeating}"/>
					<p:column rendered="#{approvalWebHandler.repeatingOrComplexRepeating}">	
						<h:outputText value="#{approvalWebHandler.task.endTime}"></h:outputText>
					</p:column>	
					
					
					<h:outputLabel value="Interval" rendered="#{approvalWebHandler.repeating}"/>
					<p:column rendered="#{approvalWebHandler.repeating}">	
						<h:outputText value="#{approvalWebHandler.task.interval}"></h:outputText> seconds
					</p:column>
					<h:outputLabel value="Run Mask" rendered="#{approvalWebHandler.complexRepeating}"/>
					<p:column rendered="#{approvalWebHandler.complexRepeating}">
						<h:outputText value="Month : #{approvalWebHandler.task.maskMonth} , "></h:outputText>
						<h:outputText value="Day : #{approvalWebHandler.task.maskDay} , "></h:outputText>
						<h:outputText value="Weekly Day : #{approvalWebHandler.task.maskWeeklyDay} , "></h:outputText>
						<h:outputText value="Start Hour : #{approvalWebHandler.task.maskHour} , "></h:outputText>
						<h:outputText value="End Hour : #{approvalWebHandler.task.maskHourEnd} , "></h:outputText>
						<h:outputText value="Minute : #{approvalWebHandler.task.maskMinute}"></h:outputText>
					</p:column>
				</p:panelGrid>
			</h:panelGrid>
			</h:form>
		</p:dialog>	
		
		<p:dialog header="View Scheduler Edit #{approvalWebHandler.task.id}" id="viewEdit" widgetVar="viewSchedulerEdit" modal="true"
			resizable="true">
			<h:form id="viewFormSchedulerEdit">
			<h:panelGrid id="insertOrEditGridEdit" columns="2" style="vertical-align:top;" columnClasses="user-detail,user-role">				
				<p:panelGrid   columns="2" columnClasses="panelGrid-label, panelGrid-value-scheduler">
					<f:facet name="header">Previous Task's Detail</f:facet>
					
					<h:outputText value="Scheduler Id"></h:outputText>
					<h:outputText value="#{approvalWebHandler.prevTask.id}"></h:outputText>
					
					<h:outputText value="Job Name"></h:outputText>
					<h:outputText value="#{approvalWebHandler.prevTask.jobName}"></h:outputText>
					
					<h:outputText value="Execution Service"></h:outputText>
					<h:outputText value="#{approvalWebHandler.prevTask.executionService}"></h:outputText>
					
					<h:outputText value="Schedule Type"></h:outputText>
					<h:outputText value="#{approvalWebHandler.prevTask.schedulerType}"></h:outputText>
					
					<h:outputLabel  value="Date" rendered="#{approvalWebHandler.prevRunOnce}" />	
					<p:column  rendered="#{approvalWebHandler.prevRunOnce}">
						<h:outputText value="#{approvalWebHandler.prevTask.date}"></h:outputText> 
					</p:column>
					
					<h:outputLabel value="Time" rendered="#{approvalWebHandler.prevRunOnce}"/>
					<p:column rendered="#{approvalWebHandler.prevRunOnce}">
						<h:outputText value="#{approvalWebHandler.prevTask.time}"></h:outputText> 
					</p:column>
					
					<h:outputLabel value="Start Date" rendered="#{approvalWebHandler.prevRepeatingOrComplexRepeating}"/>
					<p:column rendered="#{approvalWebHandler.prevRepeatingOrComplexRepeating}">
						<h:outputText value="#{approvalWebHandler.prevTask.startDate}"></h:outputText> 
					</p:column>
					
					<h:outputLabel value="Start Time" rendered="#{approvalWebHandler.prevRepeatingOrComplexRepeating}"/>
					<p:column rendered="#{approvalWebHandler.prevRepeatingOrComplexRepeating}">
						<h:outputText value="#{approvalWebHandler.prevTask.startTime}"></h:outputText> 
					</p:column>
					
					<h:outputLabel value="End Date" rendered="#{approvalWebHandler.prevRepeatingOrComplexRepeating}"/>
					<p:column rendered="#{approvalWebHandler.prevRepeatingOrComplexRepeating}">	
						<h:outputText value="#{approvalWebHandler.prevTask.endDate}"></h:outputText> 
					</p:column>	
					
					<h:outputLabel value="End Time" rendered="#{approvalWebHandler.prevRepeatingOrComplexRepeating}"/>
					<p:column rendered="#{approvalWebHandler.prevRepeatingOrComplexRepeating}">	
						<h:outputText value="#{approvalWebHandler.prevTask.endTime}"></h:outputText>
					</p:column>	
					
					
					<h:outputLabel value="Interval" rendered="#{approvalWebHandler.prevRepeating}"/>
					<p:column rendered="#{approvalWebHandler.prevRepeating}">	
						<h:outputText value="#{approvalWebHandler.prevTask.interval}"></h:outputText> seconds
					</p:column>
					<h:outputLabel value="Run Mask" rendered="#{approvalWebHandler.complexRepeating}"/>
					<p:column rendered="#{approvalWebHandler.complexRepeating}">
						<h:outputText value="Month : #{approvalWebHandler.prevTask.maskMonth} , "></h:outputText>
						<h:outputText value="Day : #{approvalWebHandler.prevTask.maskDay} , "></h:outputText>
						<h:outputText value="Weekly Day : #{approvalWebHandler.prevTask.maskWeeklyDay} , "></h:outputText>
						<h:outputText value="Start Hour : #{approvalWebHandler.prevTask.maskHour} , "></h:outputText>
						<h:outputText value="End Hour : #{approvalWebHandler.prevTask.maskHourEnd} , "></h:outputText>
						<h:outputText value="Minute : #{approvalWebHandler.prevTask.maskMinute}"></h:outputText>
					</p:column>
				</p:panelGrid>
				<p:panelGrid   columns="2" columnClasses="panelGrid-label, panelGrid-value-scheduler">
					<f:facet name="header">New Task's Detail</f:facet>
					
					<h:outputText value="Scheduler Id"></h:outputText>
					<h:outputText value="#{approvalWebHandler.task.id}"></h:outputText>
					
					<h:outputText value="Job Name"></h:outputText>
					<h:outputText value="#{approvalWebHandler.task.jobName}"></h:outputText>
					
					<h:outputText value="Execution Service"></h:outputText>
					<h:outputText value="#{approvalWebHandler.task.executionService}"></h:outputText>
					
					<h:outputText value="Schedule Type"></h:outputText>
					<h:outputText value="#{approvalWebHandler.task.schedulerType}"></h:outputText>
					
					<h:outputLabel  value="Date" rendered="#{approvalWebHandler.runOnce}" />	
					<p:column  rendered="#{approvalWebHandler.runOnce}">
						<h:outputText value="#{approvalWebHandler.task.date}"></h:outputText> 
					</p:column>
					
					<h:outputLabel value="Time" rendered="#{approvalWebHandler.runOnce}"/>
					<p:column rendered="#{approvalWebHandler.runOnce}">
						<h:outputText value="#{approvalWebHandler.task.time}"></h:outputText> 
					</p:column>
					
					<h:outputLabel value="Start Date" rendered="#{approvalWebHandler.repeatingOrComplexRepeating}"/>
					<p:column rendered="#{approvalWebHandler.repeatingOrComplexRepeating}">
						<h:outputText value="#{approvalWebHandler.task.startDate}"></h:outputText> 
					</p:column>
					
					<h:outputLabel value="Start Time" rendered="#{approvalWebHandler.repeatingOrComplexRepeating}"/>
					<p:column rendered="#{approvalWebHandler.repeatingOrComplexRepeating}">
						<h:outputText value="#{approvalWebHandler.task.startTime}"></h:outputText> 
					</p:column>
					
					<h:outputLabel value="End Date" rendered="#{approvalWebHandler.repeatingOrComplexRepeating}"/>
					<p:column rendered="#{approvalWebHandler.repeatingOrComplexRepeating}">	
						<h:outputText value="#{approvalWebHandler.task.endDate}"></h:outputText> 
					</p:column>	
					
					<h:outputLabel value="End Time" rendered="#{approvalWebHandler.repeatingOrComplexRepeating}"/>
					<p:column rendered="#{approvalWebHandler.repeatingOrComplexRepeating}">	
						<h:outputText value="#{approvalWebHandler.task.endTime}"></h:outputText>
					</p:column>	
					
					
					<h:outputLabel value="Interval" rendered="#{approvalWebHandler.repeating}"/>
					<p:column rendered="#{approvalWebHandler.repeating}">	
						<h:outputText value="#{approvalWebHandler.task.interval}"></h:outputText> seconds
					</p:column>
					<h:outputLabel value="Run Mask" rendered="#{approvalWebHandler.complexRepeating}"/>
					<p:column rendered="#{approvalWebHandler.complexRepeating}">
						<h:outputText value="Month : #{approvalWebHandler.task.maskMonth} , "></h:outputText>
						<h:outputText value="Day : #{approvalWebHandler.task.maskDay} , "></h:outputText>
						<h:outputText value="Weekly Day : #{approvalWebHandler.task.maskWeeklyDay} , "></h:outputText>
						<h:outputText value="Start Hour : #{approvalWebHandler.task.maskHour} , "></h:outputText>
						<h:outputText value="End Hour : #{approvalWebHandler.task.maskHourEnd} , "></h:outputText>
						<h:outputText value="Minute : #{approvalWebHandler.task.maskMinute}"></h:outputText>
					</p:column>
					
				</p:panelGrid>
			</h:panelGrid>
			</h:form>
		</p:dialog>	
		
		<p:dialog  header="View Parameter #{approvalWebHandler.systemParameter.name}" id="viewParameter" widgetVar="viewParameter" modal="true"
			resizable="true">
			<h:form id="viewFormParameter">
				<p:panelGrid columns="2" columnClasses="panelGrid-label-parameter, panelGrid-value-parameter">
					<f:facet name="header">Parameter's Detail</f:facet>
					
					<h:outputText value="Parameter Id"></h:outputText>
					<h:outputText value="#{approvalWebHandler.systemParameter.code}"></h:outputText>
					
					<h:outputText value="Parameter Name"></h:outputText>
					<h:outputText value="#{approvalWebHandler.systemParameter.name}"></h:outputText>
					
					<h:outputText value="Value"></h:outputText>
					<h:outputText value="#{approvalWebHandler.systemParameter.value}"></h:outputText>
					
					<h:outputText value="Description"></h:outputText>
					<h:outputText value="#{approvalWebHandler.systemParameter.description}"></h:outputText>
					
				</p:panelGrid>
			</h:form>
		</p:dialog>
		<p:dialog  header="View Parameter Edit #{approvalWebHandler.systemParameter.name}" id="viewParameterEdit" widgetVar="viewParameterEdit" 
			modal="true" resizable="true">
			<h:form id="viewFormParameterEdit" disabled="true">
				<h:panelGrid columns="2" style="vertical-align:top;" columnClasses="parameter-current,parameter-pending">	
					<h:panelGrid columns="3" columnClasses="panelGrid-label-parameter,,panelGrid-value-parameter">
						<f:facet name="header">Current Parameter's Detail</f:facet>
						
						<h:outputText value="Parameter Id" style="font-weight:bold"></h:outputText>
						<h:outputText value=":  " style="font-weight:bold"></h:outputText>
						<h:outputText value="#{approvalWebHandler.prevSystemParameter.code}"></h:outputText>
						
						<h:outputText value="Parameter Name" style="font-weight:bold"></h:outputText>
						<h:outputText value=":  " style="font-weight:bold"></h:outputText>
						<h:outputText value="#{approvalWebHandler.prevSystemParameter.name}"></h:outputText>
						
						<h:outputText value="Value" style="font-weight:bold"></h:outputText>
						<h:outputText value=":  " style="font-weight:bold"></h:outputText>
						<h:outputText value="#{approvalWebHandler.prevSystemParameter.value}"></h:outputText>
						
						<h:outputText value="Description" style="font-weight:bold"></h:outputText>
						<h:outputText value=":  " style="font-weight:bold"></h:outputText>
						<h:outputText value="#{approvalWebHandler.prevSystemParameter.description}"></h:outputText>
						
						<h:outputText value="Status" style="font-weight:bold"></h:outputText>
						<h:outputText value=":  " style="font-weight:bold"></h:outputText>
						<h:outputText value="#{approvalWebHandler.prevSystemParameter.status  == 1 ? 'Enable' : 'Disable'}"></h:outputText>
						
					</h:panelGrid>
					<h:panelGrid columns="3" columnClasses="panelGrid-label-parameter,,panelGrid-value-parameter">
						<f:facet name="header">Pending Parameter's Detail</f:facet>
						
						<h:outputText value="Parameter Id" style="font-weight:bold"></h:outputText>
						<h:outputText value=":  " style="font-weight:bold"></h:outputText>
						<h:outputText value="#{approvalWebHandler.systemParameter.code}"></h:outputText>
						
						<h:outputText value="Parameter Name" style="font-weight:bold"></h:outputText>
						<h:outputText value=":  " style="font-weight:bold"></h:outputText>
						<h:outputText value="#{approvalWebHandler.systemParameter.name}"></h:outputText>
						
						<h:outputText value="Value" style="font-weight:bold"></h:outputText>
						<h:outputText value=":  " style="font-weight:bold"></h:outputText>
						<h:outputText value="#{approvalWebHandler.systemParameter.value}"></h:outputText>
						
						<h:outputText value="Description" style="font-weight:bold"></h:outputText>
						<h:outputText value=":  " style="font-weight:bold"></h:outputText>
						<h:outputText value="#{approvalWebHandler.systemParameter.description}"></h:outputText>
						
						<h:outputText value="Status" style="font-weight:bold"></h:outputText>
						<h:outputText value=":  " style="font-weight:bold"></h:outputText>
						<h:outputText value="#{approvalWebHandler.systemParameter.status == 1 ? 'Enable' : 'Disable'}"></h:outputText>
					
					</h:panelGrid>
				</h:panelGrid>
			</h:form>
		</p:dialog>
		
		<p:dialog  header="View Branch #{approvalWebHandler.branch.name}" id="viewBranch" widgetVar="viewBranch" modal="true"
			resizable="true">
			<h:form id="viewFormBranch">
				<p:panelGrid columns="2" columnClasses="panelGrid-label-branch, panelGrid-value-branch">
					<f:facet name="header">Branch's Detail</f:facet>
					<h:outputText value="Branch Id"></h:outputText>
					<h:outputText value="#{approvalWebHandler.branch.id}"></h:outputText>
					
					<h:outputText value="Branch Code"></h:outputText>
					<h:outputText value="#{approvalWebHandler.branch.code}"></h:outputText>
					
					<h:outputText value="Branch Name"></h:outputText>
					<h:outputText value="#{approvalWebHandler.branch.name}"></h:outputText>
					
					<h:outputText value="Description"></h:outputText>
					<h:outputText value="#{approvalWebHandler.branch.description}"></h:outputText>
					
				</p:panelGrid>
			</h:form>
		</p:dialog>
		<p:dialog  header="View Branch Edit #{approvalWebHandler.branch.name}" id="viewBranchEdit" widgetVar="viewBranchEdit" 
			modal="true" resizable="true">
			<h:form id="viewFormBranchEdit" disabled="true">
				<h:panelGrid columns="2" style="vertical-align:top;" columnClasses="parameter-current,parameter-pending">	
					<p:panelGrid columns="2" columnClasses="panelGrid-label-branch, panelGrid-value-branch">
						<f:facet name="header">Current Branch's Detail</f:facet>
						<h:outputText value="Branch Id"></h:outputText>
						<h:outputText value="#{approvalWebHandler.prevBranch.id}"></h:outputText>
						
						<h:outputText value="Branch Code"></h:outputText>
						<h:outputText value="#{approvalWebHandler.prevBranch.code}"></h:outputText>
						
						<h:outputText value="Branch Name"></h:outputText>
						<h:outputText value="#{approvalWebHandler.prevBranch.name}"></h:outputText>
						
						<h:outputText value="Description"></h:outputText>
						<h:outputText value="#{approvalWebHandler.prevBranch.description}"></h:outputText>
						
					</p:panelGrid>
					<p:panelGrid columns="2" columnClasses="panelGrid-label-branch, panelGrid-value-branch">
						<f:facet name="header">Pending Branch's Detail</f:facet>
						<h:outputText value="Branch Id"></h:outputText>
						<h:outputText value="#{approvalWebHandler.branch.id}"></h:outputText>
						
						<h:outputText value="Branch Code"></h:outputText>
						<h:outputText value="#{approvalWebHandler.branch.code}"></h:outputText>
						
						<h:outputText value="Branch Name"></h:outputText>
						<h:outputText value="#{approvalWebHandler.branch.name}"></h:outputText>
						
						<h:outputText value="Description"></h:outputText>
						<h:outputText value="#{approvalWebHandler.branch.description}"></h:outputText>
					</p:panelGrid>
				</h:panelGrid>
			</h:form>
		</p:dialog>
		<p:dialog  header="View Holiday #{approvalWebHandler.holiday.name}" id="viewHoliday" widgetVar="viewHoliday" modal="true"
			resizable="true">
			<h:form id="viewFormHoliday">
				<p:panelGrid columns="2" columnClasses="panelGrid-label-role, panelGrid-value-role">
					<f:facet name="header">Holiday's Detail</f:facet>
					<h:outputText value="Holiday Id"></h:outputText>
					<h:outputText value="#{approvalWebHandler.holiday.id}"></h:outputText>
					
					<h:outputText value="Holiday Name"></h:outputText>
					<h:outputText value="#{approvalWebHandler.holiday.name}"></h:outputText>
					
					<h:outputText value="Description"></h:outputText>
					<h:outputText value="#{approvalWebHandler.holiday.description}"></h:outputText>
					
					<h:outputText value="Holiday Date"></h:outputText>
					<h:outputText value="#{approvalWebHandler.holiday.sDate}"></h:outputText>
					
				</p:panelGrid>
			</h:form>
		</p:dialog>
		<p:dialog  header="View Holiday Edit #{approvalWebHandler.holiday.name}" id="viewHolidayEdit" widgetVar="viewHolidayEdit" 
			modal="true" resizable="true">
			<h:form id="viewFormHolidayEdit" disabled="true">
				<h:panelGrid columns="2" style="vertical-align:top;" columnClasses="parameter-current,parameter-pending">	
					<p:panelGrid columns="2" columnClasses="panelGrid-label-role, panelGrid-value-role">
						<f:facet name="header">Current Holiday's Detail</f:facet>
						<h:outputText value="Holiday Id"></h:outputText>
						<h:outputText value="#{approvalWebHandler.prevHoliday.id}"></h:outputText>
						
						<h:outputText value="Holiday Name"></h:outputText>
						<h:outputText value="#{approvalWebHandler.prevHoliday.name}"></h:outputText>
						
						<h:outputText value="Description"></h:outputText>
						<h:outputText value="#{approvalWebHandler.prevHoliday.description}"></h:outputText>
						
						<h:outputText value="Holiday Date"></h:outputText>
						<h:outputText value="#{approvalWebHandler.prevHoliday.sDate}"></h:outputText>
						
					</p:panelGrid>
					<p:panelGrid columns="2" columnClasses="panelGrid-label-role, panelGrid-value-role">
						<f:facet name="header">Pending Holiday's Detail</f:facet>
						<h:outputText value="Holiday Id"></h:outputText>
						<h:outputText value="#{approvalWebHandler.holiday.id}"></h:outputText>
						
						<h:outputText value="Holiday Name"></h:outputText>
						<h:outputText value="#{approvalWebHandler.holiday.name}"></h:outputText>
						
						<h:outputText value="Description"></h:outputText>
						<h:outputText value="#{approvalWebHandler.holiday.description}"></h:outputText>
						
						<h:outputText value="Holiday Date"></h:outputText>
						<h:outputText value="#{approvalWebHandler.holiday.sDate}"></h:outputText>
					</p:panelGrid>
				</h:panelGrid>
			</h:form>
		</p:dialog>
		<p:dialog  header="View Aggregator #{approvalWebHandler.aggregator.name}" id="viewAggregator" widgetVar="viewAggregator" modal="true"
			resizable="true">
			<h:form id="viewFormAggregator">
				<h:panelGrid columns="2" style="vertical-align:top;" columnClasses="Aggregator-detail,Aggregator-role">	
					<h:panelGrid columns="3" columnClasses="panelGrid-label-aggregator, panelGrid-separator, panelGrid-value-aggregator">
						
						<h:outputText value="Code" style="font-weight:bold"></h:outputText>
						<h:outputText value=":  " style="font-weight:bold"></h:outputText>
						<h:outputText value="#{approvalWebHandler.aggregator.code}"></h:outputText>
						
						<h:outputText value="Name" style="font-weight:bold"></h:outputText>
						<h:outputText value=":  " style="font-weight:bold"></h:outputText>
						<h:outputText value="#{approvalWebHandler.aggregator.name}"></h:outputText>
						
						<h:outputText value="Address" style="font-weight:bold"></h:outputText>
						<h:outputText value=":  " style="font-weight:bold"></h:outputText>
						<h:outputText value="#{approvalWebHandler.aggregator.address}"></h:outputText>
						
						<h:outputText value="City" style="font-weight:bold"></h:outputText>
						<h:outputText value=":  " style="font-weight:bold"></h:outputText>
						<h:outputText value="#{approvalWebHandler.aggregator.city}"></h:outputText>
						
						<h:outputText value="Province" style="font-weight:bold"></h:outputText>
						<h:outputText value=":  " style="font-weight:bold"></h:outputText>
						<h:outputText value="#{approvalWebHandler.aggregator.province}"></h:outputText>
						
						<h:outputText value="Phone" style="font-weight:bold"></h:outputText>
						<h:outputText value=":  " style="font-weight:bold"></h:outputText>
						<h:outputText value="#{approvalWebHandler.aggregator.phone}"></h:outputText>
						
						<h:outputText value="Fax" style="font-weight:bold"></h:outputText>
						<h:outputText value=":  " style="font-weight:bold"></h:outputText>
						<h:outputText value="#{approvalWebHandler.aggregator.fax}"></h:outputText>
						
						<h:outputText value="PIC" style="font-weight:bold"></h:outputText>
						<h:outputText value=":  " style="font-weight:bold"></h:outputText>
						<h:outputText value="#{approvalWebHandler.aggregator.pic}"></h:outputText>
						
						<h:outputText value="Email PIC" style="font-weight:bold"></h:outputText>
						<h:outputText value=":  " style="font-weight:bold"></h:outputText>
						<h:outputText value="#{approvalWebHandler.aggregator.emailPic}"></h:outputText>
						
						<h:outputText value="Registration Date " style="font-weight:bold"></h:outputText>
						<h:outputText value=":  " style="font-weight:bold"></h:outputText>
						<h:outputText value="#{approvalWebHandler.aggregator.registrationDate}">
							<f:convertDateTime pattern="dd-MM-yyyy" />
						</h:outputText>
						
						<h:outputText value="Registration Time" style="font-weight:bold"></h:outputText>
						<h:outputText value=":  " style="font-weight:bold"></h:outputText>
						<h:outputText value="#{approvalWebHandler.aggregator.registrationTime}"></h:outputText>
						
					</h:panelGrid>
					<h:panelGrid columns="3" columnClasses="panelGrid-label-aggregator, panelGrid-separator, panelGrid-value-aggregator">
					
						
						<h:outputText value="Approval Date" style="font-weight:bold"></h:outputText>
						<h:outputText value=":  " style="font-weight:bold"></h:outputText>
						<h:outputText value="#{approvalWebHandler.aggregator.approvalDate!=null ? approvalWebHandler.aggregator.approvalDate : 'Not approved'} "></h:outputText>
					
						<h:outputText value="Approval Time" style="font-weight:bold"></h:outputText>
						<h:outputText value=":  " style="font-weight:bold"></h:outputText>
						<h:outputText value="#{approvalWebHandler.aggregator.approvalTime!=null ? approvalWebHandler.aggregator.approvalTime : 'Not approved'} "></h:outputText>
						
						<h:outputText value="PKS Number" style="font-weight:bold"></h:outputText>
						<h:outputText value=":  " style="font-weight:bold"></h:outputText>
						<h:outputText value="#{approvalWebHandler.aggregator.pksNo}"></h:outputText>
						
						<h:outputText value="PKS Date" style="font-weight:bold"></h:outputText>
						<h:outputText value=":  " style="font-weight:bold"></h:outputText>
						<h:outputText value="#{approvalWebHandler.aggregator.pksDate}">
							<f:convertDateTime pattern="dd-MM-yyyy" />
						</h:outputText>
						
						<h:outputText value="PKS Expired Date" style="font-weight:bold"></h:outputText>
						<h:outputText value=":  " style="font-weight:bold"></h:outputText>
						<h:outputText value="#{approvalWebHandler.aggregator.pksExpiredDate}">
							<f:convertDateTime pattern="dd-MM-yyyy" />
						</h:outputText>
						
						<h:outputText value="Transaction Account Number" style="font-weight:bold"></h:outputText>
						<h:outputText value=":  " style="font-weight:bold"></h:outputText>
						<h:outputText value="#{approvalWebHandler.aggregator.accountNo}"></h:outputText>
						
						<h:outputText value="Minimum Saldo" style="font-weight:bold"></h:outputText>
						<h:outputText value=":  " style="font-weight:bold"></h:outputText>
						<h:outputText value="#{approvalWebHandler.aggregator.minimumBalance}"></h:outputText>
						
						<h:outputText value="Message Type" style="font-weight:bold"></h:outputText>
						<h:outputText value=":  " style="font-weight:bold"></h:outputText>
						<h:outputText value="#{approvalWebHandler.aggregator.messageType}"></h:outputText>
						
						<h:outputText value="Aggregator Status" style="font-weight:bold"></h:outputText>
						<h:outputText value=":  " style="font-weight:bold"></h:outputText>
						<h:outputText converter="model.statusConverter" value="#{approvalWebHandler.aggregator.status}"></h:outputText>
						
						<h:outputText value="Aggregator - CA Status" style="font-weight:bold"></h:outputText>
						<h:outputText value=":  " style="font-weight:bold"></h:outputText>
						<h:outputText converter="model.statusConverter" value="#{approvalWebHandler.aggregator.statusCA}"></h:outputText>
						
						<h:outputText value="IP Address" style="font-weight:bold"></h:outputText>
						<h:outputText value=":  " style="font-weight:bold"></h:outputText>
						<h:outputText value="#{approvalWebHandler.aggregator.ipAddress}"></h:outputText>
						
					</h:panelGrid>
				</h:panelGrid>
			</h:form>
		</p:dialog>
		<p:dialog  header="View Aggregator Edit #{approvalWebHandler.prevAggregator.name}" id="viewAggregatorEdit" widgetVar="viewAggregatorEdit" 
			modal="true" resizable="true">
			<h:form id="viewFormAggregatorEdit" disabled="true">
				<h:panelGrid columns="2" style="vertical-align:top;" columnClasses="aggregator-current,aggregator-pending">	
					<h:panelGrid columns="2" style="vertical-align:top;" columnClasses="Aggregator-detail,Aggregator-role">	
					<f:facet name="header">Current Aggregator's Detail</f:facet>
					<h:panelGrid columns="3" columnClasses="panelGrid-label-aggregator, panelGrid-separator, panelGrid-value-aggregator">
						<h:outputText value="Code" style="font-weight:bold"></h:outputText>
						<h:outputText value=":  " style="font-weight:bold"></h:outputText>
						<h:outputText value="#{approvalWebHandler.prevAggregator.code}"></h:outputText>
						
						<h:outputText value="Name" style="font-weight:bold"></h:outputText>
						<h:outputText value=":  " style="font-weight:bold"></h:outputText>
						<h:outputText value="#{approvalWebHandler.prevAggregator.name}"></h:outputText>
						
						<h:outputText value="Address" style="font-weight:bold"></h:outputText>
						<h:outputText value=":  " style="font-weight:bold"></h:outputText>
						<h:outputText value="#{approvalWebHandler.prevAggregator.address}"></h:outputText>
						
						<h:outputText value="City" style="font-weight:bold"></h:outputText>
						<h:outputText value=":  " style="font-weight:bold"></h:outputText>
						<h:outputText value="#{approvalWebHandler.prevAggregator.city}"></h:outputText>
						
						<h:outputText value="Province" style="font-weight:bold"></h:outputText>
						<h:outputText value=":  " style="font-weight:bold"></h:outputText>
						<h:outputText value="#{approvalWebHandler.prevAggregator.province}"></h:outputText>
						
						<h:outputText value="Phone" style="font-weight:bold"></h:outputText>
						<h:outputText value=":  " style="font-weight:bold"></h:outputText>
						<h:outputText value="#{approvalWebHandler.prevAggregator.phone}"></h:outputText>
						
						<h:outputText value="Fax" style="font-weight:bold"></h:outputText>
						<h:outputText value=":  " style="font-weight:bold"></h:outputText>
						<h:outputText value="#{approvalWebHandler.prevAggregator.fax}"></h:outputText>
						
						<h:outputText value="PIC" style="font-weight:bold"></h:outputText>
						<h:outputText value=":  " style="font-weight:bold"></h:outputText>
						<h:outputText value="#{approvalWebHandler.prevAggregator.pic}"></h:outputText>
						
						<h:outputText value="Email PIC" style="font-weight:bold"></h:outputText>
						<h:outputText value=":  " style="font-weight:bold"></h:outputText>
						<h:outputText value="#{approvalWebHandler.prevAggregator.emailPic}"></h:outputText>
						
						<h:outputText value="Registration Date " style="font-weight:bold"></h:outputText>
						<h:outputText value=":  " style="font-weight:bold"></h:outputText>
						<h:outputText value="#{approvalWebHandler.prevAggregator.registrationDate}">
							<f:convertDateTime pattern="dd-MM-yyyy" />
						</h:outputText>
						
						<h:outputText value="Registration Time" style="font-weight:bold"></h:outputText>
						<h:outputText value=":  " style="font-weight:bold"></h:outputText>
						<h:outputText value="#{approvalWebHandler.prevAggregator.registrationTime}"></h:outputText>
						
					</h:panelGrid>
					<h:panelGrid columns="3" columnClasses="panelGrid-label-aggregator, panelGrid-separator, panelGrid-value-aggregator">
					
						<h:outputText value="Approval Date" style="font-weight:bold"></h:outputText>
						<h:outputText value=":  " style="font-weight:bold"></h:outputText>
						<h:outputText value="#{approvalWebHandler.prevAggregator.approvalDate!=null ? approvalWebHandler.prevAggregator.approvalDate : 'Not approved'} ">
							<f:convertDateTime pattern="dd-MM-yyyy" />
						</h:outputText>
					
						<h:outputText value="Approval Time" style="font-weight:bold"></h:outputText>
						<h:outputText value=":  " style="font-weight:bold"></h:outputText>
						<h:outputText value="#{approvalWebHandler.prevAggregator.approvalTime!=null ? approvalWebHandler.prevAggregator.approvalTime : 'Not approved'} "></h:outputText>
						
						<h:outputText value="PKS Number" style="font-weight:bold"></h:outputText>
						<h:outputText value=":  " style="font-weight:bold"></h:outputText>
						<h:outputText value="#{approvalWebHandler.prevAggregator.pksNo}"></h:outputText>
						
						<h:outputText value="PKS Date" style="font-weight:bold"></h:outputText>
						<h:outputText value=":  " style="font-weight:bold"></h:outputText>
						<h:outputText value="#{approvalWebHandler.prevAggregator.pksDate}">
							<f:convertDateTime pattern="dd-MM-yyyy" />
						</h:outputText>
						
						<h:outputText value="PKS Expired Date" style="font-weight:bold"></h:outputText>
						<h:outputText value=":  " style="font-weight:bold"></h:outputText>
						<h:outputText value="#{approvalWebHandler.prevAggregator.pksExpiredDate}">
							<f:convertDateTime pattern="dd-MM-yyyy" />
						</h:outputText>
						
						<h:outputText value="Transaction Account Number" style="font-weight:bold"></h:outputText>
						<h:outputText value=":  " style="font-weight:bold"></h:outputText>
						<h:outputText value="#{approvalWebHandler.prevAggregator.accountNo}"></h:outputText>
						
						<h:outputText value="Minimum Saldo" style="font-weight:bold"></h:outputText>
						<h:outputText value=":  " style="font-weight:bold"></h:outputText>
						<h:outputText value="#{approvalWebHandler.prevAggregator.minimumBalance}"></h:outputText>
						
						<h:outputText value="Message Type" style="font-weight:bold"></h:outputText>
						<h:outputText value=":  " style="font-weight:bold"></h:outputText>
						<h:outputText value="#{approvalWebHandler.prevAggregator.messageType}"></h:outputText>
						
						<h:outputText value="Aggregator Status" style="font-weight:bold"></h:outputText>
						<h:outputText value=":  " style="font-weight:bold"></h:outputText>
						<h:outputText converter="model.statusConverter" value="#{approvalWebHandler.prevAggregator.status}"></h:outputText>
						
						<h:outputText value="Aggregator - CA Status" style="font-weight:bold"></h:outputText>
						<h:outputText value=":  " style="font-weight:bold"></h:outputText>
						<h:outputText converter="model.statusConverter" value="#{approvalWebHandler.prevAggregator.statusCA}"></h:outputText>
						
						<h:outputText value="IP Address" style="font-weight:bold"></h:outputText>
						<h:outputText value=":  " style="font-weight:bold"></h:outputText>
						<h:outputText value="#{approvalWebHandler.prevAggregator.ipAddress}"></h:outputText>
						
					</h:panelGrid>
				</h:panelGrid>
				<h:panelGrid columns="2" style="vertical-align:top;" columnClasses="Aggregator-detail,Aggregator-role">	
					<f:facet name="header">Pending Aggregator's Detail</f:facet>
					<h:panelGrid columns="3" columnClasses="panelGrid-label-aggregator, panelGrid-separator, panelGrid-value-aggregator">
						
						<h:outputText value="Code" style="font-weight:bold"></h:outputText>
						<h:outputText value=":  " style="font-weight:bold"></h:outputText>
						<h:outputText value="#{approvalWebHandler.aggregator.code}"></h:outputText>
						
						<h:outputText value="Name" style="font-weight:bold"></h:outputText>
						<h:outputText value=":  " style="font-weight:bold"></h:outputText>
						<h:outputText value="#{approvalWebHandler.aggregator.name}"></h:outputText>
						
						<h:outputText value="Address" style="font-weight:bold"></h:outputText>
						<h:outputText value=":  " style="font-weight:bold"></h:outputText>
						<h:outputText value="#{approvalWebHandler.aggregator.address}"></h:outputText>
						
						<h:outputText value="City" style="font-weight:bold"></h:outputText>
						<h:outputText value=":  " style="font-weight:bold"></h:outputText>
						<h:outputText value="#{approvalWebHandler.aggregator.city}"></h:outputText>
						
						<h:outputText value="Province" style="font-weight:bold"></h:outputText>
						<h:outputText value=":  " style="font-weight:bold"></h:outputText>
						<h:outputText value="#{approvalWebHandler.aggregator.province}"></h:outputText>
						
						<h:outputText value="Phone" style="font-weight:bold"></h:outputText>
						<h:outputText value=":  " style="font-weight:bold"></h:outputText>
						<h:outputText value="#{approvalWebHandler.aggregator.phone}"></h:outputText>
						
						<h:outputText value="Fax" style="font-weight:bold"></h:outputText>
						<h:outputText value=":  " style="font-weight:bold"></h:outputText>
						<h:outputText value="#{approvalWebHandler.aggregator.fax}"></h:outputText>
						
						<h:outputText value="PIC" style="font-weight:bold"></h:outputText>
						<h:outputText value=":  " style="font-weight:bold"></h:outputText>
						<h:outputText value="#{approvalWebHandler.aggregator.pic}"></h:outputText>
						
						<h:outputText value="Email PIC" style="font-weight:bold"></h:outputText>
						<h:outputText value=":  " style="font-weight:bold"></h:outputText>
						<h:outputText value="#{approvalWebHandler.aggregator.emailPic}"></h:outputText>
						
						<h:outputText value="Registration Date " style="font-weight:bold"></h:outputText>
						<h:outputText value=":  " style="font-weight:bold"></h:outputText>
						<h:outputText value="#{approvalWebHandler.aggregator.registrationDate}">
							<f:convertDateTime pattern="dd-MM-yyyy" />
						</h:outputText>
						
						<h:outputText value="Registration Time" style="font-weight:bold"></h:outputText>
						<h:outputText value=":  " style="font-weight:bold"></h:outputText>
						<h:outputText value="#{approvalWebHandler.aggregator.registrationTime}"></h:outputText>
						
					</h:panelGrid>
					<h:panelGrid columns="3" columnClasses="panelGrid-label-aggregator, panelGrid-separator, panelGrid-value-aggregator">
					
						
						<h:outputText value="Approval Date" style="font-weight:bold"></h:outputText>
						<h:outputText value=":  " style="font-weight:bold"></h:outputText>
						<h:outputText value="#{approvalWebHandler.aggregator.approvalDate!=null ? approvalWebHandler.aggregator.approvalDate : 'Not approved'} "></h:outputText>
					
						<h:outputText value="Approval Time" style="font-weight:bold"></h:outputText>
						<h:outputText value=":  " style="font-weight:bold"></h:outputText>
						<h:outputText value="#{approvalWebHandler.aggregator.approvalTime!=null ? approvalWebHandler.aggregator.approvalTime : 'Not approved'} "></h:outputText>
						
						<h:outputText value="PKS Number" style="font-weight:bold"></h:outputText>
						<h:outputText value=":  " style="font-weight:bold"></h:outputText>
						<h:outputText value="#{approvalWebHandler.aggregator.pksNo}"></h:outputText>
						
						<h:outputText value="PKS Date" style="font-weight:bold"></h:outputText>
						<h:outputText value=":  " style="font-weight:bold"></h:outputText>
						<h:outputText value="#{approvalWebHandler.aggregator.pksDate}">
							<f:convertDateTime pattern="dd-MM-yyyy" />
						</h:outputText>
						
						<h:outputText value="PKS Expired Date" style="font-weight:bold"></h:outputText>
						<h:outputText value=":  " style="font-weight:bold"></h:outputText>
						<h:outputText value="#{approvalWebHandler.aggregator.pksExpiredDate}">
							<f:convertDateTime pattern="dd-MM-yyyy" />
						</h:outputText>
						
						<h:outputText value="Transaction Account Number" style="font-weight:bold"></h:outputText>
						<h:outputText value=":  " style="font-weight:bold"></h:outputText>
						<h:outputText value="#{approvalWebHandler.aggregator.accountNo}"></h:outputText>
						
						<h:outputText value="Minimum Saldo" style="font-weight:bold"></h:outputText>
						<h:outputText value=":  " style="font-weight:bold"></h:outputText>
						<h:outputText value="#{approvalWebHandler.aggregator.minimumBalance}"></h:outputText>
						
						<h:outputText value="Message Type" style="font-weight:bold"></h:outputText>
						<h:outputText value=":  " style="font-weight:bold"></h:outputText>
						<h:outputText value="#{approvalWebHandler.aggregator.messageType}"></h:outputText>
						
						<h:outputText value="Aggregator Status" style="font-weight:bold"></h:outputText>
						<h:outputText value=":  " style="font-weight:bold"></h:outputText>
						<h:outputText converter="model.statusConverter" value="#{approvalWebHandler.aggregator.status}"></h:outputText>
						
						<h:outputText value="Aggregator - CA Status" style="font-weight:bold"></h:outputText>
						<h:outputText value=":  " style="font-weight:bold"></h:outputText>
						<h:outputText converter="model.statusConverter" value="#{approvalWebHandler.aggregator.statusCA}"></h:outputText>
						
						<h:outputText value="IP Address" style="font-weight:bold"></h:outputText>
						<h:outputText value=":  " style="font-weight:bold"></h:outputText>
						<h:outputText value="#{approvalWebHandler.aggregator.ipAddress}"></h:outputText>
						
					</h:panelGrid>
				</h:panelGrid>
				</h:panelGrid>
			</h:form>
		</p:dialog>
		<p:dialog  header="View Feature" id="viewFeature" widgetVar="viewFeature" modal="true"
			resizable="true">
			<h:form id="viewFormFeature">
				<h:panelGrid columns="3" columnClasses="panelGrid-label-feature, panelGrid-separator, panelGrid-value-feature">
						
					<h:outputText value="Code" style="font-weight:bold"></h:outputText>
					<h:outputText value=":  " style="font-weight:bold"></h:outputText>
					<h:outputText value="#{approvalWebHandler.feature.code}"></h:outputText>
						
					<h:outputText value="Name" style="font-weight:bold"></h:outputText>
					<h:outputText value=":  " style="font-weight:bold"></h:outputText>
					<h:outputText value="#{approvalWebHandler.feature.name}"></h:outputText>
						
					<h:outputText value="Description" style="font-weight:bold"></h:outputText>
					<h:outputText value=":  " style="font-weight:bold"></h:outputText>
					<h:outputText value="#{approvalWebHandler.feature.description}"></h:outputText>
						
					<h:outputText value="CommisionAccountNo" style="font-weight:bold"></h:outputText>
					<h:outputText value=":  " style="font-weight:bold"></h:outputText>
					<h:outputText value="#{approvalWebHandler.feature.commisionAccountNo}"></h:outputText>
						
				</h:panelGrid>
			</h:form>
		</p:dialog>
		<p:dialog  header="View Feature Edit" id="viewFeatureEdit" widgetVar="viewFeatureEdit" 
			modal="true" resizable="true">
			<h:form id="viewFormFeatureEdit" disabled="true">
				<h:panelGrid columns="2" style="vertical-align:top;" columnClasses="parameter-current,parameter-pending">	
					<h:panelGrid columns="3" columnClasses="panelGrid-label-parameter, panelGrid-separator, panelGrid-value-parameter">
						<f:facet name="header">Current Feature's Detail</f:facet>
						
						<h:outputText value="Code" style="font-weight:bold"></h:outputText>
						<h:outputText value=":  " style="font-weight:bold"></h:outputText>
						<h:outputText value="#{approvalWebHandler.prevFeature.code}"></h:outputText>
							
						<h:outputText value="Name" style="font-weight:bold"></h:outputText>
						<h:outputText value=":  " style="font-weight:bold"></h:outputText>
						<h:outputText value="#{approvalWebHandler.prevFeature.name}"></h:outputText>
							
						<h:outputText value="Description" style="font-weight:bold"></h:outputText>
						<h:outputText value=":  " style="font-weight:bold"></h:outputText>
						<h:outputText value="#{approvalWebHandler.prevFeature.description}"></h:outputText>
							
						<h:outputText value="CommisionAccountNo" style="font-weight:bold"></h:outputText>
						<h:outputText value=":  " style="font-weight:bold"></h:outputText>
						<h:outputText value="#{approvalWebHandler.prevFeature.commisionAccountNo}"></h:outputText>
						
					</h:panelGrid>
					<h:panelGrid columns="3" columnClasses="panelGrid-label-parameter,panelGrid-separator, panelGrid-value-parameter">
						<f:facet name="header">Pending Feature's Detail</f:facet>
						
						<h:outputText value="Code" style="font-weight:bold"></h:outputText>
						<h:outputText value=":  " style="font-weight:bold"></h:outputText>
						<h:outputText value="#{approvalWebHandler.feature.code}"></h:outputText>
							
						<h:outputText value="Name" style="font-weight:bold"></h:outputText>
						<h:outputText value=":  " style="font-weight:bold"></h:outputText>
						<h:outputText value="#{approvalWebHandler.feature.name}"></h:outputText>
							
						<h:outputText value="Description" style="font-weight:bold"></h:outputText>
						<h:outputText value=":  " style="font-weight:bold"></h:outputText>
						<h:outputText value="#{approvalWebHandler.feature.description}"></h:outputText>
							
						<h:outputText value="CommisionAccountNo" style="font-weight:bold"></h:outputText>
						<h:outputText value=":  " style="font-weight:bold"></h:outputText>
						<h:outputText value="#{approvalWebHandler.feature.commisionAccountNo}"></h:outputText>
					
					</h:panelGrid>
				</h:panelGrid>
			</h:form>
		</p:dialog>
		<p:dialog  header="View Collecting Agent #{approvalWebHandler.collectingAgent.name}" id="viewCollectingAgent" widgetVar="viewCollectingAgent" modal="true"
			resizable="true">
			<h:form id="viewFormCollectingAgent">
				<p:panelGrid columns="2" columnClasses="panelGrid-label-collectingAgent, panelGrid-value-collectingAgent">
						
					<h:outputText value="Code" style="font-weight:bold"></h:outputText>
					<h:outputText value="#{approvalWebHandler.collectingAgent.code}"></h:outputText>
						
					<h:outputText value="Name" style="font-weight:bold"></h:outputText>
					<h:outputText value="#{approvalWebHandler.collectingAgent.name}"></h:outputText>
						
					<h:outputText value="Max Agent" style="font-weight:bold"></h:outputText>
					<h:outputText value="#{approvalWebHandler.collectingAgent.maxAgent}"></h:outputText>
						
					<h:outputText value="Max Amount" style="font-weight:bold"></h:outputText>
					<h:outputText value="#{approvalWebHandler.collectingAgent.maxAmount}"></h:outputText>
						
				</p:panelGrid>
			</h:form>
		</p:dialog>
		<p:dialog  header="View Collecting Agent Edit #{approvalWebHandler.collectingAgent.name}" id="viewCollectingAgentEdit" widgetVar="viewCollectingAgentEdit" 
			modal="true" resizable="true">
			<h:form id="viewFormCollectingAgentEdit" disabled="true">
				<h:panelGrid columns="2" style="vertical-align:top;" columnClasses="parameter-current,parameter-pending">	
					<p:panelGrid columns="2" columnClasses="panelGrid-label-parameter, panelGrid-value-parameter">
						<f:facet name="header">Current Collecting Agent's Detail</f:facet>
						
						<h:outputText value="Code"></h:outputText>
						<h:outputText value="#{approvalWebHandler.prevCollectingAgent.code}"></h:outputText>
						
						<h:outputText value="Name"></h:outputText>
						<h:outputText value="#{approvalWebHandler.prevCollectingAgent.name}"></h:outputText>
						
						<h:outputText value="Max Agent"></h:outputText>
						<h:outputText value="#{approvalWebHandler.prevCollectingAgent.maxAgent}"></h:outputText>
						
						<h:outputText value="Max Amount"></h:outputText>
						<h:outputText value="#{approvalWebHandler.prevCollectingAgent.maxAmount}"></h:outputText>
						
					</p:panelGrid>
					<p:panelGrid columns="2" columnClasses="panelGrid-label-parameter, panelGrid-value-parameter">
						<f:facet name="header">Pending Collecting Agent's Detail</f:facet>
						
						<h:outputText value="Code"></h:outputText>
						<h:outputText value="#{approvalWebHandler.collectingAgent.code}"></h:outputText>
						
						<h:outputText value="Name"></h:outputText>
						<h:outputText value="#{approvalWebHandler.collectingAgent.name}"></h:outputText>
						
						<h:outputText value="Max Agent"></h:outputText>
						<h:outputText value="#{approvalWebHandler.collectingAgent.maxAgent}"></h:outputText>
						
						<h:outputText value="Max Amount"></h:outputText>
						<h:outputText value="#{approvalWebHandler.collectingAgent.maxAmount}"></h:outputText>
					
					</p:panelGrid>
				</h:panelGrid>
			</h:form>
		</p:dialog>
		<p:dialog widgetVar="dlgConfirmApproveAll" id="confirmDlgApproveAll" header="Approve All" modal="true" resizable="false">
			<h:form id="approveAllForm">
				<h:panelGrid>
					<h:outputText styleClass="ui-confirm-dialog" value="Do you want to approve all ?" />
					<h:panelGroup>
						<p:commandButton value="Yes" action="#{approvalWebHandler.approveAll()}"
						onclick="PF('loadingDlg').show()"  oncomplete="PF('loadingDlg').hide();PF('dlgConfirmApproveAll').hide()"  update=":approvalForm" />
						<p:commandButton value="No" onclick="PF('dlgConfirm').hide()" />	
					</h:panelGroup>
				</h:panelGrid>
			</h:form>			
		</p:dialog>
		<p:dialog widgetVar="dlgConfirmRejectAll" id="confirmDlgRejectAll" header="Reject All" modal="true" resizable="false">
			<h:form id="rejectAllForm">
				<h:panelGrid>
					<h:outputText styleClass="ui-confirm-dialog" value="Do you want to reject all ?" />
					<h:panelGroup>
						<p:commandButton value="Yes" action="#{approvalWebHandler.rejectAll()}" 
						onclick="PF('loadingDlg').show()"   oncomplete="PF('loadingDlg').hide();PF('dlgConfirmRejectAll').hide()" update=":approvalForm" />
						<p:commandButton value="No" onclick="PF('dlgConfirm').hide()" />	
					</h:panelGroup>
					<h:outputText styleClass="ui-confirm-dialog" value="Reason :" /><p:message for="reason" styleClass="validation-message" />
					<p:inputTextarea id="reason" rows="5" cols="30" counter="display" maxlength="100" 
					counterTemplate="{0} characters remaining." autoResize="false" required="true"
					value = "#{approvalWebHandler.reason}"/>
    				<h:outputText styleClass="ui-confirm-dialog"  id="display" />
				</h:panelGrid>
			</h:form>			
		</p:dialog>
		
		<p:dialog widgetVar="dlgConfirmRejectChecked" id="confirmDlgRejectChecked" header="Reject Checked" modal="true" resizable="false">
			<h:form id="rejectCheckedForm">
				<h:panelGrid>
					<h:outputText styleClass="ui-confirm-dialog" value="Do you want to reject ?" />
					<h:panelGroup>
						<p:commandButton value="Yes" action="#{approvalWebHandler.rejectChecked()}" 
						onclick="PF('loadingDlg').show()"   oncomplete="PF('loadingDlg').hide();PF('dlgConfirmRejectChecked').hide()" update=":approvalForm :rejectCheckedForm" />
						<p:commandButton value="No" onclick="PF('dlgConfirm').hide()" update=":rejectCheckedForm" />	
					</h:panelGroup>
					<h:outputText styleClass="ui-confirm-dialog" value="Reason :" /><p:message for="reason" styleClass="validation-message" />
					<p:inputTextarea id="reason" rows="5" cols="30" counter="display" maxlength="100" 
					counterTemplate="{0} characters remaining." autoResize="false" required="true"
					value = "#{approvalWebHandler.reason}"/>
    				<h:outputText styleClass="ui-confirm-dialog"  id="display" />
				</h:panelGrid>
			</h:form>			
		</p:dialog>
	</ui:define>
	
	<ui:define name="content">
	
		<h:form id="searchForm" >
		
			<p:commandLink value="(x) close" icon="ui-icon-search" rendered="#{approvalWebHandler.doShowSearch}">
					 <p:ajax event="click"
					listener="#{approvalWebHandler.hideSearch}" update=":searchForm">
				</p:ajax>
			</p:commandLink>
			<p:commandLink value="(+) search" icon="ui-icon-search" rendered="#{!approvalWebHandler.doShowSearch}">
				 <p:ajax event="click"
					listener="#{approvalWebHandler.showSearch}" update=":searchForm ">
				</p:ajax>
			</p:commandLink>
			
				<p:panelGrid rendered="#{approvalWebHandler.doShowSearch}">
				   <f:facet name="header">  
        			 <p:row>  
        			 <p:column style="width:125px; border:none;">
							<p:commandButton value="Search" icon="ui-icon-search"
						actionListener="#{approvalWebHandler.doSearch}" update=":approvalForm" onclick="PF('loadingDlg').show()" oncomplete="PF('loadingDlg').hide()"/>
					</p:column>
           			<p:column style="width:125px; border:none;">Search Category</p:column>  
         			 </p:row>  
				   </f:facet>	
				    <p:row>
						<p:column ><h:outputLabel value="Parameter Id" /></p:column>
						<p:column >
							<p:inputText 
							id="parameterCode" autocomplete="off"
							label="parameterCode" value="#{approvalWebHandler.parameterCode}">
							</p:inputText>
						</p:column>
					</p:row>
					<p:row>
						<p:column ><h:outputLabel value="Parameter Name" /></p:column>
						<p:column >
							<p:inputText 
							id="parameterName" autocomplete="off"
							label="parameterName" value="#{approvalWebHandler.parameterName}">
							</p:inputText>
						</p:column>
					</p:row>
			        <p:row>
						<p:column ><h:outputLabel value="Parameter" /></p:column>
						<p:column >
							<p:selectBooleanCheckbox rendered="#{approvalWebHandler.isAuthorize('User')}" value="#{approvalWebHandler.searchParameterUser}" label="User" itemLabel="User"/><br/>
						 	<p:selectBooleanCheckbox rendered="#{approvalWebHandler.isAuthorize('Role')}" value="#{approvalWebHandler.searchParameterRole}" label="Role" itemLabel="Role"/><br/>
						 	<p:selectBooleanCheckbox rendered="#{approvalWebHandler.isAuthorize('Branch')}" value="#{approvalWebHandler.searchParameterBranch}" label="Branch" itemLabel="Branch"/><br/>
						 	<p:selectBooleanCheckbox rendered="#{approvalWebHandler.isAuthorize('Holiday')}" value="#{approvalWebHandler.searchParameterHoliday}" label="Holiday" itemLabel="Holiday"/><br/>
						 	<p:selectBooleanCheckbox rendered="#{approvalWebHandler.isAuthorize('Scheduler')}" value="#{approvalWebHandler.searchParameterScheduler}" label="Scheduler" itemLabel="Scheduler"/><br/>
						 	<p:selectBooleanCheckbox rendered="#{approvalWebHandler.isAuthorize('SystemParamter')}" value="#{approvalWebHandler.searchParameterSystemParameter}" label="System Parameter" itemLabel="System Parameter"/>  
						 	<p:selectBooleanCheckbox rendered="#{approvalWebHandler.isAuthorize('Aggregator')}" value="#{approvalWebHandler.searchParameterAggregator}" label="Aggregator" itemLabel="Aggregator"/>  
						 	<p:selectBooleanCheckbox rendered="#{approvalWebHandler.isAuthorize('Feature')}" value="#{approvalWebHandler.searchParameterFeature}" label="Feature" itemLabel="Feature"/>  
						</p:column>
					</p:row>
					 <p:row>
						<p:column style="width:125px; border:none;" ><h:outputLabel value="Action" /></p:column>
					   	<p:column>
							<p:selectBooleanCheckbox value="#{approvalWebHandler.searchActionCreate}" label="Create" itemLabel="Create"/><br/>
						 	<p:selectBooleanCheckbox value="#{approvalWebHandler.searchActionEdit}" label="Edit" itemLabel="Edit"/><br/>
						 	<p:selectBooleanCheckbox value="#{approvalWebHandler.searchActionDelete}" label="Delete" itemLabel="Delete"/>  
					 	</p:column>
					</p:row>
				</p:panelGrid>
		</h:form>
		<h:form id="approvalForm">
			<p:dataTable var="approval" value="#{approvalWebHandler.approvalList}" 
				lazy="true" style="width: 1035px;"
				paginator="true" rows="10"
				paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
				rowsPerPageTemplate="#{commonConfig.rowsPerPageTemplate}"
				id="approvalTable" >
				
				<f:facet name="header">
					<table>
						<tr>
							<td style="border:none; padding:0px; text-align:center;">
								<p:outputLabel value="Approval Data" />
							</td>
						</tr>
					</table>
				</f:facet>
				
				<p:column headerText="Parameter Id"  style="width: 190px;">
					<h:outputText value="#{approval.parameterCode}"></h:outputText>
				</p:column>
				<p:column headerText="Parameter Name"  >
					<h:outputText value="#{approval.parameterName}"></h:outputText>
				</p:column>
				<p:column headerText="Parameter"  >
					<h:outputText value="#{approval.parameter}"></h:outputText>
				</p:column>
				<p:column headerText="Action" style="width: 100px;">
					<h:outputText value="#{approval.action}"></h:outputText>
				</p:column>
				<p:column headerText="Checked" style="text-align:center;width: 20px;" >
    				<h:inputHidden value="#{approval.selected}" />
					<p:selectBooleanCheckbox value="#{approval.selected}" >
					<f:ajax event="valueChange" listener="#{approvalWebHandler.processChecked(approval)}"/>
					</p:selectBooleanCheckbox> 
				</p:column>
				<p:column headerText="Details" style="text-align:center;width: 30px;">
					<p:commandLink style="color:black; font-weight:bold ; text-decoration:underline" value="view" icon="ui-icon-person" 
					actionListener="#{approvalWebHandler.viewDetail(approval)}" 
					update=":viewFormUser :viewFormEditUser :viewFormRole :viewFormEditRole 
					:viewFormScheduler :viewFormSchedulerEdit :viewFormParameter :viewFormParameterEdit 
					:viewBranch :viewBranchEdit :viewHoliday :viewHolidayEdit :viewAggregator :viewAggregatorEdit 
					:viewFeature :viewFeatureEdit :viewCollectingAgent :viewCollectingAgentEdit"/>
				</p:column>
			</p:dataTable>
		</h:form><br />
		<h:form id="form1">
			<p:commandButton value="Approve Checked" actionListener="#{approvalWebHandler.approveChecked()}" update=":formGrowl :approvalForm"/>
			<p:commandButton value="Approve All" actionListener="#{approvalWebHandler.viewApproveAllConfirmation()}" update=":formGrowl :approvalForm" />
			<p:commandButton value="Reject Checked" actionListener="#{approvalWebHandler.viewRejectConfirmation()}" update=":formGrowl :approvalForm" />
			<p:commandButton value="Reject All" actionListener="#{approvalWebHandler.viewRejectAllConfirmation()}" update=":formGrowl :approvalForm"/>
		</h:form>
		
	</ui:define>
</ui:composition>