<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	template="/resources/components/layout.xhtml">
	<ui:define name="dialog">
		<p:dialog header="View Data" id="viewData" widgetVar="viewData" draggable="true"
			modal="true" resizable="false" style="max-height: 510px;" width="60%">
			<p:scrollPanel mode="native" style="max-height: 400px;">
				<h:form id="viewDataForm" style="width: auto;">
					<p:treeTable value="#{activityLogHandler.diffTreeTable}"
						var="diffItem">
						<f:facet name="header">
			            Data Modification
			        </f:facet>
						<p:column headerText="Property Name" style="width: 30%;">
							<h:outputText value="#{diffItem.propertyName}" />
						</p:column>
						<p:column headerText="Base Value" style="width: 40%;">
							<h:outputText value="#{diffItem.baseValue}" />
						</p:column>
						<p:column headerText="Working Value" style="width: 40%;">
							<h:outputText value="#{diffItem.workingValue}" />
						</p:column>
					</p:treeTable>
				</h:form>
			</p:scrollPanel>
		</p:dialog>
	</ui:define>
	<ui:define name="content">
		<h:form id="searchForm">
			<h:panelGrid columns="2">
				<p:column>
					<h:outputLabel value="Activity Name" style="font-weight:bold" />
				</p:column>
				<p:column>
					<p:inputText id="description" autocomplete="off"
						label="description"
						value="#{activityLogHandler.activityLogSearch.activity.description}">
					</p:inputText>
				</p:column>
				<p:column style="width:125px; border:none;">
					<h:outputLabel value="Date" style="font-weight:bold" />
				</p:column>
				<p:column>
					<p:calendar id="startDate" value="#{activityLogHandler.startDate}"
						pattern="dd-MM-yyyy" navigator="true" showOn="button"
						required="true">
					</p:calendar>
					<h:outputText value=" s/d " />
					<p:calendar id="endDate" value="#{activityLogHandler.endDate}"
						pattern="dd-MM-yyyy" navigator="true" showOn="button"
						required="true">
					</p:calendar>

				</p:column>
				<p:column style="width:125px; border:none;">
					<h:outputLabel value="Status" style="font-weight:bold" />
				</p:column>
				<p:column>
					<p:selectBooleanCheckbox style="width:80px;"
						value="#{activityLogHandler.failed}" label="Failed"
						itemLabel="Failed" />
					<p:selectBooleanCheckbox style="width:80px;"
						value="#{activityLogHandler.success}" label="Success"
						itemLabel="Success" />
				</p:column>

				<p:commandButton value="Search" icon="ui-icon-search"
					actionListener="#{activityLogHandler.doSearch}"
					update=":activityLogForm" onclick="PF('loadingDlg').show()"
					oncomplete="PF('loadingDlg').hide()" />

			</h:panelGrid>
		</h:form>
		<br />
		<h:form id="activityLogForm">
			<p:dataTable var="activityLog"
				value="#{activityLogHandler.activityLogList}" lazy="true"
				paginator="true" rows="10"
				paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
				rowsPerPageTemplate="#{commonConfig.rowsPerPageTemplate}"
				id="activityLogTable">

				<f:facet name="header">
					<table>
						<tr>
							<td
								style="width: 600px; border: none; padding: 0px; text-align: left;">

							</td>
							<td style="border: none; padding: 0px; text-align: left;"><p:outputLabel
									value="Activity Log Data" /></td>


						</tr>
						<h:commandLink>
							<p:graphicImage value="/resources/images/csv.png" width="24" />
							<p:dataExporter type="csv" target="activityLogTable"
								fileName="ActivityLog" />
						</h:commandLink>
					</table>
				</f:facet>
				<p:column headerText="Date" style="width: 150px;">
					<h:outputText value="#{activityLog.createDate}">
						<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss" />
					</h:outputText>
				</p:column>
				<p:column headerText="Activity Name">
					<h:outputText value="#{activityLog.activity.description}"></h:outputText>
				</p:column>
				<p:column headerText="Status" style="width: 80px;">
					<h:outputText
						value="#{(activityLog.status==0) ? 'Failed':'Success'}"></h:outputText>
				</p:column>
				<p:column headerText="Action" style="width: 60px;">
					<p:outputLabel style="visibility:hidden" value="mii" />
					<p:commandLink
						style="color:black; font-weight:bold ; text-decoration:underline"
						value="Data" icon="ui-icon-person"
						actionListener="#{activityLogHandler.viewData(activityLog)}"
						update=":viewData :activityLogForm" />
					<p:outputLabel style="visibility:hidden" value="mi" />
				</p:column>
			</p:dataTable>
		</h:form>
	</ui:define>
</ui:composition>