<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	template="/resources/components/layout.xhtml">
	
	<ui:define name="content">
		<h:form id="searchForm">
				<h:panelGrid columns="4">
						<p:column ><h:outputLabel value="Terminal ID" style="font-weight:bold"/></p:column>
						<p:column >
							<p:inputText 
							id="terminalId" autocomplete="off"
							label="terminalId" value="#{transactionLogHandler.transactionLogSearch.terminalId}">
							</p:inputText>
						</p:column>
						<p:column ><h:outputLabel value="Transaction Name" style="font-weight:bold" /></p:column>
						<p:column >
							<p:inputText 
							id="name" autocomplete="off"
							label="name" value="#{transactionLogHandler.transactionLogSearch.name}">
							</p:inputText>
						</p:column>
						<p:column ><h:outputLabel value="Feature Code" style="font-weight:bold"/></p:column>
						<p:column >
							<p:inputText 
							id="featureCode" autocomplete="off"
							label="featureCode" value="#{transactionLogHandler.transactionLogSearch.featureCode}">
							</p:inputText>
						</p:column>
						<p:column ><h:outputLabel value="Collecting Agent Code" style="font-weight:bold"/></p:column>
						<p:column >
							<p:inputText 
							id="caCode" autocomplete="off"
							label="caCode" value="#{transactionLogHandler.transactionLogSearch.caCode}">
							</p:inputText>
						</p:column>
						<p:column ><h:outputLabel value="Aggregator Code" style="font-weight:bold"/></p:column>
						<p:column >
							<p:inputText 
							id="aggregatorCode" autocomplete="off"
							label="aggregatorCode" value="#{transactionLogHandler.transactionLogSearch.aggregatorCode}">
							</p:inputText>
						</p:column>
						<p:column ><h:outputLabel value="Commision Agent" style="font-weight:bold"/></p:column>
						<p:column >
							<p:inputText 
							id="commisionAgent" autocomplete="off"
							label="commisionAgent" value="#{transactionLogHandler.transactionLogSearch.commisionAgent}">
							</p:inputText>
						</p:column>
						<p:column ><h:outputLabel value="Commision Bjb" style="font-weight:bold"/></p:column>
						<p:column >
							<p:inputText 
							id="commisionBjb" autocomplete="off"
							label="commisionBjb" value="#{transactionLogHandler.transactionLogSearch.commisionBjb}">
							</p:inputText>
						</p:column>
						<p:column ><h:outputLabel value="Total Amount" style="font-weight:bold" /></p:column>
						<p:column >
							<p:inputText 
							id="amount" autocomplete="off"
							label="amount" value="#{transactionLogHandler.transactionLogSearch.amount}">
							</p:inputText>
						</p:column>
						<p:column ><h:outputLabel value="Billing ID" style="font-weight:bold" /></p:column>
						<p:column >
							<p:inputText 
							id="billingId" autocomplete="off"
							label="billingId" value="#{transactionLogHandler.transactionLogSearch.billingId}">
							</p:inputText>
						</p:column>
						<p:column ><h:outputLabel value="Date" style="font-weight:bold"/></p:column>
						<p:column >
							<p:calendar id="startDate" value="#{transactionLogHandler.startDate}" pattern="dd-MM-yyyy"
									navigator="true" showOn="button" required="true">
							</p:calendar>
							<h:outputText value=" s/d "/>
							<p:calendar id="endDate" value="#{transactionLogHandler.endDate}" pattern="dd-MM-yyyy"
							navigator="true" showOn="button" required="true">
							</p:calendar>
						</p:column>
							<p:commandButton value="Search" icon="ui-icon-search"
						actionListener="#{transactionLogHandler.doSearch}" update=":transactionLogForm" onclick="PF('loadingDlg').show()" oncomplete="PF('loadingDlg').hide()"/>
				</h:panelGrid>
		</h:form>
		<br/>
		<h:form id="transactionLogForm">
			<p:dataTable var="transactionLog" value="#{transactionLogHandler.transactionLogList}" 
				lazy="true" style="width: 1335px;"
				paginator="true" rows="10"
				paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
				rowsPerPageTemplate="#{commonConfig.rowsPerPageTemplate}"
				id="transactionLogTable">
				
				<f:facet name="header">
					<table>
						<tr>
							<td style="width:600px; border:none; padding:0px; text-align:left;">
								
							</td>
							<td style="border:none; padding:0px; text-align:left;">
								<p:outputLabel value="Transaction Log Data" />
							</td>
							
							
						</tr>
						<h:commandLink>
							<p:graphicImage value="/resources/images/csv.png" width="24" />
							<p:dataExporter type="csv" target="transactionLogTable"
								fileName="TransactionLog" />
						</h:commandLink>
					</table>
				</f:facet>
				<p:column headerText="Date" >
					<h:outputText value="#{transactionLog.createDate}">
						 <f:convertDateTime pattern="dd-MM-yyyy" />
					</h:outputText>
				</p:column>
				<p:column headerText="Time" >
					<h:outputText value="#{transactionLog.createTime}"></h:outputText>
				</p:column>
				<p:column headerText="Terminal Id" >
					<h:outputText value="#{transactionLog.terminalId}"></h:outputText>
				</p:column>
				<p:column headerText="Transaction Name" style="width: 300px;">
					<h:outputText value="#{transactionLog.name}"></h:outputText>
				</p:column>
				<p:column headerText="Feature" >
					<h:outputText value="#{transactionLog.featureCode}"></h:outputText>
				</p:column>
				<p:column headerText="Collecting Agent" >
					<h:outputText value="#{transactionLog.caCode}"></h:outputText>
				</p:column>
				<p:column headerText="Aggregator" >
					<h:outputText value="#{transactionLog.aggregatorCode}"></h:outputText>
				</p:column>
				<p:column headerText="Commision Agent" >
					<h:outputText value="#{transactionLog.commisionAgent}"></h:outputText>
				</p:column>
				<p:column headerText="Commision Bjb" >
					<h:outputText value="#{transactionLog.commisionBjb}"></h:outputText>
				</p:column>
				<p:column headerText="Amount" >
					<h:outputText value="#{transactionLog.amount}"></h:outputText>
				</p:column>
				<p:column headerText="Billing ID" >
					<h:outputText value="#{transactionLog.billingId}"></h:outputText>
				</p:column>
				<p:column headerText="Response Code" >
					<h:outputText value="#{transactionLog.responseCode}"></h:outputText>
				</p:column>
			</p:dataTable>
		</h:form>
		
	</ui:define>
</ui:composition>