<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	template="/resources/components/layout.xhtml">
	
	<ui:define name="content">
		<h:form id="searchForm">
				<h:panelGrid  columns="4" >
						<p:column ><h:outputLabel value="Aggregator Code" style="font-weight:bold" /></p:column>
						<p:column >
							<p:inputText 
							id="aggregatorCode" autocomplete="off"
							label="aggregatorCode" value="#{messageLogHandler.messageLogSearch.aggregatorCode}">
							</p:inputText>
						</p:column>
						<p:column ><h:outputLabel value="Collecting Agent Code" style="font-weight:bold" /></p:column>
						<p:column >
							<p:inputText 
							id="caCode" autocomplete="off"
							label="caCode" value="#{messageLogHandler.messageLogSearch.caCode}">
							</p:inputText>
						</p:column>
						<p:column ><h:outputLabel value="Feature Code" style="font-weight:bold"/></p:column>
						<p:column >
							<p:inputText 
							id="featureCode" autocomplete="off"
							label="featureCode" value="#{messageLogHandler.messageLogSearch.featureCode}">
							</p:inputText>
						</p:column>
						<p:column ><h:outputLabel value="Response Code" style="font-weight:bold"/></p:column>
						<p:column >
							<p:inputText 
							id="responseCode" autocomplete="off"
							label="responseCode" value="#{messageLogHandler.messageLogSearch.responseCode}">
							</p:inputText>
						</p:column>
						<p:column ><h:outputLabel value="MTI" style="font-weight:bold"/></p:column>
						<p:column >
							<p:inputText 
							id="mti" autocomplete="off"
							label="mti" value="#{messageLogHandler.messageLogSearch.mti}">
							</p:inputText>
						</p:column>
						<p:column ><h:outputLabel value="Billing Id" style="font-weight:bold"/></p:column>
						<p:column >
							<p:inputText 
							id="billingId" autocomplete="off"
							label="billingId" value="#{messageLogHandler.messageLogSearch.billingId}">
							</p:inputText>
						</p:column>
						<p:column ><h:outputLabel value="STAN" style="font-weight:bold"/></p:column>
						<p:column >
							<p:inputText 
							id="stan" autocomplete="off"
							label="stan" value="#{messageLogHandler.messageLogSearch.stan}">
							</p:inputText>
						</p:column>
						<p:column ><h:outputLabel value="Raw Request" style="font-weight:bold"/></p:column>
						<p:column >
							<p:inputText 
							id="rawRequest" autocomplete="off"
							label="rawRequest" value="#{messageLogHandler.messageLogSearch.rawRequest}">
							</p:inputText>
						</p:column>
						<p:column ><h:outputLabel value="Raw Response" style="font-weight:bold"/></p:column>
						<p:column >
							<p:inputText 
							id="rawResponse" autocomplete="off"
							label="rawResponse" value="#{messageLogHandler.messageLogSearch.rawResponse}">
							</p:inputText>
						</p:column>
						<p:column ><h:outputLabel value="Date" style="font-weight:bold"/></p:column>
						<p:column >
							<p:calendar id="startDate" value="#{messageLogHandler.startDate}" pattern="dd-MM-yyyy"
									navigator="true" showOn="button" required="true">
							</p:calendar>
							<h:outputText value=" s/d "/>
								<p:calendar id="endDate" value="#{messageLogHandler.endDate}" pattern="dd-MM-yyyy"
							navigator="true" showOn="button" required="true">
							</p:calendar>
						</p:column>
						<p:commandButton value="Search" icon="ui-icon-search"
						actionListener="#{messageLogHandler.doSearch}" update=":messageLogForm" onclick="PF('loadingDlg').show()" oncomplete="PF('loadingDlg').hide()"/>
					
				</h:panelGrid>
		</h:form>
		<br/>
		<h:form id="messageLogForm">
			<p:dataTable var="messageLog" value="#{messageLogHandler.messageLogList}" 
				lazy="true" style="width: 1335px;"
				paginator="true" rows="10"
				paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
				rowsPerPageTemplate="#{commonConfig.rowsPerPageTemplate}"
				id="messageLogTable">
				
				<f:facet name="header">
					<table>
						<tr>
							<td style="width:600px; border:none; padding:0px; text-align:left;">
								
							</td>
							<td style="border:none; padding:0px; text-align:left;">
								<p:outputLabel value="Transaction Log Data" />
							</td>
							
							
						</tr>
						<h:commandLink>
							<p:graphicImage value="/resources/images/csv.png" width="24" />
							<p:dataExporter type="csv" target="messageLogTable"
								fileName="MessageLog" />
						</h:commandLink>
					</table>
				</f:facet>
				<p:column headerText="Date" width="7%" style="word-wrap: break-word;">
					<h:outputText value="#{messageLog.createDate}">
						 <f:convertDateTime pattern="dd-MM-yyyy" />
					</h:outputText>
				</p:column>
				<p:column headerText="Time" width="6%" style="word-wrap: break-word;">
					<h:outputText value="#{messageLog.createTime}"></h:outputText>
				</p:column>
				<p:column headerText="Aggregator" width="4%" style="word-wrap: break-word;">
					<h:outputText value="#{messageLog.aggregatorCode}"></h:outputText>
				</p:column>
				<p:column headerText="Col. Agent" width="4%" style="word-wrap: break-word;">
					<h:outputText value="#{messageLog.caCode}"></h:outputText>
				</p:column>
				<p:column headerText="Feature" width="4%" style="word-wrap: break-word;">
					<h:outputText value="#{messageLog.featureCode}"></h:outputText>
				</p:column>
				<p:column headerText="RC" width="3%" style="word-wrap: break-word;">
					<h:outputText value="#{messageLog.responseCode}"></h:outputText>
				</p:column>
				<p:column headerText="MTI" width="1%" style="word-wrap: break-word;">
					<h:outputText value="#{messageLog.mti}"></h:outputText>
				</p:column>
				<p:column headerText="Billing ID" width="15%" style="word-wrap: break-word;">
					<h:outputText value="#{messageLog.billingId}"></h:outputText>
				</p:column>
				<p:column headerText="STAN" width="5%" style="word-wrap: break-word;">
					<h:outputText value="#{messageLog.stan}"></h:outputText>
				</p:column>
				<p:column headerText="Raw Request" width="26%" style="word-wrap: break-word;">
					<h:outputText value="#{messageLogHandler.pretify(messageLog.rawRequest)}"></h:outputText>
				</p:column>
				<p:column headerText="Raw Response" width="26%" style="word-wrap: break-word;">
					<h:outputText value="#{messageLogHandler.pretify(messageLog.rawResponse)}"></h:outputText>
				</p:column>
			</p:dataTable>
		</h:form>
		
	</ui:define>
</ui:composition>