<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	template="/resources/components/layout.xhtml">
	<ui:define name="dialog">		
	</ui:define>

	<ui:define name="content">
		<p:layout>
			<p:layoutUnit position="north" style="border: none;">
			    <p:fieldset legend="Message of Today" style="margin-bottom:20px">
					<h:outputText escape="false" value="#{welcomeHandler.messageOfToday}" style="color:#01428D;" />
				</p:fieldset>
			</p:layoutUnit>
			<p:layoutUnit position="west" style="border: none;" minSize="400">
   				<p:chart type="bar" model="#{welcomeHandler.topFeeBasedIncome}" style="height:250px;width:300px;"/>
			</p:layoutUnit>
			<p:layoutUnit position="center" style="border: none;">
				<p:chart type="bar" model="#{welcomeHandler.topBestSeller}" style="height:250px;width:300px;"/>
	        </p:layoutUnit>
		</p:layout>
	</ui:define>
</ui:composition>