body.cube{background-image: url("../img/backgrounds/body_cube.jpg");}
body.hline{background-image: url("../img/backgrounds/body_hLine.jpg");}
body.vline{background-image: url("../img/backgrounds/body_vLine.jpg");}
body.dots{background-image: url("../img/backgrounds/body_dots.jpg");}
body.crosshatch{background-image: url("../img/backgrounds/body_crosshatch.jpg");}
body.bcrosshatch{background-image: url("../img/backgrounds/body_bcrosshatch.jpg");}
body.grid{background-image: url("../img/backgrounds/body_grid.jpg");}

.content{position: relative; margin-left: 220px; padding-top: 40px;}
.content.wide{margin-left: 20px}


.menu.hide{margin-left: -199px}
.menu.hide .wrapper{display: none}
.header .welcome{
font-size: 12px; color: #ddd; line-height: 36px; padding: 8px 0px; margin: 0px; margin-right: 0px; display: block; float: right;
}
.header .welcome .user {padding-right: 10px}
.header .welcome .user a{color: #fff !important;
                -moz-text-shadow: 0 1px 0 #333; -webkit-text-shadow: 0 1px 0 #333; text-shadow: 0 1px 0 #333;

}
/* skepia */
    .menu.preview{position: inherit !important; margin-top:0 !important;}
    .navigation.nested.preview ul{display: block}
    .navigation li > a span.text.icon {width: 153px; border-right: 1px solid #6e665a}

    .wrapper.skepia a,.wrapper.skepia .users .item .info a,.wrapper.skepia .ui-accordion .ui-accordion-header,.wrapper.skepia .fc-state-default,
    .wrapper.skepia .messaging .itemOut .text .info .name, .wrapper.skepia .messaging .itemIn .text .info .name{color: #7c6a55;}

    .wrapper.skepia .header{background: #7c6a55 url("../img/styles/skepia/backgrounds/header.png");height: 56px}
    .wrapper.skepia .menu .navigation > li{background-image: url("../img/styles/skepia/backgrounds/menu-item.png"); border-color: #f89524; border-top-color: #faa63c; border-bottom: 1px solid #dd7216;}
        .wrapper.skepia .menu .navigation > li:hover{background-image: url("../img/styles/skepia/backgrounds/menu-item-hover.png");border-color: #65533f; border-top-color: #a08363; border-bottom: 1px solid #65533f;}
        .wrapper.skepia .menu .navigation > li.active{background-image: url("../img/styles/skepia/backgrounds/menu-item-active.png");border-color: #65533f; border-top-color: #514232; border-bottom: 1px solid #65533f;}
        .wrapper.skepia .menu .navigation > li.openable{background-image: url("../img/styles/skepia/menu_arrow_down.png"), url("../img/styles/skepia/backgrounds/menu-item.png");}
        .wrapper.skepia .menu .navigation > li.openable:hover{background-image: url("../img/styles/skepia/menu_arrow_down.png"), url("../img/styles/skepia/backgrounds/menu-item-hover.png");}
            .wrapper.skepia .menu .navigation > li.openable.active{background-image: url("../img/styles/skepia/menu_arrow_up.png"), url("../img/styles/skepia/backgrounds/menu-item-active.png")}
                .wrapper.skepia .menu .navigation > li > a{color: #FFF;}

/*navigation alternative*/
    .wrapper.skepia .menu .navigation.invert > li{background-image: url("../img/styles/skepia/backgrounds/menu-item-hover.png"); border-color: #6b5945; border-top-color: #8d745a; border-bottom: 1px solid #6b5945;}
        .wrapper.skepia .menu .navigation.invert > li:hover{background-image: url("../img/styles/skepia/backgrounds/menu-item-active.png");border-color: #65533f; border-top-color: #514232; border-bottom: 1px solid #65533f;}
        .wrapper.skepia .menu .navigation.invert > li.active{background-image: url("../img/styles/skepia/backgrounds/menu-item.png");border-color: #f89524; border-top-color: #f89524; border-bottom: 1px solid #f89524;}
        .wrapper.skepia .menu .navigation.invert > li.openable{background-image: url("../img/styles/skepia/menu_arrow_down_brown.png"), url("../img/styles/skepia/backgrounds/menu-item-hover.png");}
        .wrapper.skepia .menu .navigation.invert > li.openable:hover{background-image: url("../img/styles/skepia/menu_arrow_down_brown.png"), url("../img/styles/skepia/backgrounds/menu-item-active.png");}
            .wrapper.skepia .menu .navigation.invert > li.openable.active{background-image: url("../img/styles/skepia/menu_arrow_up.png"), url("../img/styles/skepia/backgrounds/menu-item-active.png");border-color: #65533f; border-top-color: #514232; border-bottom: 1px solid #65533f;}
                .wrapper.skepia .menu .navigation.invert > li  a, .wrapper.skepia .menu .navigation.invert  span.text{color: #FFF !important;}

.wrapper.skepia .header .header_menu{margin-top: 8px}
    .wrapper.skepia .header .header_menu li.settings_icon{background-image: url("../img/styles/skepia/header_menu_eject.png");}
    .wrapper.skepia .header .header_menu li.list_icon{background-image: url("../img/styles/skepia/header_menu_list.png");}

    .wrapper.skepia ul.rows li.heading,
    .wrapper.skepia .modal-header{background-image: url("../img/styles/skepia/backgrounds/box-head.png"); border-color: #6b5945;}
    .wrapper.skepia .popup .head{background-image: url("../img/styles/skepia/backgrounds/box-head.png"); border-color: #6b5945;}
        .wrapper.skepia .popup .head .arrow{background-image: url("../img/styles/skepia/arrow.png");}
        .wrapper.skepia .header .header_menu li .popup .head .arrow{ background-image: url("../img/styles/skepia/arrow-top.png");}
        .wrapper.skepia .breadLine .buttons li .popup .head .arrow{ background-image: url("../img/styles/skepia/arrow-top.png");}

    .wrapper.skepia .ui-datepicker td .ui-state-default:hover{background-color: #746450; color: #FFF;}
    .wrapper.skepia .fc-event-skin,
    .wrapper.skepia .ui-datepicker td .ui-state-active{background-color: #6b5945; border-color: #6b5945; color: #FFF;}

    .wrapper.skepia .mCSB_scrollTools .mCSB_draggerRail{background-color: #6b5945;}

    .wrapper.skepia .content .workplace .head,
    .wrapper.skepia .ui-datepicker .ui-datepicker-header{background-image: url("../img/styles/skepia/backgrounds/box-head.png"); border-color: #6b5945;}
    .wrapper.skepia .content .workplace .head .buttons [class*="isw-"], .wrapper.orange .content .workplace .head .button [class*="isb-"]{border-color: #6b5945;}
    .wrapper.skepia .content .workplace .head .buttons li:active,
    .wrapper.skepia .content .workplace .head .buttons li.active{background-image: url("../img/styles/skepia/backgrounds/menu-item-active.jpg");}
    .wrapper.skepia .content .workplace .head .buttons li:active, .wrapper.orange .content .workplace .head .buttons li.active{background-image: url("../img/styles/skepia/backgrounds/box-head-active.png");}
    .wrapper.skepia .content .workplace .head .buttons > li.toggle a{border-color: #6b5945;background-image: url("../img/styles/skepia/menu_arrow_up.png");}
    .wrapper.skepia .content .workplace .head .buttons > li.toggle.active a{background-image: url("../img/styles/skepia/menu_arrow_down.png");}
    .wrapper.skepia .content .workplace .head .buttons li .dd-list{border-color: #6b5945; background-color: #455349;}
    .wrapper.skepia .content .workplace .head .buttons li .dd-list li{border-top: 1px solid #746450; border-bottom: 1px solid #6b5945;}
    .wrapper.skepia .content .workplace .head .buttons li .dd-list li a:hover{background-color: #6b5945;}

    .wrapper.skepia .widgetButtons .bb a{
                color: #FFF;
                border: 1px solid #455349;
                background: #7E8D80;
                background: -moz-linear-gradient(top, #746450 0%, #41392c 100%);
                background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#746450), color-stop(100%,#41392c));
                background: -webkit-linear-gradient(top, #746450 0%,#41392c 100%);
                background: -o-linear-gradient(top, #746450 0%,#41392c 100%);
                background: -ms-linear-gradient(top, #746450 0%,#41392c 100%);
                background: linear-gradient(top, #746450 0%,#41392c 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ADABAB', endColorstr='#41392c',GradientType=0 );
                -moz-box-shadow: 0 1px 1px #455349, 0px 1px 0 #746450 inset;
                -webkit-box-shadow: 0 1px 1px #455349, 0px 1px 0 #746450 inset;
                box-shadow: 0 1px 1px #455349, 0px 1px 0 #746450 inset;
    }

    .wrapper.skepia .btn{
        color: #fff;
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
        background-color: #fb841e;
        *background-color: #fb841e;
        background-image: -moz-linear-gradient(top, #fb841e, #da8a17);
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#d46f19), to(#d46f19));
        background-image: -webkit-linear-gradient(top, #fb841e, #d46f19);
        background-image: -o-linear-gradient(top, #fb841e, #d46f19);
        background-image: linear-gradient(to bottom, #fb841e, #d46f19);
        background-repeat: repeat-x;
        border-color: #d46f19 #d46f19 #a65512;
        border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb841e', endColorstr='#d46f19', GradientType=0);
        filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    }

    .wrapper.skepia .btn:hover,.wrapper.skepia .btn:active,.wrapper.skepia .btn.active,.wrapper.skepia .btn.disabled,.wrapper.skepia .btn[disabled] {
		color: #fff;
        background-color: #d46f19;
        *background-color: #d46f19;        
    }

    .wrapper.skepia .btn1{
        color: #4c4133;
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
        background-color: #ffdd00;
        *background-color: #ffdd00;
        background-image: -moz-linear-gradient(top, #ffdd00, #d8bc00);
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffdd00), to(#d8bc00));
        background-image: -webkit-linear-gradient(top, #ffdd00, #d8bc00);
        background-image: -o-linear-gradient(top, #ffdd00, #d8bc00);
        background-image: linear-gradient(to bottom, #ffdd00, #d8bc00);
        background-repeat: repeat-x;
        border-color: #41392c #41392c #1e1a14;
        border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdd00', endColorstr='#d8bc00', GradientType=0);
        filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    }

    .wrapper.skepia .btn1:hover,.wrapper.skepia .btn1:active,.wrapper.skepia .btn1.active,.wrapper.skepia .btn1.disabled,.wrapper.skepia .btn1[disabled] {
        color: #4c4133;
        background-color: #d8bc00;
        *background-color: #d8bc00;
    }

    .wrapper.skepia .btn2{
        color: #4c4133;
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
        background-color: #fdb913;
        *background-color: #fdb913;
        background-image: -moz-linear-gradient(top, #fdb913, #fba00a);
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fdb913), to(#fba00a));
        background-image: -webkit-linear-gradient(top, #fdb913, #fba00a);
        background-image: -o-linear-gradient(top, #fdb913, #fba00a);
        background-image: linear-gradient(to bottom, #fdb913, #fba00a);
        background-repeat: repeat-x;
        border-color: #fba00a #fba00a #dc8b08;
        border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdb913', endColorstr='#fba00a', GradientType=0);
        filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    }

    .wrapper.skepia .btn2:hover,.wrapper.skepia .btn2:active,.wrapper.skepia .btn2.active,.wrapper.skepia .btn2.disabled,.wrapper.skepia .btn2[disabled] {
        color: #4c4133;
        background-color: #fba00a;
        *background-color: #fba00a;
    }
    
    .wrapper.skepia .btn3{
        color: #fff;
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
        background-color: #fdb913;
        *background-color: #fdb913;
        background-image: -moz-linear-gradient(top, #ffa11b, #da8a17);
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffa11b), to(#da8a17));
        background-image: -webkit-linear-gradient(top, #ffa11b, #da8a17);
        background-image: -o-linear-gradient(top, #ffa11b, #da8a17);
        background-image: linear-gradient(to bottom, #ffa11b, #da8a17);
        background-repeat: repeat-x;
        border-color: #ffa11b #ffa11b #ce8315;
        border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffa11b', endColorstr='#da8a17', GradientType=0);
        filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    }

    .wrapper.skepia .btn3:hover,.wrapper.skepia .btn3:active,.wrapper.skepia .btn3.active,.wrapper.skepia .btn3.disabled,.wrapper.skepia .btn3[disabled] {
        color: #fff;
        background-color: #da8a17;
        *background-color: #da8a17;
    }
    
    .wrapper.skepia .btn4{
    color: #ffffff;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
        background-color: #746450;
        *background-color: #746450;
        background-image: -moz-linear-gradient(top, #746450, #41392c);
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#746450), to(#41392c));
        background-image: -webkit-linear-gradient(top, #746450, #41392c);
        background-image: -o-linear-gradient(top, #746450, #41392c);
        background-image: linear-gradient(to bottom, #746450, #41392c);
        background-repeat: repeat-x;
        border-color: #41392c #41392c #1e1a14;
        border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff746450', endColorstr='#ff41392c', GradientType=0);
        filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
        
        
    }

    .wrapper.skepia .btn4:hover,.wrapper.skepia .btn4:active,.wrapper.skepia .btn4.active,.wrapper.skepia .btn4.disabled,.wrapper.skepia .btn4[disabled] {        
        color: #fff;
        background-color: #41392c;
        *background-color: #41392c;
    }
    
    .wrapper.skepia .btn5{
        color: #fff;
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
        background-color: #7a6751;
        *background-color: #7a6751;
        background-image: -moz-linear-gradient(top, #957f65, #675745);
        background-image: -webkit-gradient(linear, 0 0, 0 100%, to(#957f65), to(#675745));
        background-image: -webkit-linear-gradient(top, #957f65, #675745);
        background-image: -o-linear-gradient(top, #957f65, #675745);
        background-image: linear-gradient(to bottom, #957f65, #675745);
        background-repeat: repeat-x;
        border-color: #7a6751 #7a6751 #7a6751;
        border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#957f65', endColorstr='#675745', GradientType=0);
        filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    }

    .wrapper.skepia .btn5:hover,.wrapper.skepia .btn5:active,.wrapper.skepia .btn5.active,.wrapper.skepia .btn5.disabled,.wrapper.skepia .btn5[disabled] {
        color: #fff;
        background-color: #675745;
        *background-color: #675745;
    }
    
    .wrapper.skepia .page-header h1{color: #6b5945;}

    .wrapper.skepia .navbar-inner{background-image: url("../img/styles/skepia/backgrounds/box-head.png"); border-color: #6b5945;}
    .wrapper.skepia .navbar .divider-vertical{border-left-color: #746450; border-right-color: #6b5945;}
    .wrapper.skepia .navbar .nav > .active > a,
    .wrapper.skepia .navbar .nav > .active > a:hover,
    .wrapper.skepia .navbar .nav > .active > a:focus,
    .wrapper.skepia .navbar .nav li.dropdown.open > .dropdown-toggle,
    .wrapper.skepia .navbar .nav li.dropdown.active > .dropdown-toggle,
    .wrapper.skepia .navbar .nav li.dropdown.open.active > .dropdown-toggle{background-image: url("../img/styles/skepia/backgrounds/box-head-active.png");}

    .wrapper.skepia .content{
        padding-top: 56px;
    }
    .wrapper.skepia .menu{
        margin-top: 56px;
    }
    .wrapper.skepia .header .logo {
        padding: 0;
    }
    .wrapper.skepia .header .logo img{
        height: 50px;
        margin-top: 3px;
    }
    .wrapper.skepia .header .appname{
        display: inline-block;
        font-weight: normal;
        height: 38px;
        line-height: 38px;
        font-size: 26px;
        margin-left: 40px;
        color: #fff;
    }
    .wrapper.skepia .header .appname .version{
        font-size: 10px;
    }

    /*data table*/
    .wrapper.skepia table, .wrapper.skepia .table-sorting {border-color: #AAA}
    .wrapper.skepia .table-sorting th,
    .wrapper.skepia .table-sorting .sorting,
    .wrapper.skepia .table-sorting .sorting_disabled,
    .wrapper.skepia .table-sorting .sorting_asc,
    .wrapper.skepia .table-sorting .sorting_desc,
    .wrapper.skepia .table-sorting .sorting_asc_disabled,
    .wrapper.skepia .table-sorting .sorting_desc_disabled{
        background: #f89425;
        border-right-color: #dd7216;
        color: #fff;
    }
    .wrapper.skepia .table-sorting  th a{
        color: #fff !important;
        display: block;
    }
    .wrapper.skepia .table-sorting .sorting:hover,
    .wrapper.skepia .table-sorting .sorting_disabled:hover,
    .wrapper.skepia .table-sorting .sorting_asc:hover,
    .wrapper.skepia .table-sorting .sorting_desc:hover,
    .wrapper.skepia .table-sorting .sorting_asc_disabled:hover,
    .wrapper.skepia .table-sorting .sorting_desc_disabled:hover{
        background-color: #FDB913;
    }
    
    .wrapper.skepia .table-sorting .table{border-top: 0 none; border-bottom: 1px solid #DDD;}

    .wrapper.skepia .table-sorting .sorting_asc{color: #fff; background: #f89425 url('../img/datatable/sort_asc.png') no-repeat center right; cursor: pointer;}
    .wrapper.skepia .table-sorting .sorting_desc{color: #fff; background: #f89425 url('../img/datatable/sort_desc.png') no-repeat center right; cursor: pointer;}
    .wrapper.skepia .table-sorting .sorting{color: #fff; background: #f89425 url('../img/datatable/sort_both.png') no-repeat center right; cursor: pointer;}
    .wrapper.skepia .table-sorting .sorting_asc_disabled{background: #f89425 url('../img/datatable/sort_asc_disabled.png') no-repeat center right;}
    .wrapper.skepia .table-sorting .sorting_desc_disabled{background: #f89425 url('../img/datatable/sort_desc_disabled.png') no-repeat center right;}


    /*pagination*/
    .table-sorting .dataTables_info{float: left; font-size: 11px; color: #333; padding: 8px 10px; line-height: 16px;}
    .table-sorting .pagination{padding: 5px 5px; text-align: right; margin: 0}
    .table-sorting .pagination span:last-child{
        float: left;
    }
    .table-sorting .pagination span:last-child select{
        width: auto;
    }

        .table-sorting .pagination .currentStep,
        .table-sorting .pagination .step,
        .table-sorting .pagination .nextLink,
        .table-sorting .pagination .prevLink
        {padding: 3px 5px; margin-left: 3px; font-size: 11px; color: #333;
                                                    border: 1px solid #DDD;
                                                    background: #F1F1F1;
                                                    background: -moz-linear-gradient(top, #F9F9F9 0%, #F1F1F1 100%);
                                                    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F9F9F9), color-stop(100%,#F1F1F1));
                                                    background: -webkit-linear-gradient(top, #F9F9F9 0%,#F1F1F1 100%);
                                                    background: -o-linear-gradient(top, #F9F9F9 0%,#F1F1F1 100%);
                                                    background: -ms-linear-gradient(top, #F9F9F9 0%,#F1F1F1 100%);
                                                    background: linear-gradient(top, #F9F9F9 0%,#F1F1F1 100%);
                                                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F9F9F9', endColorstr='#F1F1F1',GradientType=0 );
                                                  text-decoration: none;
                                                  cursor: pointer;
                                                 }

        .table-sorting .pagination .currentStep{color: #FFF !important;
                                                    border: 1px solid #777;
                                                    background: #858585;
                                                    background: -moz-linear-gradient(top, #999999 0%, #888888 100%);
                                                    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#999999), color-stop(100%,#888888));
                                                    background: -webkit-linear-gradient(top, #999999 0%,#888888 100%);
                                                    background: -o-linear-gradient(top, #999999 0%,#888888 100%);
                                                    background: -ms-linear-gradient(top, #999999 0%,#888888 100%);
                                                    background: linear-gradient(top, #999999 0%,#888888 100%);
                                                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff999999', endColorstr='#ff888888',GradientType=0 );
                                                 }

        .table-sorting .pagination .nextLink:hover,
        .table-sorting .pagination a.step:hover,
        .table-sorting .pagination .prevLink:hover{box-shadow: inset 0 1px 3px #ccc,0 1px 0 white; color: #666;}

        .table-sorting .pagination a.paginate_disabled_previous,
        .table-sorting .pagination a.paginate_button_disabled,
        .table-sorting .pagination a.paginate_disabled_next{cursor: default; color: #ccc;}

        .table-sorting .pagination a.paginate_button_disabled:hover{box-shadow: none; color: #ccc;}


/*NAVIGATION NESTED*/
    .navigation.nested ul{
        margin-left: 0;
        display: none;
    }
    .navigation.nested ul li.openable{
        /*background: url("../img/styles/skepia/menu_arrow_down.png") 198px 12px no-repeat, url("../img/styles/skepia/backgrounds/menu-item.png") left top repeat-x;*/
        background: none;
    }
    .navigation.nested ul li.openable:hover{
        /*background: url("../img/styles/skepia/menu_arrow_down.png") 198px 12px no-repeat, url("../img/styles/skepia/backgrounds/menu-item-active.png") left top repeat-x;*/
        background-color: none;
    }
    .navigation.nested ul > li a:hover{
        background-color: #f89425 !important;
    }
    .navigation.nested ul li.openable.active{
        /*background: none;*/
    }
    .navigation.nested ul li a{
        width: 219px !important;
    }
    .navigation.nested ul li a span.text{
        margin-left: 10px;
        width: 180px !important;
    }
    .navigation.nested ul li.openable > a > span.text{
        border-right: 1px solid #807768 !important;

    }
    .navigation.nested li > ul > li{
        background: #968a7b ;
        border-color: #7a7164 !important;
    }
    .navigation.nested li > ul > li > ul > li{
        background: #b1a495;
        border-color: #908579 !important;
    }
    .navigation.nested li > ul > li > ul > li > ul > li{
        background: #c3b9ac;
        border-color: #a49b90 !important;
    }
    .navigation.nested li > ul > li > ul > li > ul > li > ul > li{
        background: #d7cfc6;
        border-color: #bcb5ae !important;
    }
    .navigation.nested li > ul > li > ul > li > ul > li > ul > li > ul > li{
        background: #f6ede4;
        border-color: #d7cfc7 !important;
    }

    .navigation.nested li > ul > li > ul > li > ul > li > ul > li span.text{
        color: #524c43;
        -moz-text-shadow: none; -webkit-text-shadow: none; text-shadow: none;
    }

    .navigation.nested li > ul > li.openable > a, .navigation.nested li > ul > li.openable > a:hover{
        background: #968a7b url("../img/styles/skepia/menu_arrow_down_1.png") 199px 8px no-repeat;
    }
    .navigation.nested li > ul > li > ul > li.openable > a, .navigation.nested li > ul > li > ul > li.openable > a:hover{
       background: #b1a495 url("../img/styles/skepia/menu_arrow_down_2.png") 199px 8px no-repeat;
    }
    .navigation.nested li > ul > li > ul > li > ul > li.openable > a, .navigation.nested li > ul > li > ul > li > ul > li.openable > a:hover{
       background: #c3b9ac url("../img/styles/skepia/menu_arrow_down_3.png") 199px 8px no-repeat;
    }
    .navigation.nested li > ul > li > ul > li > ul > li > ul > li.openable > a, .navigation.nested li > ul > li > ul > li > ul > li > ul > li.openable > a:hover{
       background: #d7cfc6 url("../img/styles/skepia/menu_arrow_down_4.png") 199px 8px no-repeat;
    }
    .navigation.nested li > ul > li > ul > li > ul > li > ul > li > ul > li.openable > a, .navigation.nested li > ul > li > ul > li > ul > li > ul > li > ul > li.openable > a:hover{
       background: #f6ede4 url("../img/styles/skepia/menu_arrow_down_5.png") 199px 8px no-repeat;
    }

    .navigation.nested li > ul > li.openable.active > a{
        background: #968a7b url("../img/styles/skepia/menu_arrow_up_1.png") 199px 8px no-repeat;
    }
    .navigation.nested li > ul > li > ul > li.openable.active > a{
        background: #b1a495 url("../img/styles/skepia/menu_arrow_up_2.png") 199px 8px no-repeat;
    }
    .navigation.nested li > ul > li > ul > li > ul > li.openable.active > a{
        background: #c3b9ac url("../img/styles/skepia/menu_arrow_up_3.png") 199px 8px no-repeat;
    }
    .navigation.nested li > ul > li > ul > li > ul > li > ul > li.openable.active > a{
        background: #d7cfc6 url("../img/styles/skepia/menu_arrow_up_4.png") 199px 8px no-repeat;
    }
    .navigation.nested li > ul > li > ul > li > ul > li > ul > li > ul > li.openable.active > a{
        background: #f6ede4 url("../img/styles/skepia/menu_arrow_up_5.png") 199px 8px no-repeat;
    }

    .navigation.nested li > ul > li > a:hover, .navigation.nested li > ul > li.selected > a{
        background-color: #f87000 !important;
    }
    .navigation.nested li > ul > li > ul > li > a:hover, .navigation.nested li > ul > li > ul > li.selected > a{
        background-color: #f88e00 !important;
    }
    .navigation.nested li > ul > li > ul > li > ul > li > a:hover, .navigation.nested li > ul > li > ul > li > ul > li.selected > a{
        background-color: #fcaa00 !important;
    }
    .navigation.nested li > ul > li > ul > li > ul > li > ul > li > a:hover, .navigation.nested li > ul > li > ul > li > ul > li > ul > li.selected > a{
        background-color: #ffc801 !important;
    }
    .navigation.nested li > ul > li > ul > li > ul > li > ul > li > ul > li > a:hover, .navigation.nested li > ul > li > ul > li > ul > li > ul > li > ul > li.selected > a{
        background-color: #ffe300 !important;
    }

/*NAVIGATION INDENT*/
    .navigation.indent ul{
        margin-left: 0;
        display: none;
    }
    .navigation.indent ul li.openable{
        /*background: url("../img/styles/skepia/menu_arrow_down.png") 198px 12px no-repeat, url("../img/styles/skepia/backgrounds/menu-item.png") left top repeat-x;*/
        background: none;
    }
    .navigation.indent ul li.openable:hover{
        /*background: url("../img/styles/skepia/menu_arrow_down.png") 198px 12px no-repeat, url("../img/styles/skepia/backgrounds/menu-item-active.png") left top repeat-x;*/
        background: none;
    }
    .navigation.indent ul li.openable.active{
        /*background: none;*/
    }
    .navigation.indent ul li a{
        width: 219px !important;
    }
    .navigation.indent ul li a span.text{
        margin-left: 20px;
        width: 170px !important;
    }
    .navigation.indent ul li > ul > li > a span.text{
        margin-left: 35px;
        width: 155px !important;
    }
    .navigation.indent ul li > ul > li > ul > li > a span.text{
        margin-left: 50px;
        width: 140px !important;
    }
    .navigation.indent ul li > ul > li > ul > li > ul > li > a span.text{
        margin-left: 65px;
        width: 125px !important;
    }

    .navigation.indent li > ul li{
        background: #a89c8d ;
        border-color: #7a7164 !important;
        /*border: 0 none !important;*/
    }
    .navigation.indent ul li > ul > li > ul > li > ul > li{
        /*border: 0 none !important;*/
    }
    .navigation.indent li > ul > li.openable, .navigation.indent li > ul > li.openable:hover{
        background: #a89c8d url("../img/styles/skepia/menu_triangle_right.png") 5px 9px no-repeat;
    }
    .navigation.indent li > ul > li > ul > li.openable, .navigation.indent li > ul > li > ul > li.openable:hover{
        background: #a89c8d url("../img/styles/skepia/menu_triangle_right.png") 20px 9px no-repeat;
    }
    .navigation.indent li > ul > li > ul > li > ul > li.openable, .navigation.indent li > ul > li > ul > li > ul > li.openable:hover{
        background: #a89c8d url("../img/styles/skepia/menu_triangle_right.png") 35px 9px no-repeat;
    }
    .navigation.indent li > ul > li > ul > li > ul > li > ul > li.openable, .navigation.indent li > ul > li > ul > li > ul > li > ul > li.openable:hover{
        background: #a89c8d url("../img/styles/skepia/menu_triangle_right.png") 50px 9px no-repeat;
    }

    .navigation.indent li > ul > li.openable.active{
        background: #a89c8d url("../img/styles/skepia/menu_triangle_down.png") 5px 9px no-repeat;
    }
    .navigation.indent li > ul > li > ul > li.openable.active{
        background: #a89c8d url("../img/styles/skepia/menu_triangle_down.png") 20px 9px no-repeat;
    }
    .navigation.indent li > ul > li > ul > li > ul > li.openable.active{
        background: #a89c8d url("../img/styles/skepia/menu_triangle_down.png") 35px 9px no-repeat;
    }
    .navigation.indent li > ul > li > ul > li > ul > li > ul > li.openable.active{
        background: #a89c8d url("../img/styles/skepia/menu_triangle_down.png") 50px 9px no-repeat;
    }
/* skepia */
